pipeline/G2 Dataverse to DatabricksTEST BOMS.json
{
	"name": "G2 Dataverse to DatabricksTEST BOMS",
	"properties": {
		"activities": [
			{
				"name": "IsNewData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": {
							"value": "@concat('<fetch><entity name=\"ww_billofmaterials\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',pipeline().parameters.triggerStart,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',pipeline().parameters.triggerEnd,'\"/></filter></entity></fetch>')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "BOM",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition BOMS",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IsNewData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('IsNewData').output, 'firstRow')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "BOM_copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "CommonDataServiceForAppsSource",
									"query": "@concat('<fetch><entity name=\"ww_billofmaterials\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',pipeline().parameters.triggerStart,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',pipeline().parameters.triggerEnd,'\"/></filter></entity></fetch>')"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "BOM",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_IOT_TEST_ww_billofmaterials",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "bronze-silver-gold_copy",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "BOM_copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/databricks-sp-iot-test/adb-iot/ETL/azure-data-factory/dataverse-bronze-silver-gold",
								"baseParameters": {
									"END_TIMESTAMP": "@pipeline().parameters.triggerEnd",
									"MODIFIEDON_COLUMN": "@pipeline().parameters.modifiedonColumn",
									"PARTITION_COLUMN": "@pipeline().parameters.partitionColumn",
									"TABLE_NAME": "@pipeline().parameters.tableName",
									"SECONDARY_PARTITION": "@pipeline().parameters.partitionBySecondary",
									"SECONDARY_PARTITION_NAME": "@pipeline().parameters.secondaryPartitionColumnName"
								}
							},
							"linkedServiceName": {
								"referenceName": "adb_iot_test",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"triggerStart": {
				"type": "string"
			},
			"triggerEnd": {
				"type": "string"
			},
			"modifiedonColumn": {
				"type": "string",
				"defaultValue": "modifiedon"
			},
			"partitionColumn": {
				"type": "string",
				"defaultValue": "ww_billofmaterialsid"
			},
			"tableName": {
				"type": "string",
				"defaultValue": "ww_billofmaterials"
			},
			"partitionBySecondary": {
				"type": "string",
				"defaultValue": "false"
			},
			"secondaryPartitionColumnName": {
				"type": "string",
				"defaultValue": "false"
			}
		},
		"annotations": []
	}
}