pipeline/ww_bottlebatchsummary_testing_3.json
{
	"name": "ww_bottlebatchsummary_testing_3",
	"properties": {
		"activities": [
			{
				"name": "ww_bottlebatchsummary_testing_2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last modifiedon",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": {
							"value": "<fetch>\n  <entity name=\"ww_bottlebatchsummary\">\n    <all-attributes />\n    <filter>\n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\n    </filter>\n  </entity>\n</fetch>\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ww_bottlebatchsummaryid"
							]
						},
						"sqlWriterUseTableLock": true
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "createdon",
									"type": "DateTime"
								},
								"sink": {
									"name": "createdon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "modifiedon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32"
								},
								"sink": {
									"name": "statuscode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_amount",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_amount",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_billofmaterials",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_billofmaterials",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_bottlebatch",
									"type": "String"
								},
								"sink": {
									"name": "ww_bottlebatch",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_bottlebatchsummaryid",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_bottlebatchsummaryid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_bottlebatchsummaryname",
									"type": "String"
								},
								"sink": {
									"name": "ww_bottlebatchsummaryname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_comments",
									"type": "String"
								},
								"sink": {
									"name": "ww_comments",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_importsequencenumber",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_importsequencenumber",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_deleteline",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_deleteline",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_eanbarcode",
									"type": "String"
								},
								"sink": {
									"name": "ww_eanbarcode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_hunumber",
									"type": "String"
								},
								"sink": {
									"name": "ww_hunumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_moldcode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_moldcode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_moldid",
									"type": "String"
								},
								"sink": {
									"name": "ww_moldid",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_operatorcode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_operatorcode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_palletid",
									"type": "String"
								},
								"sink": {
									"name": "ww_palletid",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_productiondate",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_productiondate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_productionline",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_productionline",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_reasonfordeletion",
									"type": "String"
								},
								"sink": {
									"name": "ww_reasonfordeletion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_stockcode",
									"type": "String"
								},
								"sink": {
									"name": "ww_stockcode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_supplierproductcode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_supplierproductcode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_timeloaded",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_timeloaded",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "BottleBatchSummary",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "wwsql003_ww_bottlebatchsummary_testing",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Last modifiedon",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)) AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_bottlebatchsummary_testing];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "wwsql003_ww_bottlebatchsummary_testing",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ww_bottlebatchsummary_testing_2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_ww_bottlebatchsummary_testing_2]"
				},
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}