DataVerseToSQL/linkedTemplates/ArmTemplate_11.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		},
		"downtimes_databricksTEST_15mins_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"downtimes_databricksTEST_15mins_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"downtimes_databricksTEST_15mins_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"downtimes_databricksTEST_15mins_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "crc5d_guid"
		},
		"downtimes_databricksTEST_15mins_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "crc5d_newtable"
		},
		"downtimes_databricksTEST_15mins_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"downtimes_databricksTEST_15mins_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"runstartends_databricksTEST_15min_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"runstartends_databricksTEST_15min_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"runstartends_databricksTEST_15min_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"runstartends_databricksTEST_15min_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "crc5d_runstartend"
		},
		"runstartends_databricksTEST_15min_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "crc5d_runstartend"
		},
		"runstartends_databricksTEST_15min_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"runstartends_databricksTEST_15min_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"test_ww_billofmaterials_1hour_properties_G2 Dataverse to DatabricksTEST BOMS_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"test_ww_billofmaterials_1hour_properties_G2 Dataverse to DatabricksTEST BOMS_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"test_ww_billofmaterials_1hour_properties_G2 Dataverse to DatabricksTEST BOMS_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"test_ww_billofmaterials_1hour_properties_G2 Dataverse to DatabricksTEST BOMS_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "ww_billofmaterialsid"
		},
		"test_ww_billofmaterials_1hour_properties_G2 Dataverse to DatabricksTEST BOMS_parameters_tableName": {
			"type": "string",
			"defaultValue": "ww_billofmaterials"
		},
		"test_ww_billofmaterials_1hour_properties_G2 Dataverse to DatabricksTEST BOMS_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"test_ww_billofmaterials_1hour_properties_G2 Dataverse to DatabricksTEST BOMS_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"test_ww_run_1hour_properties_G2 Dataverse to DatabricksTEST Run_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"test_ww_run_1hour_properties_G2 Dataverse to DatabricksTEST Run_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"test_ww_run_1hour_properties_G2 Dataverse to DatabricksTEST Run_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"test_ww_run_1hour_properties_G2 Dataverse to DatabricksTEST Run_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "ww_runid"
		},
		"test_ww_run_1hour_properties_G2 Dataverse to DatabricksTEST Run_parameters_tableName": {
			"type": "string",
			"defaultValue": "ww_run"
		},
		"test_ww_run_1hour_properties_G2 Dataverse to DatabricksTEST Run_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"test_ww_run_1hour_properties_G2 Dataverse to DatabricksTEST Run_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"iot-test-trigger-window_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"iot-test-trigger-window_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ww_supervisorsignoffbom')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Supervisor Signoff BOM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "crc5d_checkbottlelasercodelegible",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_checkbottlelasercodelegible",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_correctppe",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_correctppe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alldgremoved",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_alldgremoved",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_anycapbottlechanges",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_anycapbottlechanges",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										},
										"sink": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottleregisterchecked",
											"type": "String"
										},
										"sink": {
											"name": "ww_Bottleregisterchecked",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertankgassig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertankgassig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_checkbottlelasercodelegibleandcorrect",
											"type": "String"
										},
										"sink": {
											"name": "ww_Checkbottlelasercodelegibleandcorrect",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corktimingsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corktimingsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkervacuumpulledinbottles",
											"type": "String"
										},
										"sink": {
											"name": "ww_Corkervacuumpulledinbottles",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_isthisrunorganicvegan",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_IsthisrunOrganicVegan",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_labelpreflightchecksheetcompletedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_labelpreflightchecksheetcompletedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_notes",
											"type": "String"
										},
										"sink": {
											"name": "ww_notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pumpflow",
											"type": "String"
										},
										"sink": {
											"name": "ww_pumpflow",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rimdetection",
											"type": "String"
										},
										"sink": {
											"name": "ww_Rimdetection",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsergassupplyccp1",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_RinserGasSupplyCCP1",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sterilecabin",
											"type": "String"
										},
										"sink": {
											"name": "ww_SterileCabin",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffbomid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_supervisorsignoffbomid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_typeofchange",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Typeofchange",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_volumedifference",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_volumedifference",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SupervisorSignoffBOM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_supervisorsignoffbom",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_supervisorsignoffbom]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_supervisorsignoffbom]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_supervisorsignoffbomhourlycheck')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Supervisor Signoff BOM Hourly Check",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource",
								"query": "<fetch xmlns:generator='MarkMpn.SQL4CDS'>\n  <entity name='ww_supervisorsignoffbomhourlycheck'>\n    <all-attributes />\n    <filter>\n      <condition attribute='ww_billofmaterials' operator='not-null' />\n    </filter>\n  </entity>\n</fetch>"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_allknivesbladesandscissorslabelled",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Allknivesbladesandscissorslabelled",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_allrinserjetsworkingccp1100",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_AllrinserjetsworkingCCP1100",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_anybrokenglassinthemachines",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Anybrokenglassinthemachines",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_BillofMaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlelasercode",
											"type": "String"
										},
										"sink": {
											"name": "ww_Bottlelasercode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlesincartongluestriplabelsandprintco",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_BottlesincartonGluestripLabelsandPrintco",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_comments",
											"type": "String"
										},
										"sink": {
											"name": "ww_Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_correctlabelheightandgaps",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Correctlabelheightandgaps",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_depalbottlerecordfilledoutcorrectly",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Depalbottlerecordfilledoutcorrectly",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillerrecordfilledoutcorrectly",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Fillerrecordfilledoutcorrectly",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_labelinkjetcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_Labelinkjetcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labellerrecordfilledoutcorrectly",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Labellerrecordfilledoutcorrectly",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_OperatorCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pallettypestackingpatternslipsheetandwrap",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_PallettypeStackingpatternSlipsheetandwrap",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_ppewornnoeatingdrinkingchewinggum",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_PPEwornnoeatingdrinkingchewinggum",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_Reasonfordeletion",
											"type": "String"
										},
										"sink": {
											"name": "ww_Reasonfordeletion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_screwcapperclearanceccp2inspec2530mm",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_ScrewcapperclearanceCCP2inspec2530mm",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffbomhourlycheckid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_SupervisorSignoffBOMHourlyCheckId",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffhourlychecknae",
											"type": "String"
										},
										"sink": {
											"name": "ww_SupervisorSignoffHourlyCheckNae",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_timeofcheck",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_Timeofcheck",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SupervisorSignoffbomhourlycheck",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_supervisorsignoffbomhourlycheck",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM Hourly Check",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_supervisorsignoffbomhourlycheck]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM Hourly Check",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_supervisorsignoffbomhourlycheck]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_tanker')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Tanker",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_inactive",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_inactive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_site",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_site",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_tankerid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_tankerid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_volume",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_volume",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Tanker",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_tanker",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Tanker",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_tanker]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure Tanker",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Tanker",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_tanker]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_winery')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_winery]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Winery",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_location",
											"type": "String"
										},
										"sink": {
											"name": "ww_location",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_wineryid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_wineryid",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Winery",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_winery",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Winery",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ww_winery]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure Winery",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Winery",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/downtimes_databricksTEST_15mins')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "G2 Dataverse to DatabricksTEST Downtimes",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('downtimes_databricksTEST_15mins_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('downtimes_databricksTEST_15mins_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('downtimes_databricksTEST_15mins_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('downtimes_databricksTEST_15mins_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('downtimes_databricksTEST_15mins_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('downtimes_databricksTEST_15mins_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('downtimes_databricksTEST_15mins_properties_pipeline_parameters_secondaryPartitionColumnName')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 15,
					"startTime": "2024-09-30T21:30:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/runstartends_databricksTEST_15min')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "G2 Dataverse to Databricks RunStartEndsTEST",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('runstartends_databricksTEST_15min_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('runstartends_databricksTEST_15min_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('runstartends_databricksTEST_15min_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('runstartends_databricksTEST_15min_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('runstartends_databricksTEST_15min_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('runstartends_databricksTEST_15min_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('runstartends_databricksTEST_15min_properties_pipeline_parameters_secondaryPartitionColumnName')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 15,
					"startTime": "2024-10-14T19:30:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_ww_billofmaterials_1hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "G2 Dataverse to DatabricksTEST BOMS",
							"type": "PipelineReference"
						},
						"parameters": {
							"triggerStart": "[parameters('test_ww_billofmaterials_1hour_properties_G2 Dataverse to DatabricksTEST BOMS_parameters_triggerStart')]",
							"triggerEnd": "[parameters('test_ww_billofmaterials_1hour_properties_G2 Dataverse to DatabricksTEST BOMS_parameters_triggerEnd')]",
							"modifiedonColumn": "[parameters('test_ww_billofmaterials_1hour_properties_G2 Dataverse to DatabricksTEST BOMS_parameters_modifiedonColumn')]",
							"partitionColumn": "[parameters('test_ww_billofmaterials_1hour_properties_G2 Dataverse to DatabricksTEST BOMS_parameters_partitionColumn')]",
							"tableName": "[parameters('test_ww_billofmaterials_1hour_properties_G2 Dataverse to DatabricksTEST BOMS_parameters_tableName')]",
							"partitionBySecondary": "[parameters('test_ww_billofmaterials_1hour_properties_G2 Dataverse to DatabricksTEST BOMS_parameters_partitionBySecondary')]",
							"secondaryPartitionColumnName": "[parameters('test_ww_billofmaterials_1hour_properties_G2 Dataverse to DatabricksTEST BOMS_parameters_secondaryPartitionColumnName')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2024-11-26T21:00:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_ww_run_1hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "G2 Dataverse to DatabricksTEST Run",
							"type": "PipelineReference"
						},
						"parameters": {
							"triggerStart": "[parameters('test_ww_run_1hour_properties_G2 Dataverse to DatabricksTEST Run_parameters_triggerStart')]",
							"triggerEnd": "[parameters('test_ww_run_1hour_properties_G2 Dataverse to DatabricksTEST Run_parameters_triggerEnd')]",
							"modifiedonColumn": "[parameters('test_ww_run_1hour_properties_G2 Dataverse to DatabricksTEST Run_parameters_modifiedonColumn')]",
							"partitionColumn": "[parameters('test_ww_run_1hour_properties_G2 Dataverse to DatabricksTEST Run_parameters_partitionColumn')]",
							"tableName": "[parameters('test_ww_run_1hour_properties_G2 Dataverse to DatabricksTEST Run_parameters_tableName')]",
							"partitionBySecondary": "[parameters('test_ww_run_1hour_properties_G2 Dataverse to DatabricksTEST Run_parameters_partitionBySecondary')]",
							"secondaryPartitionColumnName": "[parameters('test_ww_run_1hour_properties_G2 Dataverse to DatabricksTEST Run_parameters_secondaryPartitionColumnName')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2024-11-26T21:00:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every 10 minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ww_bottlebatchsummary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_runreportbottlelabelpack",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2023-02-13T23:06:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every 30 Minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ww_cartonusage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_cartonusagedetail",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysisrecheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_tanker",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_site",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_filleroperation",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcendofrun",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qchourlycheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcrecheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcstartup",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_run",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_stockcheckin",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_stockcheckinentry",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_supervisorsignoff",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_supervisorsignoffbom",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_closurebatchsummary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_hourlylabellinglogsheet",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_hourlytorqueandvolume",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labelchange",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labellingissues",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labellingpreflight",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operator",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysisgasadjustments",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlinghourly",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlingdowntime",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlingbreakage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysissignoff",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_billofmaterials",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_bottlebatchrejects",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_palletstacking",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysissulphuradj",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_supervisorsignoffbomhourlycheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_hourlycartonusage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_palletstackinghourly",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysis",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_winery",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2021-04-14T01:45:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ww_tanker')]",
				"[concat(variables('factoryId'), '/pipelines/ww_supervisorsignoffbom')]",
				"[concat(variables('factoryId'), '/pipelines/ww_supervisorsignoffbomhourlycheck')]",
				"[concat(variables('factoryId'), '/pipelines/ww_winery')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every Half Hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "BOM",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ProductionLine",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Site",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_auditlog",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2021-03-25T12:31:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/iot-test-trigger-window')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "IOT_TEST_CDC_databricks",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('iot-test-trigger-window_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('iot-test-trigger-window_properties_pipeline_parameters_triggerEnd')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 1,
					"startTime": "2024-01-29T22:00:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		}
	]
}