DataVerseToSQL/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/QC Start Up')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "QC Start Up",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_qcstartupname",
											"type": "String"
										},
										"sink": {
											"name": "QC Start Up Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alcoholpercentage",
											"type": "Decimal"
										},
										"sink": {
											"name": "Alcohol percentage",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_bottlealcoholfirsttank",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottle alcohol 1st Tank",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_bottlecodeandguiderailsset",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Code and Guide Rails Set",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlecoderrunningandlegible",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Coder Running and Legible",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_codeheight",
											"type": "String"
										},
										"sink": {
											"name": "Code Height",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_countzeroed",
											"type": "String"
										},
										"sink": {
											"name": "Count Zeroed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cunos",
											"type": "Int32"
										},
										"sink": {
											"name": "Cunos",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_cunosyesno",
											"type": "Boolean"
										},
										"sink": {
											"name": "CunosYesNo",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_microsneeded",
											"type": "Int32"
										},
										"sink": {
											"name": "Micros needed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_microsneededyesno",
											"type": "Boolean"
										},
										"sink": {
											"name": "Micros needed Yes No",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_noticerequired",
											"type": "String"
										},
										"sink": {
											"name": "Notice Required",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "Production Line",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rockstopper",
											"type": "Int32"
										},
										"sink": {
											"name": "Rockstopper",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rockstopperyesno",
											"type": "Boolean"
										},
										"sink": {
											"name": "RockstopperYesNo",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_blsampleattachedtospecsheet",
											"type": "String"
										},
										"sink": {
											"name": "Sample Attached to Spec Sheet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_wecs",
											"type": "Int32"
										},
										"sink": {
											"name": "WECS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_wecsyesno",
											"type": "Boolean"
										},
										"sink": {
											"name": "WECSYesNo",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_qcstartupid",
											"type": "Guid"
										},
										"sink": {
											"name": "QC Start Up",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "Run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_winemakersignatureid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_winemakersignatureid",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "QCStartUp",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_QCStartUp",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "QC Start Up",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sp_QC Start Up]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "QC Start Up",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-09-28T01:48:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run Report - BottleLabelPack')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run Report - BottleLabelPack",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "Bill of Materials ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cases1",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases2",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases3",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases4",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases5",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal1",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal2",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal3",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal4",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal5",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_internalnotes",
											"type": "String"
										},
										"sink": {
											"name": "Internal Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins1",
											"type": "Int32"
										},
										"sink": {
											"name": "Pallets / Bins 1",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins2",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins3",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins4",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins5",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining2",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining3",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 3",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining4",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 4",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining5",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 5",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pluscasesdispatchedoffline",
											"type": "Decimal"
										},
										"sink": {
											"name": "Plus Cases dispatched off line",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_productionnotes",
											"type": "String"
										},
										"sink": {
											"name": "Production Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_runcompleted",
											"type": "String"
										},
										"sink": {
											"name": "Run Completed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_runreportsig",
											"type": "String"
										},
										"sink": {
											"name": "Run Report Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_totalcasesproduced",
											"type": "Decimal"
										},
										"sink": {
											"name": "Total Cases Produced",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_totalcasestowarehouse",
											"type": "Decimal"
										},
										"sink": {
											"name": "Total Cases To Warehouse",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_runreportbottlelabelpackid",
											"type": "Guid"
										},
										"sink": {
											"name": "Run Report - Bottle/Label/Pack",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Material",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ProductionLineId",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RunReportBottleLabelPack",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_RunReportBottleLabelPack",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run Report - BottleLabelPack",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Run Report - Bottle/Label/Pack]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Run Report - BottleLabelPack",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-21T23:55:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_runid",
											"type": "Guid"
										},
										"sink": {
											"name": "Run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_runnumber",
											"type": "String"
										},
										"sink": {
											"name": "RunNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rundate",
											"type": "DateTime"
										},
										"sink": {
											"name": "RunDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_workorderid",
											"type": "Int32"
										},
										"sink": {
											"name": "WorkOrderID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_workordertype",
											"type": "String"
										},
										"sink": {
											"name": "WorkOrderType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_vintage",
											"type": "String"
										},
										"sink": {
											"name": "Vintage",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_variety",
											"type": "String"
										},
										"sink": {
											"name": "Variety",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_runproductionline",
											"type": "Guid"
										},
										"sink": {
											"name": "ProductionLine",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_completed",
											"type": "Boolean"
										},
										"sink": {
											"name": "Completed",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Run",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_Run",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Run]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Run",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-04T22:21:40Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Runs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Runs",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "ww_run"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": " select  CAST(0 as BIT) as [Micros Needed]\n \n ,cast(  CASE  \n\twhen ProductionLineId=1 then '95532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=2 then '98532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=3 then '99532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=4 then '9a532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=5 then '9c532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=6 then '9d532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=7 then '9e532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=8 then '9f532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=9 then 'a0532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=10 then 'a1532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=11 then 'a2532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=12 then 'a3532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=13 then 'a5532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=14 then 'a6532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=15 then 'a7532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=16 then 'a8532c19-019c-eb11-b1ac-000d3a6ae149'\n\nend as UNIQUEIDENTIFIER)  ProductionLineGUID ,cast(0 as int) as [Status],*\n, CONVERT(datetime, \n               SWITCHOFFSET(CONVERT(datetimeoffset, \n                                    DateAdd(hh,-12,LastUpdatedOn) AT TIME ZONE 'New Zealand Standard Time'), \n                            DATENAME(TzOffset, SYSDATETIMEOFFSET()))) [lastUpdatedOnNZST] from (\n\tSELECT \n        bwo.Id as ProductionWorkOrderId,\n\t\t'Bottling' workOrderType,\n        pl.id as ProductionLineId,\n\t\tcast(0 as bit) PendingUpdate,\n        cast(CONVERT(BINARY(16), REVERSE(CONVERT(BINARY(16),BWO.Id, 1000))) as uniqueidentifier) [Run Id],\n        cast(book.ExpectedStartDateTime as Date) as RunDate,\n        book.ProductionRunNumber,\n\t\tcast(getdate() as DateTime) as LastCopied,\n        cast(CASE \nwhen ProductionLineId=1 then '95532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=2 then '98532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=3 then '99532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=4 then '9a532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=5 then '9c532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=6 then '9d532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=7 then '9e532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=8 then '9f532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=9 then 'a0532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=10 then 'a1532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=11 then 'a2532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=12 then 'a3532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=13 then 'a5532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=14 then 'a6532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=15 then 'a7532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen ProductionLineId=16 then 'a8532c19-019c-eb11-b1ac-000d3a6ae149'\n\n\n       END as uniqueidentifier\n                ) ProductionLine,\n        [site].Name as [Site],\n        co.Name as Client,\n\t\tco.[WWCode] + ' - ' + co.[Name] AS [Customer ID],\n        co.WWCode as ClientWWCode,\n        bwo.ClientWorkOrderReference,\n        v.Name as Variety,\n        vi.Name + ' ' + v.Name VintageVariety,\n        bwo.WineVolume,\n        cast(bwo.Active as int) StateCode,\n        bwo.AdditionalInstructions,\n        bgct.Name as BottleGasCoverType,\n        bwo.CarbonationSaturation,\n        bwo.ClientBatchCode,\n\t\tSUBSTRING((SELECT ','+lc.Name  AS [text()] FROM companies.BottlingWorkOrderComplexity cc inner join lookups.BottlingWorkOrderComplexity lc ON lc.id=cc.ComplexityId \n\t\tWHERE cc.BottlingWorkOrderId= bwo.Id FOR XML PATH (''), TYPE).value('text()[1]','nvarchar(max)'), 2, 1000) WineHandling,\n        bwo.CO2ReceivalSpecification,\n        bwo.CreatedBy,\n        bwo.CreatedOn,\n        bwo.ExonetIntegrationError,\n        bwo.ExonetSalesOrderNumber,\n        bwo.LastCellarFilterDate,\n        NULL as Organic,\n        bwo.PushedToExonet,\n        bwo.PushedToExonetDate,\n        bwo.PushedToScale,\n        bwo.PushedToScaleDate,\n        bwo.RequestorName,\n        bwo.ScaleIntegrationError,\n        bwo.SO2ReceivalSpecification,\n        bwo.StartupWinemaker,\n        bwo.UpdatedBy,\n        bwo.UpdatedOn,\n        vi.Name as Vintage,\n        bft.Name as BottlingFiltrationType,\n        cft.Name as CellarFiltrationType,\n        ec.Name as ExportCertification,\n\t\tNULL AS [QuantityCases],\n        NULL [UseAllStock],\n        NULL [CaseVariability],\n        NULL  AS [FullProductName],\n        NULL  AS [PackType],\n        NULL  AS [RunLine],\n        NULL  AS [FinishedGoodsStockCode],\n        NULL  AS [StockToConsumeLotRunNo],\n        NULL  AS  [StockToConsumeStockCode],\n        NULL  AS  [StockToConsumeStockCodeDescription],\n        NULL AS [StockToConsumeCaseVariability],\n        NULL as [End Market],\n        (SELECT Max(v) FROM (VALUES (bwo.UpdatedOn)) AS value(v)) as [LastUpdatedOn]\n        FROM\n        companies.BottlingWorkOrder bwo\n        left join companies.Company co on bwo.CompanyId = co.Id\n        left join lookups.Site [site] on bwo.SiteId = [site].Id\n        left join companies.ProductionBooking book on bwo.Id = book.BottlingWorkOrderId\n        left join lookups.ProductionLine pl on book.ProductionLineId = pl.Id\n        left join lookups.Variety v on bwo.VarietyId = v.Id\n        left join lookups.Vintage vi on bwo.VintageId = vi.Id\n        left join lookups.WorkOrderStatus stat on bwo.WorkOrderStatusId = stat.Id\n        left join lookups.BottleGasCoverType bgct on bwo.BottleGasCoverTypeId = bgct.Id\n        left join companies.BottlingFiltrationType bft on bwo.BottlingFiltrationTypeId = bft.Id\n        left join companies.CellarFiltrationType cft on bwo.CellarFiltrationTypeId = cft.Id\n        left join lookups.ExportCertification ec on bwo.ExportCertificationId = ec.Id\n        WHERE  cast(book.ExpectedStartDateTime as Date) > getdate() - 14\n    \n    UNION ALL\n\n    SELECT  \n        rwo.[Id] as ProductionWorkOrderId,\n        'ReWork' workOrderType,\n        book.ProductionLineId,\n\t\tcast(0 as bit) PendingUpdate,\n        cast(CONVERT(BINARY(16), REVERSE(CONVERT(BINARY(16),rwo.Id, 1000))) as uniqueidentifier) [Run Id],\n  \t\tcast(book.ExpectedStartDateTime as Date) as [RunDate],\n\n        rwo.ProductionRunNumber [ProductionRunNumber],\n\t\tcast(getdate() as DateTime) as LastCopied,\n        cast(\n        CASE \nwhen PL.ID=1 then '95532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=2 then '98532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=3 then '99532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=4 then '9a532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=5 then '9c532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=6 then '9d532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=7 then '9e532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=8 then '9f532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=9 then 'a0532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=10 then 'a1532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=11 then 'a2532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=12 then 'a3532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=13 then 'a5532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=14 then 'a6532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=15 then 'a7532c19-019c-eb11-b1ac-000d3a6ae149'\n\twhen PL.ID=16 then 'a8532c19-019c-eb11-b1ac-000d3a6ae149'\n\n        END as uniqueidentifier) ProductionLine,\n        [site].Name as [Site],\n        c.[Name] AS [Client],\n        c.[WWCode] + ' - ' + c.[Name] AS [Customer ID],\n        c.[WWCode] ClientWWCode,\n        rwo.[ClientWorkOrderReference],\n        V.Name as [Variety],\n        vi.Name + ' ' + v.Name VintageVariety,\n        rwo.CasesToCreate*335.0 WineVolume, --How to calculate from cases to create\n        cast(rwo.Active as int) StateCode,\n        rwo.AdditionalInstructions,\n        NULL as BottleGasCoverType,\n        NULL as CarbonationSaturation,\n        NULL as ClientBatchCode,\n\t\tSUBSTRING((SELECT ','+lc.Name  AS [text()] FROM companies.BottlingWorkOrderComplexity cc inner join lookups.BottlingWorkOrderComplexity lc ON lc.id=cc.ComplexityId \n\t\tWHERE cc.BottlingWorkOrderId= rwo.Id FOR XML PATH (''), TYPE).value('text()[1]','nvarchar(max)'), 2, 1000) WineHandling,\n        NULL as CO2ReceivalSpecification,\n        NULL as CreatedBy,\n        NULL as CreatedOn,\n        NULL as ExonetIntegrationError,\n        NULL as ExonetSalesOrderNumber,\n        NULL as LastCellarFilterDate,\n        NULL as Organic,\n        NULL as PushedToExonet,\n        NULL as PushedToExonetDate,\n        NULL as PushedToScale,\n        NULL as PushedToScaleDate,\n        NULL as RequestorName,\n        NULL as ScaleIntegrationError,\n        NULL as SO2ReceivalSpecification,\n        NULL as StartupWinemaker,\n        rwo.UpdatedBy,\n        rwo.UpdatedOn,\n        NULL as Vintage,\n        NULL as BottlingFiltrationType,\n        NULL as CellarFiltrationType,\n        NULL as ExportCertification,\n        rwo.[CasesToCreate] AS [QuantityCases],\n        rwo.[UseAllStock],\n        CASE WHEN rwo.[UseAllStock] = 0 THEN 'Exact' ELSE 'Use All Stock' END AS [CaseVariability],\n        bom.[StockCodeDescription] AS [FullProductName],\n        bom.[BottlesPerCarton] AS [PackType],\n        pl.[Name] AS [RunLine],\n        bom.[StockCode] AS [FinishedGoodsStockCode],\n        rwo.[StockToConsumeLot] AS [StockToConsumeLotRunNo],\n        cast(conbom.StockCode as nvarchar) [StockToConsumeStockCode],\n        cast(conbom.StockCodeDescription as nvarchar) [StockToConsumeStockCodeDescription],\n        cast(cv.Name as nvarchar) as StockToConsumeCaseVariability,\n        M.WWCode [End Market],\n        (SELECT Max(v) FROM (VALUES (rwo.UpdatedOn), (bom.UpdatedOn)) AS value(v)) as [LastUpdatedOn]\n        FROM [companies].[LabellingOrReworkOrder] rwo\n        INNER JOIN companies.BillOfMaterial conbom on rwo.StockToConsumeBomId =conbom.Id\n        INNER JOIN companies.[Company] AS c ON c.[Id] = rwo.[CompanyId]\n        INNER JOIN companies.[BillOfMaterial] bom ON rwo.[StockToCreateId] = bom.[Id]\n        INNER JOIN companies.ProductionBooking book on rwo.Id = book.LabellingOrReworkOrderId\n        LEFT JOIN companies.ProductionBooking wobook on rwo.ProductionRunNumber =wobook.ProductionRunNumber and wobook.TypeId = 1\n        LEFT JOIN companies.BottlingWorkOrderLine bwol on bwol.BillOfMaterialId = conbom.Id and bwol.BottlingWorkOrderId = wobook.BottlingWorkOrderId\n        LEFT JOIN [lookups].[CaseVariability] cv on bwol.CaseVariabilityId = cv.Id\n        left join lookups.Site [site] on rwo.SiteId = [site].Id\n        left join lookups.ProductionLine pl on book.ProductionLineId = pl.Id\n        left join lookups.Variety v on book.VarietyId = v.Id\n        left join lookups.Vintage vi on book.VintageId = vi.Id\n        left join lookups.WorkOrderStatus stat on rwo.WorkOrderStatusId = stat.Id\n        join lookups.Market M on M.Id= bom.MarketId \n        where cast(book.ExpectedStartDateTime as Date) > getdate() - 14)a",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "CommonDataServiceForAppsSink",
								"writeBatchSize": 10,
								"writeBehavior": "upsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "StateCode",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "statecode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ClientWWCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ww_clientcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Client",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ww_clientname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ClientWorkOrderReference",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ww_clientworkorderreference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastCopied",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ww_lastcopied",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Micros Needed",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ww_microsneeded",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "PendingUpdate",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ww_pendingupdate",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "RunDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "ww_rundate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Run Id",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "ww_runid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ProductionRunNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ww_runnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ProductionLineGUID",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "ww_runproductionline",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "StockToConsumeCaseVariability",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ww_stocktoconsumecasevariability",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StockToConsumeLotRunNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ww_stocktoconsumerun",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StockToConsumeStockCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ww_stocktoconsumestockcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StockToConsumeStockCodeDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ww_stocktoconsumestockcodedescription",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Variety",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ww_variety",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Vintage",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ww_vintage",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VintageVariety",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ww_vintagevariety",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WineHandling",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ww_winehandling",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ProductionWorkOrderId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ww_workorderid",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "workOrderType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ww_workordertype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastUpdatedOn",
											"type": "DateTimeOffset",
											"physicalType": "datetimeoffset"
										},
										"sink": {
											"name": "ww_workorderupdatedon",
											"type": "DateTime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "WWSQL003_Portal",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Runs",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Send fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Runs",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-31.australiasoutheast.logic.azure.com:443/workflows/a488ee4e6dd34fbf85d69ff5695dceb8/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=mzFskLc897eR_sPvdtE-f6H8lVCS1H-7qdc-aUnGK8I",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-24T22:28:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Site')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Site",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_sitename",
											"type": "String"
										},
										"sink": {
											"name": "SiteName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_siterunnumberprefix",
											"type": "String"
										},
										"sink": {
											"name": "SiteRunNumberPrefix",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Statecode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_siteidlookup",
											"type": "Int32"
										},
										"sink": {
											"name": "SiteId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_wwsitecode",
											"type": "String"
										},
										"sink": {
											"name": "SiteCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_siteid",
											"type": "Guid"
										},
										"sink": {
											"name": "Site",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Site",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_Site",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-06-21T22:06:22Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stock checkin entry')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stock checkin entry",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_timeloaded",
											"type": "DateTime"
										},
										"sink": {
											"name": "Time Loaded",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "Delete Line",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_itemcode",
											"type": "String"
										},
										"sink": {
											"name": "Item Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_lpn",
											"type": "String"
										},
										"sink": {
											"name": "LPN",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified on",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "Production Line",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "Quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_quantitydecimal",
											"type": "Decimal"
										},
										"sink": {
											"name": "Quantity decimal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "String"
										},
										"sink": {
											"name": "Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_stockcheckinentryid",
											"type": "Guid"
										},
										"sink": {
											"name": "Stock checkin entry",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Stockcheckinentry",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_Stockcheckinentry",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stock checkin entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sp_Stock checkin entry]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Stock checkin entry",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-27T00:01:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stock checkin')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stock checkin",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlesbroken",
											"type": "String"
										},
										"sink": {
											"name": "Bottles broken",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_comments",
											"type": "String"
										},
										"sink": {
											"name": "Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_damagedcaps",
											"type": "Int32"
										},
										"sink": {
											"name": "Damaged Caps",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_damageslabels",
											"type": "Int32"
										},
										"sink": {
											"name": "Damages Labels",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "Delete Line",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_lpn",
											"type": "String"
										},
										"sink": {
											"name": "LPN for returns",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified on",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "Production Line",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_returnedtostock",
											"type": "Int32"
										},
										"sink": {
											"name": "Returned to stock",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_washerdryerused",
											"type": "Boolean"
										},
										"sink": {
											"name": "Washer Dryer Used",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill Of Materials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_stockcheckinid",
											"type": "Guid"
										},
										"sink": {
											"name": "Stock checkin",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "StockCheckin",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_StockCheckin",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stock checkin",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sp_Stock checkin]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Stock checkin",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-08-10T01:00:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Supervisor Signoff BOM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Supervisor Signoff BOM",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alldgremoved",
											"type": "Int32"
										},
										"sink": {
											"name": "All DG removed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										},
										"sink": {
											"name": "All DG removed sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_anycapbottlechanges",
											"type": "Int32"
										},
										"sink": {
											"name": "Any cap bottle changes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										},
										"sink": {
											"name": "Any cap bottle changes sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "Capper compression correct sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "Capper correct change parts sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										},
										"sink": {
											"name": "Capper correct dispenser clearance sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										},
										"sink": {
											"name": "Capper cut caps sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										},
										"sink": {
											"name": "Capper gas flow in bottle mouth sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										},
										"sink": {
											"name": "Capper gas flow meter sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "Capper missing cap detector sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertankgassig",
											"type": "String"
										},
										"sink": {
											"name": "Capper tank gas sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										},
										"sink": {
											"name": "Capper top plate neck guide sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										},
										"sink": {
											"name": "Capper tuck challenge test sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										},
										"sink": {
											"name": "Capper tuck thread redraw sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "Cork correct change parts sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										},
										"sink": {
											"name": "Cork correct corking bells sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "Cork correct height sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										},
										"sink": {
											"name": "Cork headspace pressure sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corktimingsig",
											"type": "String"
										},
										"sink": {
											"name": "Cork timing sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										},
										"sink": {
											"name": "Depal bottle board filled out sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "Depal summary sheet correct sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "Filler correct change parts sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "Filler correct height sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "Filler low fill detector sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										},
										"sink": {
											"name": "Filtration correct to spec sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										},
										"sink": {
											"name": "Filtration correct valves open closed sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										},
										"sink": {
											"name": "Lux all caps torqued down",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "Lux correct change parts sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										},
										"sink": {
											"name": "Lux correct compression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										},
										"sink": {
											"name": "Lux correct dispenser plate clearance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "Lux correct height sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										},
										"sink": {
											"name": "Lux correct screwcapper compression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										},
										"sink": {
											"name": "Lux correct springs in capper heads",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										},
										"sink": {
											"name": "Lux torque settings",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										},
										"sink": {
											"name": "Missing label sensors on sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_notes",
											"type": "String"
										},
										"sink": {
											"name": "Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										},
										"sink": {
											"name": "PET correct springs in capper sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										},
										"sink": {
											"name": "PET laser power turned down sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										},
										"sink": {
											"name": "Pre-flight checksheet completed sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "Production Line",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pumpflow",
											"type": "String"
										},
										"sink": {
											"name": "Pump flow",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "Rinser Correct change parts sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "Rinser correct height sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										},
										"sink": {
											"name": "Rinser full coverage sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										},
										"sink": {
											"name": "Rinser low pressure cutout sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										},
										"sink": {
											"name": "Visible glass on the line sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_volumedifference",
											"type": "Int32"
										},
										"sink": {
											"name": "Volume difference",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffbomid",
											"type": "Guid"
										},
										"sink": {
											"name": "Supervisor Signoff BOM",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SupervisorSignoffBOM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_SupervisorSignoffBOM",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sp_Supervisor Signoff BOM]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-03T21:03:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Supervisor Signoff')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Supervisor Signoff",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										},
										"sink": {
											"name": "All DG removed sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										},
										"sink": {
											"name": "Any cap bottle changes sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "Capper compression correct sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "Capper correct change parts sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										},
										"sink": {
											"name": "Capper correct dispenser clearance sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										},
										"sink": {
											"name": "Capper cut caps sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										},
										"sink": {
											"name": "Capper gas flow in bottle mouth sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										},
										"sink": {
											"name": "Capper gas flow meter sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "Capper missing cap detector sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertankgassig",
											"type": "String"
										},
										"sink": {
											"name": "Capper tank gas sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										},
										"sink": {
											"name": "Capper top plate neck guide sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										},
										"sink": {
											"name": "Capper tuck challenge test sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										},
										"sink": {
											"name": "Capper tuck thread redraw sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "Cork correct change parts sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										},
										"sink": {
											"name": "Cork correct corking bells sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "Cork correct height sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										},
										"sink": {
											"name": "Cork headspace pressure sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corktimingsig",
											"type": "String"
										},
										"sink": {
											"name": "Cork timing sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										},
										"sink": {
											"name": "Depal bottle board filled out sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "Depal summary sheet correct sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "Filler correct change parts sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "Filler correct height sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "Filler low fill detector sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										},
										"sink": {
											"name": "Filtration correct to spec sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										},
										"sink": {
											"name": "Filtration correct valves open closed sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										},
										"sink": {
											"name": "Lux all caps torqued down",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "Lux correct change parts sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										},
										"sink": {
											"name": "Lux correct compression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										},
										"sink": {
											"name": "Lux correct dispenser plate clearance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "Lux correct height sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										},
										"sink": {
											"name": "Lux correct screwcapper compression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										},
										"sink": {
											"name": "Lux correct springs in capper heads",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										},
										"sink": {
											"name": "Lux torque settings",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										},
										"sink": {
											"name": "Missing label sensors on sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_notes",
											"type": "String"
										},
										"sink": {
											"name": "Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										},
										"sink": {
											"name": "PET correct springs in capper sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										},
										"sink": {
											"name": "PET laser power turned down sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										},
										"sink": {
											"name": "Pre-flight checksheet completed sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "Production Line",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pumpflow",
											"type": "String"
										},
										"sink": {
											"name": "Pump flow",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "Rinser Correct change parts sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "Rinser correct height sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										},
										"sink": {
											"name": "Rinser full coverage sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										},
										"sink": {
											"name": "Rinser low pressure cutout sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										},
										"sink": {
											"name": "Visible glass on the line sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_volumedifference",
											"type": "Int32"
										},
										"sink": {
											"name": "Volume difference",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffid",
											"type": "Guid"
										},
										"sink": {
											"name": "Supervisor Signoff",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "Run",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SupervisorSignoff",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_SupervisorSignoff",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sp_Supervisor Signoff]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-03T21:07:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Supplier for Production Runs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Supplier for Production Runs",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "activitypointer"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT\ncast(s.Id as nvarchar) [Supplier Id]\n,Cast([Active] as int)  [Status]\n,c.Name [Supplier Product Category]\n,cast(CONVERT(BINARY(16), REVERSE(CONVERT(BINARY(16),s.Id, 1000))) as uniqueidentifier) [Supplier for prod lines Id]\n,s.Description as [Supplier Name]\n,C.Name [DryGoodsCategoryName]\n\nFROM [WineWorks.Database].[companies].[Supplier] s\nINNER JOIN lookups.DryGoodsCategory c on c.Id=DryGoodsCategoryId",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "CommonDataServiceForAppsSink",
								"writeBatchSize": 10,
								"writeBehavior": "upsert"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Supplier Id",
											"type": "String"
										},
										"sink": {
											"name": "ww_supplierid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Supplier Product Category",
											"type": "String"
										},
										"sink": {
											"name": "ww_supplierproductcategory",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Supplier for prod lines Id",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_supplierforproductionlinesid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "Supplier Name",
											"type": "String"
										},
										"sink": {
											"name": "ww_suppliername",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DryGoodsCategoryName",
											"type": "String"
										},
										"sink": {
											"name": "ww_drygoodscategory",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "WWSQL003_Portal",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DataVerse_SupplierForProductionLines",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Send fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Supplier for Production Runs",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-19.australiasoutheast.logic.azure.com:443/workflows/0ce17bbfafef48aebc2e35e531fd51c3/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=S8w7FykrvK3_j9xtr-WRVEDzc4Qcstem-MDRyDz0C9o",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Suchetha.Jangili@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-07-27T02:48:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tanker')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Tanker",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_tankerid",
											"type": "Guid"
										},
										"sink": {
											"name": "TankerId",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_volume",
											"type": "Int32"
										},
										"sink": {
											"name": "Volume",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_site",
											"type": "Guid"
										},
										"sink": {
											"name": "Site",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Tanker",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_Tanker",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Tanker",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Tanker]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Tanker",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-02-07T23:37:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every Half Hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "BOM",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Bottle Batch Rejects",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Bottle Batch Summary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Closure Batch Summary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Hourly Labelling Logsheet",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Hourly Operator Bottling",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Label Change",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Labelling Issues",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Labelling Preflight",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator Bottling Breakage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator Bottling Downtime",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator Bottling Preflight",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Pre-bottling Analysis Sulphur Adjustments",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Pre-Bottling Analysis",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Pre-Bottling Analysis Recheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PrebottlingAnalysisGasAdjustments",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Run",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Run Report - BottleLabelPack",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Hourly Torque and Volume",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Filler Operation",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Carton Usage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Carton Usage Detail",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ProductionLine",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Tanker",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PrebottlingAnalysisSignOff",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "QC End of Run",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "QC Hourly Check",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "QC Start Up",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stock checkin",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stock checkin entry",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Supervisor Signoff",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Supervisor Signoff BOM",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Site",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2021-03-25T12:31:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Run')]",
				"[concat(variables('factoryId'), '/pipelines/Run Report - BottleLabelPack')]",
				"[concat(variables('factoryId'), '/pipelines/Tanker')]",
				"[concat(variables('factoryId'), '/pipelines/QC Start Up')]",
				"[concat(variables('factoryId'), '/pipelines/Stock checkin')]",
				"[concat(variables('factoryId'), '/pipelines/Stock checkin entry')]",
				"[concat(variables('factoryId'), '/pipelines/Supervisor Signoff')]",
				"[concat(variables('factoryId'), '/pipelines/Supervisor Signoff BOM')]",
				"[concat(variables('factoryId'), '/pipelines/Site')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hourly Refresh')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Supplier for Production Runs",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Bill Of Material",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Runs",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2021-04-14T01:45:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Supplier for Production Runs')]",
				"[concat(variables('factoryId'), '/pipelines/Runs')]"
			]
		}
	]
}