DataVerseToSQL/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		},
		"iot-test-trigger-window_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"iot-test-trigger-window_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ww_prebottlinganalysisrecheck')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pre-Bottling Analysis Recheck",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "crc5d_fiapprovedby",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_fiapprovedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_fichange",
											"type": "Int32"
										},
										"sink": {
											"name": "crc5d_fichange",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "crc5d_refract",
											"type": "Boolean"
										},
										"sink": {
											"name": "crc5d_refract",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "crc5d_refractvalue",
											"type": "Decimal"
										},
										"sink": {
											"name": "crc5d_refractvalue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alc",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_alc",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alcnum",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_alcnum",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_alcoholbydistil",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_alcoholbydistil",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_basedo",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_basedo",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_co2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_co2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_customertankname",
											"type": "String"
										},
										"sink": {
											"name": "ww_customertankname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_density",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_density",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_distill",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_distill",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_distillnum",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_distillnum",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_etxt",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_etxt",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_extraanalysis",
											"type": "String"
										},
										"sink": {
											"name": "ww_extraanalysis",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fi",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_fi",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fiissueemailsent",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_fiissueemailsent",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_fso2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_fso2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_greentag",
											"type": "String"
										},
										"sink": {
											"name": "ww_greentag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_initials",
											"type": "String"
										},
										"sink": {
											"name": "ww_initials",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_notes",
											"type": "String"
										},
										"sink": {
											"name": "ww_notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "String"
										},
										"sink": {
											"name": "ww_operator",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pbatankerlookup",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_pbatankerlookup",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_ph",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_ph",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysisrecheckid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_prebottlinganalysisrecheckid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysisrechecksummaryname",
											"type": "String"
										},
										"sink": {
											"name": "ww_prebottlinganalysisrechecksummaryname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										},
										"sink": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_tanker",
											"type": "String"
										},
										"sink": {
											"name": "ww_tanker",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookup",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_tankerlookup",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookuptext",
											"type": "String"
										},
										"sink": {
											"name": "ww_tankerlookuptext",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_temp",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_temp",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_tso2",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_tso2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_tso2mg",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_tso2mg",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_tso2num",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_tso2num",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PreBottlingAnalysisRecheck",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_prebottlinganalysisrecheck1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Pre-Bottling Analysis Recheck",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "usp_ww_prebottlinganalysisrecheck"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure BOM",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Pre-Bottling Analysis Recheck",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_prebottlinganalysisrecheck]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_prebottlinganalysissignoff')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PrebottlingAnalysisSignOff",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "crc5d_additionalchargesinformation",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_additionalchargesinformation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_chargingcomplete",
											"type": "Boolean"
										},
										"sink": {
											"name": "crc5d_chargingcomplete",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_additionaltransferszlatrad",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_additionaltransferszlatrad",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alcoholrecheckzlaaa",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_alcoholrecheckzlaaa",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_authorisation",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_authorisation",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_authorisingsignature",
											"type": "String"
										},
										"sink": {
											"name": "ww_authorisingsignature",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottleavailableat",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_bottleavailableat",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_cellarstafftime",
											"type": "String"
										},
										"sink": {
											"name": "ww_cellarstafftime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cellarstafftimezrsollc",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_cellarstafftimezrsollc",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_co2dorecheckzlagas",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_co2dorecheckzlagas",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eststarttime",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_eststarttime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_etxt",
											"type": "String"
										},
										"sink": {
											"name": "ww_etxt",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fiissueemailsent",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_fiissueemailsent",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_filterabilitycasechargezpfsc",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_filterabilitycasechargezpfsc",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_filterabilitycasechargezpfsc2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_filterabilitycasechargezpfsc2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_filterabilityretestzlafi",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_filterabilityretestzlafi",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_goodtogo",
											"type": "String"
										},
										"sink": {
											"name": "ww_goodtogo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_instructionfromwinemaker",
											"type": "String"
										},
										"sink": {
											"name": "ww_instructionfromwinemaker",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "String"
										},
										"sink": {
											"name": "ww_operator",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pmsaddition",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_pmsaddition",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysissignoffid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_prebottlinganalysissignoffid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_signoff",
											"type": "String"
										},
										"sink": {
											"name": "ww_signoff",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_so2recheckfreeftzlaso2",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_so2recheckfreeftzlaso2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_soetxt",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_soetxt",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_sogoodtogo",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_sogoodtogo",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_sowinemakertobepresentfortaste",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_sowinemakertobepresentfortaste",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_spargeinlinezpssp",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_spargeinlinezpssp",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_startupalcoholpass",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_startupalcoholpass",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_startupalcoholreading",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_startupalcoholreading",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_tanktransferzlatran",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_tanktransferzlatran",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_tempadjustmentzpcwt",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_tempadjustmentzpcwt",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_winemaker",
											"type": "String"
										},
										"sink": {
											"name": "ww_winemaker",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_winemakerinstructions",
											"type": "String"
										},
										"sink": {
											"name": "ww_winemakerinstructions",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_winemakertobepresentfortaste",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_winemakertobepresentfortaste",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_winemakertobepresentfortasteoff",
											"type": "String"
										},
										"sink": {
											"name": "ww_winemakertobepresentfortasteoff",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_wwsupplieddryicezpsdi",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_wwsupplieddryicezpsdi",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PrebottlingAnalysisSignOff",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_prebottlinganalysissignoff12",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PrebottlingAnalysisSignOff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ww_prebottlinganalysissignoff]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure BOM",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "PrebottlingAnalysisSignOff",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_prebottlinganalysissignoff]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_prebottlinganalysissulphuradj')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pre-Bottling Analysis Sulphur Adjustment",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_customertankname",
											"type": "String"
										},
										"sink": {
											"name": "ww_customertankname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_DeleteLine",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_etxt",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_etxt",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_initial1",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_initial1",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_initial2",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_initial2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "String"
										},
										"sink": {
											"name": "ww_operator",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pbasulphuradjustmentsname",
											"type": "String"
										},
										"sink": {
											"name": "ww_pbasulphuradjustmentsname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_pmsbatchexpirydate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_pmsbatchexpirydate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_pmsg",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_pmsg",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_pms_batch",
											"type": "String"
										},
										"sink": {
											"name": "ww_pms_batch",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysissulphuradjid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_prebottlinganalysissulphuradjid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										},
										"sink": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_requiredso2result",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_requiredso2result",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_retestresult",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_retestresult",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_so2increasesppm",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_so2increasesppm",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_spargetime",
											"type": "String"
										},
										"sink": {
											"name": "ww_spargetime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tanker",
											"type": "String"
										},
										"sink": {
											"name": "ww_tanker",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookup",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_tankerlookup",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookuptext",
											"type": "String"
										},
										"sink": {
											"name": "ww_tankerlookuptext",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_totalsulphurresult",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_totalsulphurresult",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_winevolume",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_winevolume",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PrebottlingAnalysisSulphurAdjustments",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_PrebottlingAnalysisSulphurAdjustments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Pre-Bottling Analysis Sulphur Adjustment",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "usp_ww_prebottlinganalysissulphuradj"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Pre-Bottling Analysis Sulphur Adjustment",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_prebottlinganalysissulphuradj]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_qcendofrun')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "QC End of Run",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_bottlecounter",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_bottlecounter",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlingfromtextlookup",
											"type": "String"
										},
										"sink": {
											"name": "ww_BottlingFromtextlookup",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlingto",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_BottlingTo",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_checktime",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_CheckTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_comments",
											"type": "String"
										},
										"sink": {
											"name": "ww_Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_endofrunsamples",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_endofrunsamples",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_finalbottlecount",
											"type": "String"
										},
										"sink": {
											"name": "ww_FinalBottleCount",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_endofsamples",
											"type": "String"
										},
										"sink": {
											"name": "ww_endofsamples",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_flowmeter",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_flowmeter",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_flowmetercheck",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Flowmetercheck",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_glassfragmentscheck",
											"type": "String"
										},
										"sink": {
											"name": "ww_GlassFragmenstCheck",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_inbottle",
											"type": "Int32"
										},
										"sink": {
											"name": "Ww_Inbottle",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_lasercounter",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_lasercounter",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_magnumwhitetape",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_magnumwhitetape",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_qcendofrunid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_qcendofrunid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_qcendofrunname",
											"type": "String"
										},
										"sink": {
											"name": "ww_qcendofrunname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rejectcounter",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_rejectcounter",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rinseheadmedium",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Rinseheadmedium",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rinsergassupplyccp1",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_RinserGasSupplyCCP1",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_runendtime",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_runendtime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_velcorinproductionmodeoff",
											"type": "String"
										},
										"sink": {
											"name": "ww_VelcorinProductionmodeoff",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_velcorinsystemdrained",
											"type": "String"
										},
										"sink": {
											"name": "ww_VelcorinSystemdrained",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "QCEndofRun",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_qcendofrun",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "QC End of Run",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_qcendofrun]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "QC End of Run",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Failed Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_qcendofrun]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_qchourlycheck')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "QC Hourly Check",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_authorisedsig",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_authorisedsig",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_co2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_co2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_collectexportsamples",
											"type": "String"
										},
										"sink": {
											"name": "ww_collectexportsamples",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_comments",
											"type": "String"
										},
										"sink": {
											"name": "ww_comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_do2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_DO2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_dco2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_DCO2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_do",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_do",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_exportsamplespicked",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_exportsamplespicked",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_flowmeterreading",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_flowmeterreading",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_foreignmatter",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_foreignmatter",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_micro",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_micro",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_qcbottlecode",
											"type": "String"
										},
										"sink": {
											"name": "ww_qcbottlecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_qchourlycheckid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_qchourlycheckid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_qcscrewcapscode",
											"type": "String"
										},
										"sink": {
											"name": "ww_qcscrewcapscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										},
										"sink": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_samplessig",
											"type": "String"
										},
										"sink": {
											"name": "ww_samplessig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_shakendo",
											"type": "Decimal"
										},
										"sink": {
											"name": "crc5d_ShakenDO",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_startuptimebottlelasercodetime",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_StartUpTimebottlelasercodetime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_tankinuse",
											"type": "String"
										},
										"sink": {
											"name": "ww_tankinuse",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tankjointscheckedforleaks",
											"type": "String"
										},
										"sink": {
											"name": "ww_tankjointscheckedforleaks",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_timeofauthorisedauditcheck",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_timeofauthorisedauditcheck",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_timeofcheck",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_timeofcheck",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_visualcolourmatchtankbtl",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_visualcolourmatchtankbtl",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_winetemperaturecbox",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_Winetemperaturecbox",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "QCHourlyCheck",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_qchourlycheck1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "QC Hourly Check",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_qchourlycheck]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "QC Hourly Check",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "mWWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Failed Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_qchourlycheck]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_qcrecheck')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "QC Re check",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_dco2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_DCO2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_alcoholinbottle",
											"type": "String"
										},
										"sink": {
											"name": "ww_alcoholinbottle",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_alcoholpercentage",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_alcoholpercentage",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_bottlealcoholfirsttank",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_bottlealcoholfirsttank",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_co2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_co2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_do",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_do",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_do2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_DO2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_foreignmatter",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_foreignmatter",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_qcrecheckid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_qcrecheckid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_qcrecheckname",
											"type": "String"
										},
										"sink": {
											"name": "ww_qcrecheckname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										},
										"sink": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_refractbtl",
											"type": "String"
										},
										"sink": {
											"name": "ww_refractbtl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_shakendo",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_shakendo",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_runname",
											"type": "String"
										},
										"sink": {
											"name": "ww_runname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_visualcolourmatchtankbtl",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_visualcolourmatchtankbtl",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "QCRecheck",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_qcrecheck",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "QC Re check",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_qcrecheck]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "QC Re check",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Failed Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_qcrecheck]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_qcstartup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "QC Start Up",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_alcoholinbottle",
											"type": "String"
										},
										"sink": {
											"name": "ww_alcoholinbottle",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_alcoholintank",
											"type": "String"
										},
										"sink": {
											"name": "ww_alcoholintank",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_alcoholpercentage",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_alcoholpercentage",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_atpswabsnottaken",
											"type": "String"
										},
										"sink": {
											"name": "ww_ATPswabsnottaken",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_blsampleattachedtospecsheet",
											"type": "String"
										},
										"sink": {
											"name": "ww_blsampleattachedtospecsheet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_startuptimebottlelasercodetime",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_StartUpTimebottlelasercodetime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_bottlealcoholfirsttank",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_bottlealcoholfirsttank",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_bottlecodeandguiderailsset",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottlecodeandguiderailsset",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlecoderrunningandlegible",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottlecoderrunningandlegible",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_codeheight",
											"type": "String"
										},
										"sink": {
											"name": "ww_codeheight",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_countzeroed",
											"type": "String"
										},
										"sink": {
											"name": "ww_countzeroed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cunos",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_cunos",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_cunosyesno",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_cunosyesno",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_customertankername",
											"type": "String"
										},
										"sink": {
											"name": "ww_customertankername",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_dco2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_DCO2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_do",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_do",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_co2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_co2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_do2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_DO2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_foreignmatter",
											"type": "String"
										},
										"sink": {
											"name": "ww_foreignmatter",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_microsneeded",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_microsneeded",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_microsneededyesno",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_microsneededyesno",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_noticerequired",
											"type": "String"
										},
										"sink": {
											"name": "ww_noticerequired",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_qcstartupid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_qcstartupid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_qcstartupname",
											"type": "String"
										},
										"sink": {
											"name": "ww_qcstartupname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_refract",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_refract",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_refractbtl",
											"type": "String"
										},
										"sink": {
											"name": "ww_refractbtl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_refracttank",
											"type": "String"
										},
										"sink": {
											"name": "ww_refracttank",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rockstopper",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_rockstopper",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_rockstopperyesno",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_rockstopperyesno",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_runname",
											"type": "String"
										},
										"sink": {
											"name": "ww_runname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tanker",
											"type": "String"
										},
										"sink": {
											"name": "ww_tanker",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_visualcolourmatchtankbtl",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_visualcolourmatchtankbtl",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_wecs",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_wecs",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_wecsyesno",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_wecsyesno",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_winetemperaturefiller",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_WineTemperatureFiller",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_winemakersignatureid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_winemakersignatureid",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "QCStartUp",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_qcstartup",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "QC Start Up",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_qcstartup]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "QC Start Up",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Failed Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_qcstartup]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_run')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_clientcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_clientcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_clientname",
											"type": "String"
										},
										"sink": {
											"name": "ww_clientname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_clientworkorderreference",
											"type": "String"
										},
										"sink": {
											"name": "ww_clientworkorderreference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_completed",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_completed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_lastcopied",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_lastcopied",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_microsneeded",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_microsneeded",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_newupdate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_newupdate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_pendingupdate",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_pendingupdate",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_productid",
											"type": "String"
										},
										"sink": {
											"name": "ww_productid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rundate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_rundate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_runid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_runid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_runnumber",
											"type": "String"
										},
										"sink": {
											"name": "ww_runnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_runproductionline",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_runproductionline",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_stocktoconsumecasevariability",
											"type": "String"
										},
										"sink": {
											"name": "ww_stocktoconsumecasevariability",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_stocktoconsumerun",
											"type": "String"
										},
										"sink": {
											"name": "ww_stocktoconsumerun",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_stocktoconsumestockcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_stocktoconsumestockcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_stocktoconsumestockcodedescription",
											"type": "String"
										},
										"sink": {
											"name": "ww_stocktoconsumestockcodedescription",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_variety",
											"type": "String"
										},
										"sink": {
											"name": "ww_variety",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_velcorinrate",
											"type": "String"
										},
										"sink": {
											"name": "ww_velcorinrate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_vintage",
											"type": "String"
										},
										"sink": {
											"name": "ww_vintage",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_vintagevariety",
											"type": "String"
										},
										"sink": {
											"name": "ww_vintagevariety",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_winehandling",
											"type": "String"
										},
										"sink": {
											"name": "ww_winehandling",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_workorderid",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_workorderid",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_workordertype",
											"type": "String"
										},
										"sink": {
											"name": "ww_workordertype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_workorderupdatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_workorderupdatedon",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Run",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_run",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ww_run]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure BOM",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Run",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_run]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_runreportbottlelabelpack')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run Report - BottleLabelPack",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "crc5d_runcompleted",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_runcompleted",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bomcompleted",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_bomcompleted",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_cases1",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases3",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases4",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases5",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal1",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal3",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal4",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal5",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_internalnotes",
											"type": "String"
										},
										"sink": {
											"name": "ww_internalnotes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins1",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbins1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins2",
											"type": "String"
										},
										"sink": {
											"name": "ww_palletsbins2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins3",
											"type": "String"
										},
										"sink": {
											"name": "ww_palletsbins3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins4",
											"type": "String"
										},
										"sink": {
											"name": "ww_palletsbins4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins5",
											"type": "String"
										},
										"sink": {
											"name": "ww_palletsbins5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining2",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbinseachcontaining2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining3",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbinseachcontaining3",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining4",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbinseachcontaining4",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining5",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbinseachcontaining5",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pendingupdate",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_pendingupdate",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_pluscasesdispatchedoffline",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_pluscasesdispatchedoffline",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionnotes",
											"type": "String"
										},
										"sink": {
											"name": "ww_productionnotes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_runreportbottlelabelpackid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_runreportbottlelabelpackid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_runreportsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_runreportsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_totalcasesproduced",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_totalcasesproduced",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_totalcasestowarehouse",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_totalcasestowarehouse",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RunReportBottleLabelPack",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_runreportbottlelabelpack",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run Report - BottleLabelPack",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_runreportbottlelabelpack]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure BOM",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Run Report - BottleLabelPack",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_runreportbottlelabelpack]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_site')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "site",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_siteid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_siteid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_siteidlookup",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_siteidlookup",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_sitename",
											"type": "String"
										},
										"sink": {
											"name": "ww_sitename",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_siterunnumberprefix",
											"type": "String"
										},
										"sink": {
											"name": "ww_siterunnumberprefix",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_wwsitecode",
											"type": "String"
										},
										"sink": {
											"name": "ww_wwsitecode",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Site",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_site",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "site",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ww_site]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "site",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_site]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_stockcheckin')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stock checkin",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlesbroken",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottlesbroken",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_comments",
											"type": "String"
										},
										"sink": {
											"name": "ww_comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_damagedcaps",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_damagedcaps",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_damageslabels",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_damageslabels",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_lpn",
											"type": "String"
										},
										"sink": {
											"name": "ww_lpn",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_returnedtostock",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_returnedtostock",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_returnedtostockdecimal",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_ReturnedtostockDecimal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_stockcheckinid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_stockcheckinid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_washerdryerused",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_washerdryerused",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "StockCheckin",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_stockcheckin",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stock checkin",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_stockcheckin]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Stock checkin",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_stockcheckin]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_stockcheckinentry')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stock checkin entry",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_itemcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_itemcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_lpn",
											"type": "String"
										},
										"sink": {
											"name": "ww_lpn",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_quantitydecimal",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_quantitydecimal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										},
										"sink": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "String"
										},
										"sink": {
											"name": "ww_run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sequence",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_sequence",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_stockcheckinentryid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_stockcheckinentryid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_timeloaded",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_timeloaded",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Stockcheckinentry",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_stockcheckinentry",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stock checkin entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_stockcheckinentry]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Stock checkin entry",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_stockcheckinentry]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_supervisorsignoff')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Supervisor Signoff",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										},
										"sink": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertankgassig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertankgassig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corktimingsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corktimingsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_notes",
											"type": "String"
										},
										"sink": {
											"name": "ww_notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operator",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pumpflow",
											"type": "String"
										},
										"sink": {
											"name": "ww_pumpflow",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_supervisorsignoffid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_volumedifference",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_volumedifference",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SupervisorSignoff",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_supervisorsignoff",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_supervisorsignoff]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Failed Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_supervisorsignoff]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_supervisorsignoffbom')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Supervisor Signoff BOM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "crc5d_checkbottlelasercodelegible",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_checkbottlelasercodelegible",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_correctppe",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_correctppe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alldgremoved",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_alldgremoved",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_anycapbottlechanges",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_anycapbottlechanges",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										},
										"sink": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertankgassig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertankgassig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_checkbottlelasercodelegibleandcorrect",
											"type": "String"
										},
										"sink": {
											"name": "ww_Checkbottlelasercodelegibleandcorrect",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corktimingsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corktimingsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_isthisrunorganicvegan",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_IsthisrunOrganicVegan",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_labelpreflightchecksheetcompletedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_labelpreflightchecksheetcompletedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_notes",
											"type": "String"
										},
										"sink": {
											"name": "ww_notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pumpflow",
											"type": "String"
										},
										"sink": {
											"name": "ww_pumpflow",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsergassupplyccp1",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_RinserGasSupplyCCP1",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffbomid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_supervisorsignoffbomid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_typeofchange",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Typeofchange",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_volumedifference",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_volumedifference",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SupervisorSignoffBOM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_supervisorsignoffbom",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_supervisorsignoffbom]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_supervisorsignoffbom]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_supervisorsignoffbomhourlycheck')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Supervisor Signoff BOM Hourly Check",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource",
								"query": "<fetch xmlns:generator='MarkMpn.SQL4CDS'>\n  <entity name='ww_supervisorsignoffbomhourlycheck'>\n    <all-attributes />\n    <filter>\n      <condition attribute='ww_billofmaterials' operator='not-null' />\n    </filter>\n  </entity>\n</fetch>"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_allknivesbladesandscissorslabelled",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Allknivesbladesandscissorslabelled",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_allrinserjetsworkingccp1100",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_AllrinserjetsworkingCCP1100",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_anybrokenglassinthemachines",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Anybrokenglassinthemachines",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_BillofMaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlelasercode",
											"type": "String"
										},
										"sink": {
											"name": "ww_Bottlelasercode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlesincartongluestriplabelsandprintco",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_BottlesincartonGluestripLabelsandPrintco",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_comments",
											"type": "String"
										},
										"sink": {
											"name": "ww_Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_correctlabelheightandgaps",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Correctlabelheightandgaps",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_depalbottlerecordfilledoutcorrectly",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Depalbottlerecordfilledoutcorrectly",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillerrecordfilledoutcorrectly",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Fillerrecordfilledoutcorrectly",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_labelinkjetcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_Labelinkjetcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labellerrecordfilledoutcorrectly",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Labellerrecordfilledoutcorrectly",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_OperatorCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pallettypestackingpatternslipsheetandwrap",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_PallettypeStackingpatternSlipsheetandwrap",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_ppewornnoeatingdrinkingchewinggum",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_PPEwornnoeatingdrinkingchewinggum",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_screwcapperclearanceccp2inspec2530mm",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_ScrewcapperclearanceCCP2inspec2530mm",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffbomhourlycheckid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_SupervisorSignoffBOMHourlyCheckId",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffhourlychecknae",
											"type": "String"
										},
										"sink": {
											"name": "ww_SupervisorSignoffHourlyCheckNae",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_timeofcheck",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_Timeofcheck",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SupervisorSignoffbomhourlycheck",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_supervisorsignoffbomhourlycheck",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM Hourly Check",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_supervisorsignoffbomhourlycheck]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM Hourly Check",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_supervisorsignoffbomhourlycheck]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_tanker')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Tanker",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_inactive",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_inactive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_site",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_site",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_tankerid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_tankerid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_volume",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_volume",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Tanker",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_tanker",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Tanker",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_tanker]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure Tanker",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Tanker",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_tanker]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every 10 minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ww_bottlebatchsummary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_runreportbottlelabelpack",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysis",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2023-02-13T23:06:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ww_runreportbottlelabelpack')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every 30 Minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ww_cartonusage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_cartonusagedetail",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysisrecheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_tanker",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_site",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_filleroperation",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcendofrun",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qchourlycheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcrecheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcstartup",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_run",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_stockcheckin",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_stockcheckinentry",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_supervisorsignoff",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_supervisorsignoffbom",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_closurebatchsummary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_hourlylabellinglogsheet",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_hourlytorqueandvolume",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labelchange",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labellingissues",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labellingpreflight",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operator",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysisgasadjustments",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlinghourly",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlingdowntime",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlingbreakage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysissignoff",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_billofmaterials",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_bottlebatchrejects",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_palletstacking",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysissulphuradj",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_supervisorsignoffbomhourlycheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_hourlycartonusage",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2021-04-14T01:45:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ww_prebottlinganalysisrecheck')]",
				"[concat(variables('factoryId'), '/pipelines/ww_tanker')]",
				"[concat(variables('factoryId'), '/pipelines/ww_site')]",
				"[concat(variables('factoryId'), '/pipelines/ww_qcendofrun')]",
				"[concat(variables('factoryId'), '/pipelines/ww_qchourlycheck')]",
				"[concat(variables('factoryId'), '/pipelines/ww_qcrecheck')]",
				"[concat(variables('factoryId'), '/pipelines/ww_qcstartup')]",
				"[concat(variables('factoryId'), '/pipelines/ww_run')]",
				"[concat(variables('factoryId'), '/pipelines/ww_stockcheckin')]",
				"[concat(variables('factoryId'), '/pipelines/ww_stockcheckinentry')]",
				"[concat(variables('factoryId'), '/pipelines/ww_supervisorsignoff')]",
				"[concat(variables('factoryId'), '/pipelines/ww_supervisorsignoffbom')]",
				"[concat(variables('factoryId'), '/pipelines/ww_prebottlinganalysissignoff')]",
				"[concat(variables('factoryId'), '/pipelines/ww_prebottlinganalysissulphuradj')]",
				"[concat(variables('factoryId'), '/pipelines/ww_supervisorsignoffbomhourlycheck')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every Half Hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "BOM",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ProductionLine",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Site",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_auditlog",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2021-03-25T12:31:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/iot-test-trigger-window')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "IOT_TEST_CDC_databricks",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('iot-test-trigger-window_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('iot-test-trigger-window_properties_pipeline_parameters_triggerEnd')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 1,
					"startTime": "2024-01-29T22:00:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		}
	]
}