DataVerseToSQL/linkedTemplates/ArmTemplate_8.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_stockcheckinentry')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_billofmaterials",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_deleteline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_itemcode",
						"type": "nvarchar"
					},
					{
						"name": "ww_lpn",
						"type": "nvarchar"
					},
					{
						"name": "ww_name",
						"type": "nvarchar"
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_quantitydecimal",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_run",
						"type": "nvarchar"
					},
					{
						"name": "ww_stockcheckinentryid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_timeloaded",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_stockcheckinentry"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_supervisorsignoff')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_alldgremovedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_anycapbottlechangessig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappercompressioncorrectsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappercorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappercorrectdispenserclearancesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappercutcapssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappergasflowinbottlemouthsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappergasflowmetersig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappermissingcapdetectorsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertankgassig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertopplateneckguidesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertuckchallengetestsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertuckthreadredrawsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcorrectcorkingbellssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkheadspacepressuresig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corktimingsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_depalbottleboardfilledoutsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_depalsummarysheetcorrectsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_fillercorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_fillercorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_fillerlowfilldetectorsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_filtrationcorrecttospecsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_filtrationcorrectvalvesopenclosedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxallcapstorqueddown",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectcompression",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectdispenserplateclearance",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectscrewcappercompression",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectspringsincapperheads",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxtorquesettings",
						"type": "nvarchar"
					},
					{
						"name": "ww_missinglabelsensorsonsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_name",
						"type": "nvarchar"
					},
					{
						"name": "ww_notes",
						"type": "nvarchar"
					},
					{
						"name": "ww_operator",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_petcorrectspringsincappersig",
						"type": "nvarchar"
					},
					{
						"name": "ww_petlaserpowerturneddownsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_preflightchecksheetcompletedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_pumpflow",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinsercorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinsercorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinserfullcoveragesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinserlowpressurecutoutsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_run",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_supervisorsignoffid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_visibleglassonthelinesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_volumedifference",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_supervisorsignoff"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_supervisorsignoffbom')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "crc5d_checkbottlelasercodelegible",
						"type": "nvarchar"
					},
					{
						"name": "crc5d_correctppe",
						"type": "nvarchar"
					},
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_alldgremoved",
						"type": "bit"
					},
					{
						"name": "ww_alldgremovedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_anycapbottlechanges",
						"type": "bit"
					},
					{
						"name": "ww_anycapbottlechangessig",
						"type": "nvarchar"
					},
					{
						"name": "ww_billofmaterials",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_cappercompressioncorrectsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappercorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappercorrectdispenserclearancesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappercutcapssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappergasflowinbottlemouthsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappergasflowmetersig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappermissingcapdetectorsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertankgassig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertopplateneckguidesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertuckchallengetestsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertuckthreadredrawsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcorrectcorkingbellssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkheadspacepressuresig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corktimingsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_depalbottleboardfilledoutsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_depalsummarysheetcorrectsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_fillercorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_fillercorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_fillerlowfilldetectorsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_filtrationcorrecttospecsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_filtrationcorrectvalvesopenclosedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_labelpreflightchecksheetcompletedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxallcapstorqueddown",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectcompression",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectdispenserplateclearance",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectscrewcappercompression",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectspringsincapperheads",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxtorquesettings",
						"type": "nvarchar"
					},
					{
						"name": "ww_missinglabelsensorsonsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_name",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_notes",
						"type": "nvarchar"
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_petcorrectspringsincappersig",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_petlaserpowerturneddownsig",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_preflightchecksheetcompletedsig",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_pumpflow",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinsercorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinsercorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinserfullcoveragesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinserlowpressurecutoutsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_supervisorsignoffbomid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_visibleglassonthelinesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_volumedifference",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_supervisorsignoffbom"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_supervisorsignoffbomhourlycheck')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_Allknivesbladesandscissorslabelled",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_AllrinserjetsworkingCCP1100",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_Anybrokenglassinthemachines",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_BillofMaterials",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_Bottlelasercode",
						"type": "nvarchar"
					},
					{
						"name": "ww_BottlesincartonGluestripLabelsandPrintco",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_Comments",
						"type": "nvarchar"
					},
					{
						"name": "ww_Correctlabelheightandgaps",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_Depalbottlerecordfilledoutcorrectly",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_Fillerrecordfilledoutcorrectly",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_Labelinkjetcode",
						"type": "nvarchar"
					},
					{
						"name": "ww_Labellerrecordfilledoutcorrectly",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_OperatorCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_PallettypeStackingpatternSlipsheetandwrap",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_PPEwornnoeatingdrinkingchewinggum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_Productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_ScrewcapperclearanceCCP2inspec2530mm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_SupervisorSignoffBOMHourlyCheckId",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_SupervisorSignoffHourlyCheckNae",
						"type": "nvarchar"
					},
					{
						"name": "ww_Timeofcheck",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_supervisorsignoffbomhourlycheck"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_tanker')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "bit"
					},
					{
						"name": "ww_name",
						"type": "nvarchar"
					},
					{
						"name": "ww_site",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_tankerid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_volume",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_tanker"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IOT_TEST_dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "QCEndofRun",
								"type": "DatasetReference"
							},
							"name": "qcendofrun",
							"description": "Import data from QCEndofRun"
						},
						{
							"dataset": {
								"referenceName": "Run",
								"type": "DatasetReference"
							},
							"name": "Run"
						},
						{
							"dataset": {
								"referenceName": "BOM",
								"type": "DatasetReference"
							},
							"name": "Bom"
						},
						{
							"dataset": {
								"referenceName": "ProductionLine",
								"type": "DatasetReference"
							},
							"name": "productionline",
							"description": "Import data from ProductionLine"
						},
						{
							"dataset": {
								"referenceName": "OperatorBottlingDowntime",
								"type": "DatasetReference"
							},
							"name": "operatorbottlingdowntime"
						},
						{
							"dataset": {
								"referenceName": "BottleBatchSummary",
								"type": "DatasetReference"
							},
							"name": "bottlebatchsummary"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ADLS_IOT_TEST_ww_qcendofrun",
								"type": "DatasetReference"
							},
							"name": "wwqcendofrunsink",
							"description": "Export data to ADLS_IOT_TEST_ww_qcendofrun"
						},
						{
							"dataset": {
								"referenceName": "ADLS_IOT_TEST_ww_run",
								"type": "DatasetReference"
							},
							"name": "wwrunsink"
						},
						{
							"dataset": {
								"referenceName": "ADLS_IOT_TEST_ww_billofmaterials",
								"type": "DatasetReference"
							},
							"name": "wwbomsink",
							"description": "Export data to ADLS_ww_billofmaterials"
						},
						{
							"dataset": {
								"referenceName": "ADLS_IOT_TEST_ww_productionline",
								"type": "DatasetReference"
							},
							"name": "wwproductionlinesink"
						},
						{
							"dataset": {
								"referenceName": "ADLS_IOT_TEST_ww_operatorbottlingdowntime",
								"type": "DatasetReference"
							},
							"name": "wwoperatorbottlingdowntimesink",
							"description": "Export data to ADLS_ww_operatorbottlingdowntime"
						},
						{
							"dataset": {
								"referenceName": "ADLS_IOT_TEST_ww_bottlebatchsummary",
								"type": "DatasetReference"
							},
							"name": "wwbottlebatchsummarysink"
						}
					],
					"transformations": [
						{
							"name": "qcendofrunWithPartitionColumn"
						},
						{
							"name": "RunWithPartitionColumns"
						},
						{
							"name": "BOMWithhPartitionColumns"
						},
						{
							"name": "ProductionlineWithPartitionColumn"
						},
						{
							"name": "operatorbottlingdowntimeWithPartitionColumns"
						},
						{
							"name": "bottlebatchsummaryWithPartition"
						}
					],
					"scriptLines": [
						"parameters{",
						"     startTime as string,",
						"     endTime as string",
						"}",
						"source(output(",
						"          {@odata.etag} as string,",
						"          createdby as string,",
						"          modifiedby as string,",
						"          ownerid as string,",
						"          owningbusinessunit as string,",
						"          owninguser as string,",
						"          ww_run as string,",
						"          createdon as string,",
						"          modifiedon as string,",
						"          statecode as string,",
						"          statuscode as string,",
						"          timezoneruleversionnumber as string,",
						"          ww_bottlecounter as string,",
						"          ww_endofrunsamples as string,",
						"          ww_endofsamples as string,",
						"          ww_flowmeter as string,",
						"          ww_lasercounter as string,",
						"          ww_magnumwhitetape as string,",
						"          ww_operatorcode as string,",
						"          ww_productionline as string,",
						"          ww_qcendofrunid as string,",
						"          ww_qcendofrunname as string,",
						"          ww_rejectcounter as string,",
						"          ww_runendtime as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: (concat('<fetch><entity name=\"ww_qcendofrun\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',$startTime,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',$endTime,'\"/></filter></entity></fetch>'))) ~> qcendofrun",
						"source(output(",
						"          {@odata.etag} as string,",
						"          createdby as string,",
						"          modifiedby as string,",
						"          ownerid as string,",
						"          owningbusinessunit as string,",
						"          owninguser as string,",
						"          ww_runproductionline as string,",
						"          createdon as string,",
						"          modifiedon as string,",
						"          statecode as string,",
						"          statuscode as string,",
						"          timezoneruleversionnumber as string,",
						"          ww_clientcode as string,",
						"          ww_clientname as string,",
						"          ww_clientworkorderreference as string,",
						"          ww_completed as string,",
						"          ww_lastcopied as string,",
						"          ww_microsneeded as string,",
						"          ww_pendingupdate as string,",
						"          ww_rundate as string,",
						"          ww_runid as string,",
						"          ww_runnumber as string,",
						"          ww_stocktoconsumecasevariability as string,",
						"          ww_stocktoconsumerun as string,",
						"          ww_stocktoconsumestockcode as string,",
						"          ww_stocktoconsumestockcodedescription as string,",
						"          ww_variety as string,",
						"          ww_vintage as string,",
						"          ww_vintagevariety as string,",
						"          ww_winehandling as string,",
						"          ww_workorderid as string,",
						"          ww_workordertype as string,",
						"          ww_workorderupdatedon as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: (concat('<fetch><entity name=\"ww_run\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',$startTime,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',$endTime,'\"/></filter></entity></fetch>'))) ~> Run",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: (concat('<fetch><entity name=\"ww_billofmaterials\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',$startTime,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',$endTime,'\"/></filter></entity></fetch>'))) ~> Bom",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: (concat('<fetch><entity name=\"ww_productionlinelookup\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',$startTime,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',$endTime,'\"/></filter></entity></fetch>'))) ~> productionline",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: (concat('<fetch><entity name=\"ww_operatorbottlingdowntime\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',$startTime,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',$endTime,'\"/></filter></entity></fetch>'))) ~> operatorbottlingdowntime",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: (concat('<fetch><entity name=\"ww_bottlebatchsummary\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',$startTime,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',$endTime,'\"/></filter></entity></fetch>'))) ~> bottlebatchsummary",
						"qcendofrun derive(hour = toString(hour(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))),",
						"          date = concat(toString(year(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(month(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(dayOfMonth(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))))) ~> qcendofrunWithPartitionColumn",
						"Run derive(hour = toString(hour(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))),",
						"          date = concat(toString(year(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(month(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(dayOfMonth(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))))) ~> RunWithPartitionColumns",
						"Bom derive(hour = toString(hour(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))),",
						"          date = concat(toString(year(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(month(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(dayOfMonth(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))))) ~> BOMWithhPartitionColumns",
						"productionline derive(hour = toString(hour(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))),",
						"          date = concat(toString(year(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(month(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(dayOfMonth(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))))) ~> ProductionlineWithPartitionColumn",
						"operatorbottlingdowntime derive(hour = toString(hour(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))),",
						"          date = concat(toString(year(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(month(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(dayOfMonth(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))))) ~> operatorbottlingdowntimeWithPartitionColumns",
						"bottlebatchsummary derive(hour = toString(hour(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))),",
						"          date = concat(toString(year(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(month(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(dayOfMonth(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))))) ~> bottlebatchsummaryWithPartition",
						"qcendofrunWithPartitionColumn sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          date,",
						"          hour",
						"     )) ~> wwqcendofrunsink",
						"RunWithPartitionColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          date,",
						"          hour",
						"     )) ~> wwrunsink",
						"BOMWithhPartitionColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          date,",
						"          hour",
						"     )) ~> wwbomsink",
						"ProductionlineWithPartitionColumn sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          date,",
						"          hour",
						"     )) ~> wwproductionlinesink",
						"operatorbottlingdowntimeWithPartitionColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          date,",
						"          hour",
						"     )) ~> wwoperatorbottlingdowntimesink",
						"bottlebatchsummaryWithPartition sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          date,",
						"          hour",
						"     )) ~> wwbottlebatchsummarysink"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_lockcode')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "createdOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ComboCode",
						"type": "nvarchar"
					},
					{
						"name": "Lockcode",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_lockcode"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BOM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BOM",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_backlabel",
											"type": "String"
										},
										"sink": {
											"name": "Back Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabeladditionaltext",
											"type": "String"
										},
										"sink": {
											"name": "Back Label Additional Text",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelheight",
											"type": "String"
										},
										"sink": {
											"name": "Back Label Height",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelinkjetcode",
											"type": "String"
										},
										"sink": {
											"name": "Back Label Inkjet Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelinkjetplacement",
											"type": "String"
										},
										"sink": {
											"name": "Back Label Inkjet Placement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsid",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of materials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bomid",
											"type": "String"
										},
										"sink": {
											"name": "BOM Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bominstructionsforthisrun",
											"type": "String"
										},
										"sink": {
											"name": "BOM Instructions for this Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bomspecificinstructions",
											"type": "String"
										},
										"sink": {
											"name": "BOM specific Instructions",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bomupdatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "BOM Updated On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_bottle",
											"type": "String"
										},
										"sink": {
											"name": "Bottle",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_bottlecolour",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Colour",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlelasercode",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Laser Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottles",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottles",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlesize",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Size",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlesperpallet",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottles Per Pallet",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "crc5d_bottlestockcode",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Stock Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottletype",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_carton",
											"type": "String"
										},
										"sink": {
											"name": "Carton",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonbottletype",
											"type": "String"
										},
										"sink": {
											"name": "Carton Bottle Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartoninkjetplacement",
											"type": "String"
										},
										"sink": {
											"name": "Carton Inkjet Placement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartoninkjettext",
											"type": "String"
										},
										"sink": {
											"name": "Carton Inkjet Text",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonlabel",
											"type": "String"
										},
										"sink": {
											"name": "Carton Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonsperpallet",
											"type": "Decimal"
										},
										"sink": {
											"name": "Cartons Per Pallet",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cartonvariety",
											"type": "String"
										},
										"sink": {
											"name": "Carton Variety",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_casestoprocess",
											"type": "Decimal"
										},
										"sink": {
											"name": "Cases To Process",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_closure",
											"type": "String"
										},
										"sink": {
											"name": "Closure",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_completed",
											"type": "Boolean"
										},
										"sink": {
											"name": "Completed",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "crc5d_corkcolour",
											"type": "String"
										},
										"sink": {
											"name": "Cork Colour",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_corklength",
											"type": "String"
										},
										"sink": {
											"name": "Cork Length",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_corkprinting",
											"type": "String"
										},
										"sink": {
											"name": "Cork Printing",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_corkstockcode",
											"type": "String"
										},
										"sink": {
											"name": "Cork Stockcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cover",
											"type": "String"
										},
										"sink": {
											"name": "Cover",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_depalbottlesperpallet",
											"type": "Int32"
										},
										"sink": {
											"name": "Depal Bottles Per Pallet",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_divider",
											"type": "String"
										},
										"sink": {
											"name": "Divider",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_extradrygood1",
											"type": "String"
										},
										"sink": {
											"name": "Extra Dry Good1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_extradrygood2",
											"type": "String"
										},
										"sink": {
											"name": "Extra Dry Good2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_frontlabel",
											"type": "String"
										},
										"sink": {
											"name": "Front Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_frontlabelheight",
											"type": "String"
										},
										"sink": {
											"name": "Front Label Height",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_genericclientinstructions",
											"type": "String"
										},
										"sink": {
											"name": "Generic Client Instructions",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_hardboardtopcover",
											"type": "String"
										},
										"sink": {
											"name": "Hardboard Top Cover",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_hasformdata",
											"type": "Boolean"
										},
										"sink": {
											"name": "Has Form Data",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_lastcopied",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastCopied",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_otherlabel",
											"type": "String"
										},
										"sink": {
											"name": "Other Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_otherlabel2",
											"type": "String"
										},
										"sink": {
											"name": "Other Label2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_otherlabel2placement",
											"type": "String"
										},
										"sink": {
											"name": "Other Label2 Placement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_otherlabelplacement",
											"type": "String"
										},
										"sink": {
											"name": "Other Label Placement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_pallet",
											"type": "String"
										},
										"sink": {
											"name": "Pallet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_pallets",
											"type": "Decimal"
										},
										"sink": {
											"name": "Pallets",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_palletstackingpattern",
											"type": "String"
										},
										"sink": {
											"name": "Pallet Stacking Pattern",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_pallettype",
											"type": "String"
										},
										"sink": {
											"name": "Pallet Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bomproductionnotes",
											"type": "String"
										},
										"sink": {
											"name": "Production Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "crc5d_screwcapcolour",
											"type": "String"
										},
										"sink": {
											"name": "Screwcap Colour",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_screwcapprinting",
											"type": "String"
										},
										"sink": {
											"name": "Screwcap Printing",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_screwcapstockcode",
											"type": "String"
										},
										"sink": {
											"name": "Screwcap Stockcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bomsequence",
											"type": "Int32"
										},
										"sink": {
											"name": "Sequence",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_slipsheet",
											"type": "String"
										},
										"sink": {
											"name": "Slipsheet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bomstockcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Stock Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_stockcodedescription",
											"type": "String"
										},
										"sink": {
											"name": "Stock Code Description",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bomworkorderid",
											"type": "Int32"
										},
										"sink": {
											"name": "WorkOrderId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_workorderinstructions",
											"type": "String"
										},
										"sink": {
											"name": "Work Order Instructions",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "BOM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_BOM",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Bill of Materials]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "BOM",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-22T19:45:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Breakage Location')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Breakage Location",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "StateCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_location",
											"type": "String"
										},
										"sink": {
											"name": "Location",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_breakagelocationid",
											"type": "Guid"
										},
										"sink": {
											"name": "BreakageLocation",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "BreakageLocation",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_BreakageLocation",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-08-10T01:27:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Esker FTP File Transfer for POs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Esker",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"wildcardFileName": "ERPID_*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "SftpWriteSettings",
									"operationTimeout": "01:00:00",
									"useTempFileRename": true
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "EskerWWFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "EskerSFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Esker",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "EskerWWFTP",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "wineworksinternal",
									"type": "LinkedServiceReference"
								},
								"path": "eskerlogging"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "FileServerReadSettings",
								"recursive": true,
								"wildcardFileName": "ERPID__ProjectCodes__*",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IOT_TEST_CDC_databricks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WriteToADLS_IOT_TEST",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "IOT_TEST_dataflow",
								"type": "DataFlowReference",
								"parameters": {
									"startTime": {
										"value": "'@{pipeline().parameters.triggerStart}'",
										"type": "Expression"
									},
									"endTime": {
										"value": "'@{pipeline().parameters.triggerEnd}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"qcendofrun": {},
									"Run": {},
									"Bom": {},
									"productionline": {},
									"operatorbottlingdowntime": {},
									"bottlebatchsummary": {},
									"wwqcendofrunsink": {},
									"wwrunsink": {},
									"wwbomsink": {},
									"wwproductionlinesink": {},
									"wwoperatorbottlingdowntimesink": {},
									"wwbottlebatchsummarysink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "bronze_to_silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "WriteToADLS_IOT_TEST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/databricks-sp-iot-test/adb-iot/ETL/bronze-to-silver/ADF Dataverse Bronze to Silver",
							"baseParameters": {
								"END_TIMESTAMP": {
									"value": "@pipeline().parameters.triggerEnd",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "adb_iot_test",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "run_completed_trigger",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "silver_to_gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/databricks-sp-iot-test/adb-iot/BI/triggers/Run completed trigger"
						},
						"linkedServiceName": {
							"referenceName": "adb_iot_test",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "silver_to_gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "bronze_to_silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/databricks-sp-iot-test/adb-iot/ETL/silver-to-gold/dataverse-gold"
						},
						"linkedServiceName": {
							"referenceName": "adb_iot_test",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"triggerStart": {
						"type": "string"
					},
					"triggerEnd": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/IOT_TEST_dataflow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Indevin FTP File Transfer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "SftpWriteSettings",
									"operationTimeout": "01:00:00",
									"useTempFileRename": true
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "WWMULTI001_Indevin",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Indevin_SFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProductionLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ProductionLine",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_productionlinelookupid",
											"type": "Guid"
										},
										"sink": {
											"name": "ProductionLine",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_productionlineid",
											"type": "Int32"
										},
										"sink": {
											"name": "ProductionLineId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionlinename",
											"type": "String"
										},
										"sink": {
											"name": "ProductionLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sitename",
											"type": "String"
										},
										"sink": {
											"name": "Site",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ProductionLine",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_ProductionLine",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ProductionLine",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_ProductionLine]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ProductionLine",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T22:18:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Site')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Site",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_sitename",
											"type": "String"
										},
										"sink": {
											"name": "SiteName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_siterunnumberprefix",
											"type": "String"
										},
										"sink": {
											"name": "SiteRunNumberPrefix",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Statecode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_siteidlookup",
											"type": "Int32"
										},
										"sink": {
											"name": "SiteId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_wwsitecode",
											"type": "String"
										},
										"sink": {
											"name": "SiteCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_siteid",
											"type": "Guid"
										},
										"sink": {
											"name": "Site",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Site",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_Site",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-06-21T22:06:22Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_auditlog')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AuditLog",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_action",
											"type": "String"
										},
										"sink": {
											"name": "ww_action",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_auditlogid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_auditlogid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_form",
											"type": "String"
										},
										"sink": {
											"name": "ww_form",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "String"
										},
										"sink": {
											"name": "ww_operator",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_text",
											"type": "String"
										},
										"sink": {
											"name": "ww_text",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AuditLog",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_auditlog",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AuditLog",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ww_auditlog]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "AuditLog",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-02-07T23:37:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_billofmaterials')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BOM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "crc5d_bottlecolour",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_bottlecolour",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_bottlestockcode",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_bottlestockcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_corkcolour",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_corkcolour",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_corklength",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_corklength",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_corkprinting",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_corkprinting",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_corkstockcode",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_corkstockcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_pallettype",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_pallettype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_screwcapcolour",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_screwcapcolour",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_screwcapprinting",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_screwcapprinting",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_screwcapstockcode",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_screwcapstockcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_backlabel",
											"type": "String"
										},
										"sink": {
											"name": "ww_backlabel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabeladditionaltext",
											"type": "String"
										},
										"sink": {
											"name": "ww_backlabeladditionaltext",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelheight",
											"type": "String"
										},
										"sink": {
											"name": "ww_backlabelheight",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelinkjetcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_backlabelinkjetcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelinkjetplacement",
											"type": "String"
										},
										"sink": {
											"name": "ww_backlabelinkjetplacement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterialsid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bomid",
											"type": "String"
										},
										"sink": {
											"name": "ww_bomid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bominstructionsforthisrun",
											"type": "String"
										},
										"sink": {
											"name": "ww_bominstructionsforthisrun",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bomproductionnotes",
											"type": "String"
										},
										"sink": {
											"name": "ww_bomproductionnotes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bomsequence",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_bomsequence",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bomspecificinstructions",
											"type": "String"
										},
										"sink": {
											"name": "ww_bomspecificinstructions",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bomstockcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_bomstockcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bomupdatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_bomupdatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_bomworkorderid",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_bomworkorderid",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bookingvariety",
											"type": "String"
										},
										"sink": {
											"name": "ww_bookingvariety",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bookingvintage",
											"type": "String"
										},
										"sink": {
											"name": "ww_bookingvintage",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottle",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottle",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottledescription",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottledescription",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlelasercode",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottlelasercode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlemouldcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottlemouldcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottles",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_bottles",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlesize",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottlesize",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlesperpallet",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_bottlesperpallet",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottletype",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottletype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_carton",
											"type": "String"
										},
										"sink": {
											"name": "ww_carton",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonbottletype",
											"type": "String"
										},
										"sink": {
											"name": "ww_cartonbottletype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartoninkjetplacement",
											"type": "String"
										},
										"sink": {
											"name": "ww_cartoninkjetplacement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartoninkjettext",
											"type": "String"
										},
										"sink": {
											"name": "ww_cartoninkjettext",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonlabel",
											"type": "String"
										},
										"sink": {
											"name": "ww_cartonlabel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonowner",
											"type": "String"
										},
										"sink": {
											"name": "ww_cartonowner",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonsperpallet",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cartonsperpallet",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cartonsupplier",
											"type": "String"
										},
										"sink": {
											"name": "ww_cartonsupplier",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonvariety",
											"type": "String"
										},
										"sink": {
											"name": "ww_cartonvariety",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_casestoprocess",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestoprocess",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casevariability",
											"type": "String"
										},
										"sink": {
											"name": "ww_casevariability",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_closure",
											"type": "String"
										},
										"sink": {
											"name": "ww_closure",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_completed",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_completed",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_corkstyle",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkstyle",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cover",
											"type": "String"
										},
										"sink": {
											"name": "ww_cover",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_covercolour",
											"type": "String"
										},
										"sink": {
											"name": "ww_covercolour",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_covercolour1",
											"type": "String"
										},
										"sink": {
											"name": "ww_covercolour1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_covercolour2",
											"type": "String"
										},
										"sink": {
											"name": "ww_covercolour2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_coverprinting",
											"type": "String"
										},
										"sink": {
											"name": "ww_coverprinting",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_coverprinttype",
											"type": "String"
										},
										"sink": {
											"name": "ww_coverprinttype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_coverstockcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_coverstockcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_covertype",
											"type": "String"
										},
										"sink": {
											"name": "ww_covertype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalbottlesperpallet",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_depalbottlesperpallet",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_divider",
											"type": "String"
										},
										"sink": {
											"name": "ww_divider",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_extradrygood1",
											"type": "String"
										},
										"sink": {
											"name": "ww_extradrygood1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_extradrygood2",
											"type": "String"
										},
										"sink": {
											"name": "ww_extradrygood2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationtype",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_frontlabel",
											"type": "String"
										},
										"sink": {
											"name": "ww_frontlabel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_frontlabelheight",
											"type": "String"
										},
										"sink": {
											"name": "ww_frontlabelheight",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_genericclientinstructions",
											"type": "String"
										},
										"sink": {
											"name": "ww_genericclientinstructions",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_hardboardtopcover",
											"type": "String"
										},
										"sink": {
											"name": "ww_hardboardtopcover",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_hasformdata",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_hasformdata",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_lastcopied",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_lastcopied",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_otherlabel",
											"type": "String"
										},
										"sink": {
											"name": "ww_otherlabel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_otherlabel2",
											"type": "String"
										},
										"sink": {
											"name": "ww_otherlabel2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_otherlabel2placement",
											"type": "String"
										},
										"sink": {
											"name": "ww_otherlabel2placement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_otherlabelplacement",
											"type": "String"
										},
										"sink": {
											"name": "ww_otherlabelplacement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_pallet",
											"type": "String"
										},
										"sink": {
											"name": "ww_pallet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_pallets",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_pallets",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_palletstackingpattern",
											"type": "String"
										},
										"sink": {
											"name": "ww_palletstackingpattern",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_slipsheet",
											"type": "String"
										},
										"sink": {
											"name": "ww_slipsheet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_stockcodedescription",
											"type": "String"
										},
										"sink": {
											"name": "ww_stockcodedescription",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_useallstock",
											"type": "String"
										},
										"sink": {
											"name": "ww_useallstock",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_velcorinrate",
											"type": "String"
										},
										"sink": {
											"name": "ww_velcorinrate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_velcorintreatment",
											"type": "String"
										},
										"sink": {
											"name": "ww_velcorintreatment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_workorderinstructions",
											"type": "String"
										},
										"sink": {
											"name": "ww_workorderinstructions",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "BOM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_billofmaterials",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ww_billofmaterials]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "BOM",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_billofmaterials]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_bottlebatchrejects')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bottle Batch Rejects",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatchrejectsid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_bottlebatchrejectsid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_broken",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_broken",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_comments",
											"type": "String"
										},
										"sink": {
											"name": "ww_comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_filler",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_filler",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_lab",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_lab",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										},
										"sink": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rejectcomments",
											"type": "String"
										},
										"sink": {
											"name": "ww_rejectcomments",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "BottleBatchRejects",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_bottlebatchrejects1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Bottle Batch Rejects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_bottlebatchrejects]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Email on Failure BOM",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Bottle Batch Rejects",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_bottlebatchrejects]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 2,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_bottlebatchsummary')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bottle Batch Summary",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_amount",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_amount",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatch",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottlebatch",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatchsummaryid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_bottlebatchsummaryid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatchsummaryname",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottlebatchsummaryname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_comments",
											"type": "String"
										},
										"sink": {
											"name": "ww_comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_eanbarcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_eanbarcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_hunumber",
											"type": "String"
										},
										"sink": {
											"name": "ww_hunumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_moldcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_moldcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_moldid",
											"type": "String"
										},
										"sink": {
											"name": "ww_moldid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletid",
											"type": "String"
										},
										"sink": {
											"name": "ww_palletid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productiondate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_productiondate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										},
										"sink": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_stockcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_stockcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_supplierproductcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_supplierproductcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_timeloaded",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_timeloaded",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "BottleBatchSummary",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_bottlebatchsummary1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Email on Failure BOM",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Bottle Batch Summary",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Bottle Batch Summary",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_bottlebatchsummary]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_bottlebatchsummary]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_cartonusage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carton Usage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_cartonbatch",
											"type": "String"
										},
										"sink": {
											"name": "ww_CartonBatch",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonowner",
											"type": "String"
										},
										"sink": {
											"name": "ww_cartonowner",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonstockcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_cartonstockcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonusageid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_cartonusageid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_lpn",
											"type": "String"
										},
										"sink": {
											"name": "ww_lpn",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletnumber",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_reference",
											"type": "String"
										},
										"sink": {
											"name": "ww_reference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_referencedate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_referencedate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_supplier",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_supplier",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_suppliername",
											"type": "String"
										},
										"sink": {
											"name": "ww_suppliername",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_timeloaded",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_timeloaded",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CartonUsage",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_cartonusage1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carton Usage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ww_cartonusage]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Carton Usage",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_cartonusage]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_cartonusagedetail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carton Usage Detail",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_cartonusagedetailid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_cartonusagedetailid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_issues",
											"type": "String"
										},
										"sink": {
											"name": "ww_issues",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CartonUsageDetail",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_cartonusagedetail2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carton Usage Detail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ww_cartonusagedetail]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Carton Usage Detail",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_cartonusagedetail]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}