DataVerseToSQL/linkedTemplates/ArmTemplate_10.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ww_runreportbottlelabelpack')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run Report - BottleLabelPack",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "crc5d_runcompleted",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_runcompleted",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bomcompleted",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_bomcompleted",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_cases1",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases3",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases4",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases5",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal1",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal3",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal4",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal5",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_internalnotes",
											"type": "String"
										},
										"sink": {
											"name": "ww_internalnotes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins1",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbins1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins2",
											"type": "String"
										},
										"sink": {
											"name": "ww_palletsbins2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins3",
											"type": "String"
										},
										"sink": {
											"name": "ww_palletsbins3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins4",
											"type": "String"
										},
										"sink": {
											"name": "ww_palletsbins4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins5",
											"type": "String"
										},
										"sink": {
											"name": "ww_palletsbins5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining2",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbinseachcontaining2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining3",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbinseachcontaining3",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining4",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbinseachcontaining4",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining5",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbinseachcontaining5",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pendingupdate",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_pendingupdate",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_pluscasesdispatchedoffline",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_pluscasesdispatchedoffline",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionnotes",
											"type": "String"
										},
										"sink": {
											"name": "ww_productionnotes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_runreportbottlelabelpackid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_runreportbottlelabelpackid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_runreportsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_runreportsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_totalcasesproduced",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_totalcasesproduced",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_totalcasestowarehouse",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_totalcasestowarehouse",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RunReportBottleLabelPack",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_runreportbottlelabelpack",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run Report - BottleLabelPack",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_runreportbottlelabelpack]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure BOM",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Run Report - BottleLabelPack",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_runreportbottlelabelpack]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_site')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "site",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_siteid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_siteid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_siteidlookup",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_siteidlookup",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_sitename",
											"type": "String"
										},
										"sink": {
											"name": "ww_sitename",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_siterunnumberprefix",
											"type": "String"
										},
										"sink": {
											"name": "ww_siterunnumberprefix",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_wwsitecode",
											"type": "String"
										},
										"sink": {
											"name": "ww_wwsitecode",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Site",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_site",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "site",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ww_site]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "site",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_site]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_stockcheckin')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stock checkin",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlesbroken",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottlesbroken",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_comments",
											"type": "String"
										},
										"sink": {
											"name": "ww_comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_damagedcaps",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_damagedcaps",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_damageslabels",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_damageslabels",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_lpn",
											"type": "String"
										},
										"sink": {
											"name": "ww_lpn",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_returnedtostock",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_returnedtostock",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_returnedtostockdecimal",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_ReturnedtostockDecimal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_stockcheckinid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_stockcheckinid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_washerdryerused",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_washerdryerused",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "StockCheckin",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_stockcheckin",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stock checkin",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_stockcheckin]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Stock checkin",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_stockcheckin]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_stockcheckinentry')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stock checkin entry",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_itemcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_itemcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_lpn",
											"type": "String"
										},
										"sink": {
											"name": "ww_lpn",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_quantitydecimal",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_quantitydecimal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "String"
										},
										"sink": {
											"name": "ww_run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_stockcheckinentryid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_stockcheckinentryid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_timeloaded",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_timeloaded",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Stockcheckinentry",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_stockcheckinentry",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stock checkin entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_stockcheckinentry]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Stock checkin entry",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_stockcheckinentry]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_supervisorsignoff')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Supervisor Signoff",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										},
										"sink": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertankgassig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertankgassig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corktimingsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corktimingsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_notes",
											"type": "String"
										},
										"sink": {
											"name": "ww_notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operator",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pumpflow",
											"type": "String"
										},
										"sink": {
											"name": "ww_pumpflow",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_supervisorsignoffid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_volumedifference",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_volumedifference",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SupervisorSignoff",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_supervisorsignoff",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_supervisorsignoff]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Failed Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_supervisorsignoff]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_supervisorsignoffbom')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Supervisor Signoff BOM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "crc5d_checkbottlelasercodelegible",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_checkbottlelasercodelegible",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_correctppe",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_correctppe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alldgremoved",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_alldgremoved",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_anycapbottlechanges",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_anycapbottlechanges",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										},
										"sink": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertankgassig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertankgassig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corktimingsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corktimingsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labelpreflightchecksheetcompletedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_labelpreflightchecksheetcompletedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_notes",
											"type": "String"
										},
										"sink": {
											"name": "ww_notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pumpflow",
											"type": "String"
										},
										"sink": {
											"name": "ww_pumpflow",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsergassupplyccp1",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_RinserGasSupplyCCP1",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffbomid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_supervisorsignoffbomid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_volumedifference",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_volumedifference",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SupervisorSignoffBOM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_supervisorsignoffbom",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_supervisorsignoffbom]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_supervisorsignoffbom]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_tanker')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Tanker",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_inactive",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_inactive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_site",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_site",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_tankerid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_tankerid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_volume",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_volume",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AuditLog",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_tanker",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Tanker",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_tanker]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure BOM",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Tanker",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_tanker]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every 10 minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ww_bottlebatchsummary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_runreportbottlelabelpack",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysis",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2023-02-13T23:06:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ww_runreportbottlelabelpack')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every 30 Minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ww_cartonusage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_cartonusagedetail",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysisrecheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_tanker",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_site",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_filleroperation",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcendofrun",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qchourlycheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcrecheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcstartup",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_run",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_stockcheckin",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_stockcheckinentry",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_supervisorsignoff",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_supervisorsignoffbom",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_closurebatchsummary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_hourlylabellinglogsheet",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_hourlytorqueandvolume",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labelchange",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labellingissues",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labellingpreflight",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operator",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysisgasadjustments",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlinghourly",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlingdowntime",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlingbreakage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysissignoff",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_billofmaterials",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_bottlebatchrejects",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_palletstacking",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2021-04-14T01:45:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ww_tanker')]",
				"[concat(variables('factoryId'), '/pipelines/ww_site')]",
				"[concat(variables('factoryId'), '/pipelines/ww_stockcheckin')]",
				"[concat(variables('factoryId'), '/pipelines/ww_stockcheckinentry')]",
				"[concat(variables('factoryId'), '/pipelines/ww_supervisorsignoff')]",
				"[concat(variables('factoryId'), '/pipelines/ww_supervisorsignoffbom')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every Half Hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "BOM",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Bottle Batch Rejects",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Bottle Batch Summary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Closure Batch Summary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Hourly Labelling Logsheet",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Hourly Operator Bottling",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Label Change",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Labelling Issues",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Labelling Preflight",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator Bottling Breakage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator Bottling Downtime",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator Bottling Preflight",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Pre-bottling Analysis Sulphur Adjustments",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Pre-Bottling Analysis",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Pre-Bottling Analysis Recheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PrebottlingAnalysisGasAdjustments",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Run",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Run Report - BottleLabelPack",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Hourly Torque and Volume",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Filler Operation",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Carton Usage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Carton Usage Detail",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ProductionLine",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Tanker",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PrebottlingAnalysisSignOff",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "QC End of Run",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "QC Hourly Check",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "QC Start Up",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stock checkin",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Stock checkin entry",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Supervisor Signoff",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Supervisor Signoff BOM",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Site",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_auditlog",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2021-03-25T12:31:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": []
		}
	]
}