DataVerseToSQL/linkedTemplates/ArmTemplate_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PROD Databricks RunStartEnds')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IsNewData",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource",
								"query": {
									"value": "@concat('<fetch><entity name=\"crc5d_runstartend\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"ge\" value=\"',pipeline().parameters.triggerStart,'\"/><condition attribute=\"modifiedon\" operator=\"le\" value=\"',pipeline().parameters.triggerEnd,'\"/></filter></entity></fetch>')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "RunStartEndsProd",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "IsNewData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(activity('IsNewData').output, 'firstRow')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Get RunStartEnds",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "CommonDataServiceForAppsSource",
											"query": {
												"value": "@concat('<fetch><entity name=\"crc5d_runstartend\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"ge\" value=\"',pipeline().parameters.triggerStart,'\"/><condition attribute=\"modifiedon\" operator=\"le\" value=\"',pipeline().parameters.triggerEnd,'\"/></filter></entity></fetch>')",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "crc5d_productionlineid",
														"type": "Int32"
													},
													"sink": {
														"name": "crc5d_productionlineid",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "owningbusinessunit",
														"type": "Guid"
													},
													"sink": {
														"name": "owningbusinessunit",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "statecode",
														"type": "Int32"
													},
													"sink": {
														"name": "statecode",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "crc5d_runstartendid",
														"type": "Guid"
													},
													"sink": {
														"name": "crc5d_runstartendid",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "createdby",
														"type": "Guid"
													},
													"sink": {
														"name": "createdby",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "crc5d_uniqueid",
														"type": "String"
													},
													"sink": {
														"name": "crc5d_uniqueid",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "crc5d_enddatetime",
														"type": "DateTime"
													},
													"sink": {
														"name": "crc5d_enddatetime",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "timezoneruleversionnumber",
														"type": "Int32"
													},
													"sink": {
														"name": "timezoneruleversionnumber",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "ownerid",
														"type": "Guid"
													},
													"sink": {
														"name": "ownerid",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "modifiedon",
														"type": "DateTime"
													},
													"sink": {
														"name": "modifiedon",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "modifiedby",
														"type": "Guid"
													},
													"sink": {
														"name": "modifiedby",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "owninguser",
														"type": "Guid"
													},
													"sink": {
														"name": "owninguser",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "crc5d_runstartend",
														"type": "String"
													},
													"sink": {
														"name": "crc5d_runstartend",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "createdon",
														"type": "DateTime"
													},
													"sink": {
														"name": "createdon",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "statuscode",
														"type": "Int32"
													},
													"sink": {
														"name": "statuscode",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "crc5d_startdatetime",
														"type": "DateTime"
													},
													"sink": {
														"name": "crc5d_startdatetime",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "crc5d_lastpallettime",
														"type": "DateTime"
													},
													"sink": {
														"name": "crc5d_lastpallettime",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "crc5d_lastpalletid",
														"type": "String"
													},
													"sink": {
														"name": "crc5d_lastpalletid",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "RunStartEndsProd",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLS_RunStartEndPROD",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "bronze-silver-gold",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Get RunStartEnds",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/databricks-sp-iot-prod/adb-iot/ETL/azure-data-factory/dataverse-bronze-silver-gold",
										"baseParameters": {
											"END_TIMESTAMP": {
												"value": "@pipeline().parameters.triggerEnd",
												"type": "Expression"
											},
											"MODIFIEDON_COLUMN": {
												"value": "@pipeline().parameters.modifiedonColumn",
												"type": "Expression"
											},
											"PARTITION_COLUMN": {
												"value": "@pipeline().parameters.partitionColumn",
												"type": "Expression"
											},
											"TABLE_NAME": {
												"value": "@pipeline().parameters.tableName",
												"type": "Expression"
											},
											"SECONDARY_PARTITION": {
												"value": "@pipeline().parameters.partitionBySecondary",
												"type": "Expression"
											},
											"SECONDARY_PARTITION_NAME": {
												"value": "@pipeline().parameters.secondaryPartitionColumnName",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "adb_iot_prod",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "run_durations_trigger",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "bronze-silver-gold",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/databricks-sp-iot-prod/adb-iot/BI/triggers/run_duration_trigger"
									},
									"linkedServiceName": {
										"referenceName": "adb_iot_prod",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"triggerStart": {
						"type": "string"
					},
					"triggerEnd": {
						"type": "string"
					},
					"modifiedonColumn": {
						"type": "string",
						"defaultValue": "modifiedon"
					},
					"partitionColumn": {
						"type": "string",
						"defaultValue": "crc5d_runstartend"
					},
					"tableName": {
						"type": "string",
						"defaultValue": "crc5d_runstartend"
					},
					"partitionBySecondary": {
						"type": "string",
						"defaultValue": "false"
					},
					"secondaryPartitionColumnName": {
						"type": "string",
						"defaultValue": "false"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD Databricks ww_billofmaterials')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IsNewData",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource",
								"query": {
									"value": "@concat('<fetch><entity name=\"ww_billofmaterials\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"ge\" value=\"',pipeline().parameters.triggerStart,'\"/><condition attribute=\"modifiedon\" operator=\"le\" value=\"',pipeline().parameters.triggerEnd,'\"/></filter></entity></fetch>')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "BOM",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If Condition BOMS",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "IsNewData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(activity('IsNewData').output, 'firstRow')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "BOM_copy",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "CommonDataServiceForAppsSource",
											"query": {
												"value": "@concat('<fetch><entity name=\"ww_billofmaterials\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"ge\" value=\"',pipeline().parameters.triggerStart,'\"/><condition attribute=\"modifiedon\" operator=\"le\" value=\"',pipeline().parameters.triggerEnd,'\"/></filter></entity></fetch>')",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "BOM",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLS_ww_billofmaterials_PROD",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "bronze-silver-gold_copy",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "BOM_copy",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/databricks-sp-iot-prod/adb-iot/ETL/azure-data-factory/dataverse-bronze-silver-gold",
										"baseParameters": {
											"END_TIMESTAMP": {
												"value": "@pipeline().parameters.triggerEnd",
												"type": "Expression"
											},
											"MODIFIEDON_COLUMN": {
												"value": "@pipeline().parameters.modifiedonColumn",
												"type": "Expression"
											},
											"PARTITION_COLUMN": {
												"value": "@pipeline().parameters.partitionColumn",
												"type": "Expression"
											},
											"TABLE_NAME": {
												"value": "@pipeline().parameters.tableName",
												"type": "Expression"
											},
											"SECONDARY_PARTITION": {
												"value": "@pipeline().parameters.partitionBySecondary",
												"type": "Expression"
											},
											"SECONDARY_PARTITION_NAME": {
												"value": "@pipeline().parameters.secondaryPartitionColumnName",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "adb_iot_prod",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"triggerStart": {
						"type": "string"
					},
					"triggerEnd": {
						"type": "string"
					},
					"modifiedonColumn": {
						"type": "string",
						"defaultValue": "modifiedon"
					},
					"partitionColumn": {
						"type": "string",
						"defaultValue": "ww_billofmaterialsid"
					},
					"tableName": {
						"type": "string",
						"defaultValue": "ww_billofmaterials"
					},
					"partitionBySecondary": {
						"type": "string",
						"defaultValue": "false"
					},
					"secondaryPartitionColumnName": {
						"type": "string",
						"defaultValue": "false"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD Databricks ww_run')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IsNewData",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource",
								"query": {
									"value": "@concat('<fetch><entity name=\"ww_run\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"ge\" value=\"',pipeline().parameters.triggerStart,'\"/><condition attribute=\"modifiedon\" operator=\"le\" value=\"',pipeline().parameters.triggerEnd,'\"/></filter></entity></fetch>')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "Run",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "IsNewData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(activity('IsNewData').output, 'firstRow')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Run copy",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "CommonDataServiceForAppsSource",
											"query": {
												"value": "@concat('<fetch><entity name=\"ww_run\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"ge\" value=\"',pipeline().parameters.triggerStart,'\"/><condition attribute=\"modifiedon\" operator=\"le\" value=\"',pipeline().parameters.triggerEnd,'\"/></filter></entity></fetch>')",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Run",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLS_ww_run_PROD",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "bronze-silver-gold_copy",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Run copy",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/databricks-sp-iot-prod/adb-iot/ETL/azure-data-factory/dataverse-bronze-silver-gold",
										"baseParameters": {
											"END_TIMESTAMP": {
												"value": "@pipeline().parameters.triggerEnd",
												"type": "Expression"
											},
											"MODIFIEDON_COLUMN": {
												"value": "@pipeline().parameters.modifiedonColumn",
												"type": "Expression"
											},
											"PARTITION_COLUMN": {
												"value": "@pipeline().parameters.partitionColumn",
												"type": "Expression"
											},
											"TABLE_NAME": {
												"value": "@pipeline().parameters.tableName",
												"type": "Expression"
											},
											"SECONDARY_PARTITION": {
												"value": "@pipeline().parameters.partitionBySecondary",
												"type": "Expression"
											},
											"SECONDARY_PARTITION_NAME": {
												"value": "@pipeline().parameters.secondaryPartitionColumnName",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "adb_iot_prod",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"triggerStart": {
						"type": "string"
					},
					"triggerEnd": {
						"type": "string"
					},
					"modifiedonColumn": {
						"type": "string",
						"defaultValue": "modifiedon"
					},
					"partitionColumn": {
						"type": "string",
						"defaultValue": "ww_runid"
					},
					"tableName": {
						"type": "string",
						"defaultValue": "ww_run"
					},
					"partitionBySecondary": {
						"type": "string",
						"defaultValue": "false"
					},
					"secondaryPartitionColumnName": {
						"type": "string",
						"defaultValue": "false"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EskerWWFTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "EskerFTPWW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL003_FOTest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Filler operation ID",
						"type": "uniqueidentifier"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Air Ram Screw Capper",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Air Ram Screw Capper Sig",
						"type": "nvarchar"
					},
					{
						"name": "Alcohol Sterilisation",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Alcohol Sterilisation Sig",
						"type": "nvarchar"
					},
					{
						"name": "All Filters Present",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle Code and Guide Rails Set",
						"type": "nvarchar"
					},
					{
						"name": "Bottle Coder Running and Legible",
						"type": "nvarchar"
					},
					{
						"name": "Brand",
						"type": "nvarchar"
					},
					{
						"name": "Brand Sig",
						"type": "nvarchar"
					},
					{
						"name": "CCP1 Start the Run Check",
						"type": "nvarchar"
					},
					{
						"name": "CCP1 Start the Run Check Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Closure Hopper Empty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Closure Hopper Empty Sig",
						"type": "nvarchar"
					},
					{
						"name": "Closure Type",
						"type": "nvarchar"
					},
					{
						"name": "Closure Type Sig",
						"type": "nvarchar"
					},
					{
						"name": "Code Height",
						"type": "nvarchar"
					},
					{
						"name": "Colour",
						"type": "nvarchar"
					},
					{
						"name": "Colour Sig",
						"type": "nvarchar"
					},
					{
						"name": "Contact points for glass frag",
						"type": "nvarchar"
					},
					{
						"name": "Cork Grade/Size",
						"type": "nvarchar"
					},
					{
						"name": "Cork Grade/Size Sig",
						"type": "nvarchar"
					},
					{
						"name": "Corker Headspace Pressure",
						"type": "nvarchar"
					},
					{
						"name": "Corker Plungers Set",
						"type": "nvarchar"
					},
					{
						"name": "Corker Vacuum on",
						"type": "nvarchar"
					},
					{
						"name": "Correct Filters",
						"type": "nvarchar"
					},
					{
						"name": "Correct wine is bottled sig",
						"type": "nvarchar"
					},
					{
						"name": "Count Zeroed",
						"type": "nvarchar"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Do not start run until CCP1 is complete",
						"type": "nvarchar"
					},
					{
						"name": "Do not start run until CCP1 is complete Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Docket & Vessel",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Docket & Vessel Sig",
						"type": "nvarchar"
					},
					{
						"name": "End of Run Comments",
						"type": "nvarchar"
					},
					{
						"name": "EOR Bottle Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR Bottling To",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR Check Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "EOR Flow Meter Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR Glass Fragments Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR In Bottle",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR Rinse head inspection",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR Rinse head medium",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR Rinser Gas/Water Supply Line1",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "EOR Rinser Gas/Water Supply Line2",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "EOR Rinser Pressure Fluctuations",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Fill Heights",
						"type": "nvarchar"
					},
					{
						"name": "Filler Centring Bells/Seals Check",
						"type": "nvarchar"
					},
					{
						"name": "Filler Fill Stems Sterile",
						"type": "nvarchar"
					},
					{
						"name": "Filler Operation",
						"type": "nvarchar"
					},
					{
						"name": "Filler Vacuum On",
						"type": "nvarchar"
					},
					{
						"name": "Filtration Charges",
						"type": "nvarchar"
					},
					{
						"name": "Flies in the filler room",
						"type": "nvarchar"
					},
					{
						"name": "Flies sig",
						"type": "nvarchar"
					},
					{
						"name": "Glass Bottle Check",
						"type": "nvarchar"
					},
					{
						"name": "Glass Frag",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Glass Frag Sig",
						"type": "nvarchar"
					},
					{
						"name": "Glass pump check sig",
						"type": "nvarchar"
					},
					{
						"name": "ILS Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "ILSCode",
						"type": "nvarchar"
					},
					{
						"name": "Inert Gas to Filler Bowl",
						"type": "nvarchar"
					},
					{
						"name": "Inert Gas to Rinser",
						"type": "nvarchar"
					},
					{
						"name": "Inert Gas to Tanker",
						"type": "nvarchar"
					},
					{
						"name": "Is this an Organic product",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Jaw Lube Checked",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Jaw Lube Checked Sig",
						"type": "nvarchar"
					},
					{
						"name": "Manual Jog 1x Bottle",
						"type": "nvarchar"
					},
					{
						"name": "MF Integrity Verification Sig",
						"type": "nvarchar"
					},
					{
						"name": "Number on tag(s) Filters",
						"type": "nvarchar"
					},
					{
						"name": "Number on tag(s) Sig",
						"type": "nvarchar"
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Plain / Printed",
						"type": "nvarchar"
					},
					{
						"name": "Plain/Printed Sig",
						"type": "nvarchar"
					},
					{
						"name": "Product line check sig",
						"type": "nvarchar"
					},
					{
						"name": "Refract BTL",
						"type": "nvarchar"
					},
					{
						"name": "Refract Tank",
						"type": "nvarchar"
					},
					{
						"name": "Rinser Medium",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Rinser Medium Sig",
						"type": "nvarchar"
					},
					{
						"name": "Rollers Lubed",
						"type": "nvarchar"
					},
					{
						"name": "Run",
						"type": "uniqueidentifier"
					},
					{
						"name": "Sample Attached to Spec Sheet",
						"type": "nvarchar"
					},
					{
						"name": "Spec sheet read and signed sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Filter Integrity Verification Sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Finish",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Membrane Integrity",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Process",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Sterilization process Sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization RF Integrity Verification Sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Rinser Integrity",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Run End",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Run Start",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Start",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Temperature",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Thread Rollers H1",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H2",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H3",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H4",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H5",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers  H5",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H1",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H2",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H3",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H4",
						"type": "nvarchar"
					},
					{
						"name": "Visual Colour Match Tank/BTL",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Wine pump (Select & Sign)",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Wine pump sig",
						"type": "nvarchar"
					},
					{
						"name": "X Ray Density Bottles",
						"type": "nvarchar"
					},
					{
						"name": "X Ray Limits Rejecting",
						"type": "nvarchar"
					},
					{
						"name": "X Ray Set On",
						"type": "nvarchar"
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Filler operation_Test"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "crc5d_density",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "crc5d_radialmovementchecksig",
						"type": "nvarchar"
					},
					{
						"name": "crc5d_redrawsealcheck",
						"type": "nvarchar"
					},
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "new_customertank",
						"type": "nvarchar"
					},
					{
						"name": "ww_adjustment",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_adjustmenthasbeenmadesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_averageweight",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_balancecheck",
						"type": "nvarchar"
					},
					{
						"name": "ww_billofmaterials",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_capcoloursig",
						"type": "nvarchar"
					},
					{
						"name": "ww_capilscodesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_capprintingsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_colour",
						"type": "nvarchar"
					},
					{
						"name": "ww_colourcheckedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkbaseclearofcorksforeignmatter",
						"type": "bit"
					},
					{
						"name": "ww_corkbrandingsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcolour",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcolourcheckedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkdepthaftermuselet",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_corkilscodesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkinsertion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_corkinsertionsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corklengthsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkmoisturesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkplungedepth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_corkprintingsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_datetime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_deleteline",
						"type": "bit"
					},
					{
						"name": "ww_emptybottleweight",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_fillheight1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_fillheight2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_fillheight3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_fillheight4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_fillheight5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_gapingbrokenbridges",
						"type": "nvarchar"
					},
					{
						"name": "ww_grossweight",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_headspacemeasurementsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_headspacepressuresig",
						"type": "nvarchar"
					},
					{
						"name": "ww_hourlytorqueandvolumeid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_inversiontesttocheckforleakers",
						"type": "nvarchar"
					},
					{
						"name": "ww_isthemuseletsecure",
						"type": "bit"
					},
					{
						"name": "ww_isthemuseletuniform",
						"type": "bit"
					},
					{
						"name": "ww_isthetieupright",
						"type": "bit"
					},
					{
						"name": "ww_key",
						"type": "nvarchar"
					},
					{
						"name": "ww_museletbaseclearofmuseletsfm",
						"type": "bit"
					},
					{
						"name": "ww_nettweight",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_printing",
						"type": "nvarchar"
					},
					{
						"name": "ww_printingcheckedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_pulltucktest",
						"type": "nvarchar"
					},
					{
						"name": "ww_pulltucktestchecked",
						"type": "nvarchar"
					},
					{
						"name": "ww_rimimpression",
						"type": "nvarchar"
					},
					{
						"name": "ww_screwcapperchutecheckedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_screwcapperchutesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_sparkling",
						"type": "bit"
					},
					{
						"name": "ww_stockcode",
						"type": "nvarchar"
					},
					{
						"name": "ww_stockcodecheckedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_tafillheight1",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_tafillheight2",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_tafillheight3",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_tafillheight4",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_tafillheight5",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_tanker",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_tareweight",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_torquebreak1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak10",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak6",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak7",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak8",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak9",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquecap1",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap10",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap2",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap3",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap4",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap5",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap6",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap7",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap8",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap9",
						"type": "nvarchar"
					},
					{
						"name": "ww_torqueslip1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip10",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip6",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip7",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip8",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip9",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_visualsealonbottle",
						"type": "nvarchar"
					},
					{
						"name": "ww_winetemperature",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_zorksealcheckok",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_hourlytorqueandvolume"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable11')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "crc5d_density",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "crc5d_radialmovementchecksig",
						"type": "nvarchar"
					},
					{
						"name": "crc5d_redrawsealcheck",
						"type": "nvarchar"
					},
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "new_customertank",
						"type": "nvarchar"
					},
					{
						"name": "ww_adjustment",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_adjustmenthasbeenmadesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_averageweight",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_balancecheck",
						"type": "nvarchar"
					},
					{
						"name": "ww_billofmaterials",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_bucketflowedtime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_bucketskegsflowedintime",
						"type": "nvarchar"
					},
					{
						"name": "ww_capcoloursig",
						"type": "nvarchar"
					},
					{
						"name": "ww_capilscodesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_capprintingsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_colour",
						"type": "nvarchar"
					},
					{
						"name": "ww_colourcheckedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkbaseclearofcorksforeignmatter",
						"type": "bit"
					},
					{
						"name": "ww_corkbrandingsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcolour",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcolourcheckedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkdepthaftermuselet",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_corkilscodesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkinsertion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_CorkInsertionChecked",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_corkinsertionsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corklengthsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_Corkmoisturereading",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_corkmoisturesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkplungedepth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_corkprintingsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_datetime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_deleteline",
						"type": "bit"
					},
					{
						"name": "ww_emptybottleweight",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_emptybottleweight1",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_emptybottleweight10",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_emptybottleweight11",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_emptybottleweight12",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_emptybottleweight2",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_emptybottleweight3",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_emptybottleweight4",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_emptybottleweight5",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_emptybottleweight6",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_emptybottleweight7",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_emptybottleweight8",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_emptybottleweight9",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fillheight1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_fillheight10",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fillheight11",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fillheight12",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fillheight2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_fillheight3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_fillheight4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_fillheight5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_fillheight6",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fillheight7",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fillheight8",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fillheight9",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_flowedfrom",
						"type": "nvarchar"
					},
					{
						"name": "ww_flowedto",
						"type": "nvarchar"
					},
					{
						"name": "ww_fullbottleweight1",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fullbottleweight10",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fullbottleweight11",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fullbottleweight12",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fullbottleweight2",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fullbottleweight3",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fullbottleweight4",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fullbottleweight5",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fullbottleweight6",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fullbottleweight7",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fullbottleweight8",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_fullbottleweight9",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_gapingbrokenbridges",
						"type": "nvarchar"
					},
					{
						"name": "ww_grossweight",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_HeadSpaceMeasurement",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_headspacemeasurementsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_HeadSpacePressureMeasurement",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_HeadSpaceMeasurementComments",
						"type": "nvarchar"
					},
					{
						"name": "ww_headspacepressuresig",
						"type": "nvarchar"
					},
					{
						"name": "ww_hourlytorqueandvolumeid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_inversiontesttocheckforleakers",
						"type": "nvarchar"
					},
					{
						"name": "ww_isthemuseletsecure",
						"type": "bit"
					},
					{
						"name": "ww_isthemuseletuniform",
						"type": "bit"
					},
					{
						"name": "ww_isthetieupright",
						"type": "bit"
					},
					{
						"name": "ww_key",
						"type": "nvarchar"
					},
					{
						"name": "ww_museletbaseclearofmuseletsfm",
						"type": "bit"
					},
					{
						"name": "ww_nettweight",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_printing",
						"type": "nvarchar"
					},
					{
						"name": "ww_printingcheckedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_productcheckedandmatches",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_pulltucktest",
						"type": "nvarchar"
					},
					{
						"name": "ww_pulltucktestchecked",
						"type": "nvarchar"
					},
					{
						"name": "ww_reasonfordeletion",
						"type": "nvarchar"
					},
					{
						"name": "ww_rimimpression",
						"type": "nvarchar"
					},
					{
						"name": "ww_screwcapperchutecheckedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_screwcapperchutesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_sparkling",
						"type": "bit"
					},
					{
						"name": "ww_stockcode",
						"type": "nvarchar"
					},
					{
						"name": "ww_stockcodecheckedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_tafillheight1",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_tafillheight10",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_tafillheight11",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_tafillheight12",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_tafillheight2",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_tafillheight3",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_tafillheight4",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_tafillheight5",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_tafillheight6",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_tafillheight7",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_tafillheight8",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_tafillheight9",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_tankchangedflowedintime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_tanker",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_tareweight",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_torquebreak1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak10",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak6",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak7",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak8",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquebreak9",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torquecap1",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap10",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap2",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap3",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap4",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap5",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap6",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap7",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap8",
						"type": "nvarchar"
					},
					{
						"name": "ww_torquecap9",
						"type": "nvarchar"
					},
					{
						"name": "ww_torqueslip1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip10",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip6",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip7",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip8",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_torqueslip9",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_visualsealonbottle",
						"type": "nvarchar"
					},
					{
						"name": "ww_winetemperature",
						"type": "decimal",
						"precision": 20,
						"scale": 7
					},
					{
						"name": "ww_zorksealcheckok",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_hourlytorqueandvolume"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWMULTI001_Indevin')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "VM SOH By lot code.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Warehouse",
						"type": "String"
					},
					{
						"name": "Item",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Client Stock Code",
						"type": "String"
					},
					{
						"name": "Client Stock Code2",
						"type": "String"
					},
					{
						"name": "Lot",
						"type": "String"
					},
					{
						"name": "On Hand",
						"type": "String"
					},
					{
						"name": "Allocated",
						"type": "String"
					},
					{
						"name": "Pending",
						"type": "String"
					},
					{
						"name": "Unit",
						"type": "String"
					},
					{
						"name": "Receipted",
						"type": "String"
					},
					{
						"name": "Last Picked",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003LabellingPreflight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Labelling Preflight"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_BOM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Bill of Material",
						"type": "uniqueidentifier"
					},
					{
						"name": "BOM ID",
						"type": "nvarchar"
					},
					{
						"name": "Work Order ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Bill of Materials"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_BottleBatchRejects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Bottle Batch Rejects"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_BottleBatchSummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Bottle Batch Summary"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_BreakageLocation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "StateCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Location",
						"type": "nvarchar"
					},
					{
						"name": "BreakageLocation",
						"type": "uniqueidentifier"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "BreakageLocation"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_CartonUsage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Carton Owner",
						"type": "varchar"
					},
					{
						"name": "Deleted Line",
						"type": "bit"
					},
					{
						"name": "LPN",
						"type": "varchar"
					},
					{
						"name": "Name",
						"type": "varchar"
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Pallet Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Reference",
						"type": "varchar"
					},
					{
						"name": "Reference Date",
						"type": "date"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Supplier",
						"type": "uniqueidentifier"
					},
					{
						"name": "Bill Of Materials",
						"type": "uniqueidentifier"
					},
					{
						"name": "Carton Usage",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Carton Usage"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_CartonUsageDetail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Issues",
						"type": "varchar"
					},
					{
						"name": "Name",
						"type": "varchar"
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bill Of Materials",
						"type": "uniqueidentifier"
					},
					{
						"name": "Carton Usage Detail",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Carton Usage Detail"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_ClosureBatchSummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Box Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Closure Batch Code",
						"type": "nvarchar"
					},
					{
						"name": "Closure Batch Summary",
						"type": "uniqueidentifier"
					},
					{
						"name": "Closure Batch Summary Name",
						"type": "nvarchar"
					},
					{
						"name": "Closure ILS",
						"type": "nvarchar"
					},
					{
						"name": "Comments",
						"type": "text"
					},
					{
						"name": "Cork Expiry Date",
						"type": "date"
					},
					{
						"name": "Cork Moisture",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "OperatorCode",
						"type": "nvarchar"
					},
					{
						"name": "Production Date",
						"type": "date"
					},
					{
						"name": "Record Created On",
						"type": "date"
					},
					{
						"name": "Reference Number",
						"type": "nchar"
					},
					{
						"name": "Run",
						"type": "uniqueidentifier"
					},
					{
						"name": "Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Supplier",
						"type": "uniqueidentifier"
					},
					{
						"name": "Supplier Code",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Closure Batch Summary"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_FillerOperation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Filler operation ID",
						"type": "uniqueidentifier"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "Air Ram Screw Capper",
						"type": "nvarchar"
					},
					{
						"name": "Air Ram Screw Capper Sig",
						"type": "nvarchar"
					},
					{
						"name": "Alcohol Sterilisation",
						"type": "nvarchar"
					},
					{
						"name": "Alcohol Sterilisation Sig",
						"type": "nvarchar"
					},
					{
						"name": "All Filters Present",
						"type": "nvarchar"
					},
					{
						"name": "Bottle Code and Guide Rails Set",
						"type": "nvarchar"
					},
					{
						"name": "Bottle Coder Running and Legible",
						"type": "nvarchar"
					},
					{
						"name": "Brand",
						"type": "nvarchar"
					},
					{
						"name": "Brand Sig",
						"type": "nvarchar"
					},
					{
						"name": "CCP1 Start the Run Check",
						"type": "nvarchar"
					},
					{
						"name": "CCP1 Start the Run Check Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Closure Hopper Empty",
						"type": "nvarchar"
					},
					{
						"name": "Closure Hopper Empty Sig",
						"type": "nvarchar"
					},
					{
						"name": "Closure Type",
						"type": "nvarchar"
					},
					{
						"name": "Closure Type Sig",
						"type": "nvarchar"
					},
					{
						"name": "Code Height",
						"type": "nvarchar"
					},
					{
						"name": "Colour",
						"type": "nvarchar"
					},
					{
						"name": "Colour Sig",
						"type": "nvarchar"
					},
					{
						"name": "Contact points for glass frag",
						"type": "nvarchar"
					},
					{
						"name": "Cork Grade/Size",
						"type": "nvarchar"
					},
					{
						"name": "Cork Grade/Size Sig",
						"type": "nvarchar"
					},
					{
						"name": "Corker Headspace Pressure",
						"type": "nvarchar"
					},
					{
						"name": "Corker Plungers Set",
						"type": "nvarchar"
					},
					{
						"name": "Corker Vacuum on",
						"type": "nvarchar"
					},
					{
						"name": "Correct Filters",
						"type": "nvarchar"
					},
					{
						"name": "Correct wine is bottled sig",
						"type": "nvarchar"
					},
					{
						"name": "Count Zeroed",
						"type": "nvarchar"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Do not start run until CCP1 is complete",
						"type": "nvarchar"
					},
					{
						"name": "Do not start run until CCP1 is complete Time",
						"type": "nvarchar"
					},
					{
						"name": "Docket & Vessel",
						"type": "nvarchar"
					},
					{
						"name": "Docket & Vessel Sig",
						"type": "nvarchar"
					},
					{
						"name": "End of Run Comments",
						"type": "nvarchar"
					},
					{
						"name": "EOR Bottle Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR Bottle Number",
						"type": "nvarchar"
					},
					{
						"name": "EOR Bottling To",
						"type": "nvarchar"
					},
					{
						"name": "EOR Check Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "EOR Flow Meter Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR Glass Fragments Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR In Bottle",
						"type": "nvarchar"
					},
					{
						"name": "EOR Rinse head inspection",
						"type": "nvarchar"
					},
					{
						"name": "EOR Rinse head medium",
						"type": "nvarchar"
					},
					{
						"name": "EOR Rinser Gas/Water Supply Line1",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "EOR Rinser Gas/Water Supply Line2",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "EOR Rinser Pressure Fluctuations",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Fill Heights",
						"type": "nvarchar"
					},
					{
						"name": "Filler Centring Bells/Seals Check",
						"type": "nvarchar"
					},
					{
						"name": "Filler Fill Stems Sterile",
						"type": "nvarchar"
					},
					{
						"name": "Filler Operation",
						"type": "nvarchar"
					},
					{
						"name": "Filler Vacuum On",
						"type": "nvarchar"
					},
					{
						"name": "Filtration Charges",
						"type": "nvarchar"
					},
					{
						"name": "Flies in the filler room",
						"type": "nvarchar"
					},
					{
						"name": "Flies in the filler room_old",
						"type": "nvarchar"
					},
					{
						"name": "Flies sig",
						"type": "nvarchar"
					},
					{
						"name": "Glass Bottle Check",
						"type": "nvarchar"
					},
					{
						"name": "Glass Frag",
						"type": "nvarchar"
					},
					{
						"name": "Glass Frag Sig",
						"type": "nvarchar"
					},
					{
						"name": "Glass pump check sig",
						"type": "nvarchar"
					},
					{
						"name": "ILS Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "ILSCode",
						"type": "nvarchar"
					},
					{
						"name": "Inert Gas to Filler Bowl",
						"type": "nvarchar"
					},
					{
						"name": "Inert Gas to Rinser",
						"type": "nvarchar"
					},
					{
						"name": "Inert Gas to Tanker",
						"type": "nvarchar"
					},
					{
						"name": "Is this an Organic product",
						"type": "nvarchar"
					},
					{
						"name": "Jaw Lube Checked",
						"type": "nvarchar"
					},
					{
						"name": "Jaw Lube Checked Sig",
						"type": "nvarchar"
					},
					{
						"name": "Manual Jog 1x Bottle",
						"type": "nvarchar"
					},
					{
						"name": "MF Integrity Verification Sig",
						"type": "nvarchar"
					},
					{
						"name": "Number on tag(s) Filters",
						"type": "nvarchar"
					},
					{
						"name": "Number on tag(s) Sig",
						"type": "nvarchar"
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Plain / Printed",
						"type": "nvarchar"
					},
					{
						"name": "Plain/Printed Sig",
						"type": "nvarchar"
					},
					{
						"name": "Product line check sig",
						"type": "nvarchar"
					},
					{
						"name": "Refract BTL",
						"type": "nvarchar"
					},
					{
						"name": "Refract Tank",
						"type": "nvarchar"
					},
					{
						"name": "Rinser Medium",
						"type": "nvarchar"
					},
					{
						"name": "Rinser Medium Sig",
						"type": "nvarchar"
					},
					{
						"name": "Rollers Lubed",
						"type": "nvarchar"
					},
					{
						"name": "Run",
						"type": "uniqueidentifier"
					},
					{
						"name": "Sample Attached to Spec Sheet",
						"type": "nvarchar"
					},
					{
						"name": "Spec sheet read and signed sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Filter Integrity Verification Sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Finish",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Membrane Integrity",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Process",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization process Sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization RF Integrity Verification Sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Rinser Integrity",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Run End",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Run Start",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Start",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Temperature",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Thread Rollers H1",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H2",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H3",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H4",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H5",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers  H5",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H1",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H2",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H3",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H4",
						"type": "nvarchar"
					},
					{
						"name": "Visual Colour Match BTL",
						"type": "nvarchar"
					},
					{
						"name": "Visual Colour Match Tank",
						"type": "nvarchar"
					},
					{
						"name": "Wine pump (Select & Sign)",
						"type": "nvarchar"
					},
					{
						"name": "Wine pump sig",
						"type": "nvarchar"
					},
					{
						"name": "X Ray Density Bottles",
						"type": "nvarchar"
					},
					{
						"name": "X Ray Limits Rejecting",
						"type": "nvarchar"
					},
					{
						"name": "X Ray Set On",
						"type": "nvarchar"
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Filler operation"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_HourlyLabellingLogsheet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Hourly Labelling Logsheet"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_HourlyOperatorBottling')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Authorised Sig",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bill of Materials ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "Bottle Colour Sig",
						"type": "nvarchar"
					},
					{
						"name": "Bottle laser sticker",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle laser sticker sig",
						"type": "nvarchar"
					},
					{
						"name": "Bottle Number as Per Laser Coder",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle Rub Mark",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle Shape Sig",
						"type": "nvarchar"
					},
					{
						"name": "Bottling from",
						"type": "nvarchar"
					},
					{
						"name": "Bottling to",
						"type": "nvarchar"
					},
					{
						"name": "Bowl Vacuum",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Check docket and physically check wine is run",
						"type": "nvarchar"
					},
					{
						"name": "Collect Export Samples",
						"type": "nvarchar"
					},
					{
						"name": "Corker Vacuum",
						"type": "nvarchar"
					},
					{
						"name": "Corker Vacuum -0.8 to -1.0bar",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Delete Line",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DO2 from Bottle",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "DO2 from vessel",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Export samples picked",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filler Head # ",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filler Speed",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filter Differential",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Filtration Pressure Gauge",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Final Filter",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Flow Meter Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Foreign Body / Visual Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Gas feed to corker",
						"type": "nvarchar"
					},
					{
						"name": "Gas feed to corker 10 - 30kpa",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Gas Flow rate to Bowl (Line 2)",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Gas pressure to bottling tank",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Glass Fragments Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "In bottle",
						"type": "nvarchar"
					},
					{
						"name": "In tank",
						"type": "nvarchar"
					},
					{
						"name": "Laser code as per spec",
						"type": "nvarchar"
					},
					{
						"name": "Laser code on bottle",
						"type": "nvarchar"
					},
					{
						"name": "Lenticular Filter",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "N2 buffer vessel pressure",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Neck Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Pre Filter",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Prep Check 2",
						"type": "nvarchar"
					},
					{
						"name": "Prep Check 3",
						"type": "nvarchar"
					},
					{
						"name": "Prep Check Sig",
						"type": "nvarchar"
					},
					{
						"name": "Pump Speed",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Rinse head inspection",
						"type": "nvarchar"
					},
					{
						"name": "Rinse head medium",
						"type": "nvarchar"
					},
					{
						"name": "Rinser Gas/Water Supply Line1",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Rinser Gas/Water Supply Line2",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Rinser Pressure Fluctuations",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Rockstopper",
						"type": "nvarchar"
					},
					{
						"name": "Rockstopper Filter",
						"type": "nvarchar"
					},
					{
						"name": "Samples Sig",
						"type": "nvarchar"
					},
					{
						"name": "Stock Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "Temperature",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Time of Authorised Audit Check",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Time of Check - Micro Sample Taken",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "X-Ray Challenge Test",
						"type": "nvarchar"
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "date"
					},
					{
						"name": "Operator Bottling Hourly",
						"type": "uniqueidentifier"
					},
					{
						"name": "Bill of Materials",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Hourly Operator Bottling"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_HourlyTorqueandVolume')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Key",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Adjustment",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Average Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Cap Colour Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cap ILS Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cap Printing Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Branding Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork ILS Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Insertion Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Length Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Moisture Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Printing Sig",
						"type": "nvarchar"
					},
					{
						"name": "Date Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Delete Line",
						"type": "nvarchar"
					},
					{
						"name": "Density",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Empty Bottle Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Fill Height 1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height 2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height 3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height 4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height 5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Gaping / Broken Bridges",
						"type": "nvarchar"
					},
					{
						"name": "Gross Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Head Space Measurement Sig",
						"type": "nvarchar"
					},
					{
						"name": "Head Space Pressure Sig",
						"type": "nvarchar"
					},
					{
						"name": "Nett Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Pull Tuck Test",
						"type": "nvarchar"
					},
					{
						"name": "Radial Movement Check Sig",
						"type": "nvarchar"
					},
					{
						"name": "Redraw Seal Check",
						"type": "nvarchar"
					},
					{
						"name": "Rim Impression",
						"type": "nvarchar"
					},
					{
						"name": "Screwcapper chute Sig",
						"type": "nvarchar"
					},
					{
						"name": "Tare Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Torque Break 1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 10",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 6",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 7",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 8",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 9",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque cap 1",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 10",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 2",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 3",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 4",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 5",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 6",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 7",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 8",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 9",
						"type": "nvarchar"
					},
					{
						"name": "Torque Slip 1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 10",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 6",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 7",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 8",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 9",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Hourly Torque and Volume",
						"type": "uniqueidentifier"
					},
					{
						"name": "Bill of Materials",
						"type": "uniqueidentifier"
					},
					{
						"name": "Tanker",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Hourly Torque and Volume"
				}
			},
			"dependsOn": []
		}
	]
}