DataVerseToSQL/linkedTemplates/ArmTemplate_8.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_prebottlinganalysisrecheck1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "crc5d_fiapprovedby",
						"type": "nvarchar"
					},
					{
						"name": "crc5d_fichange",
						"type": "int",
						"precision": 10
					},
					{
						"name": "crc5d_refract",
						"type": "bit"
					},
					{
						"name": "crc5d_refractvalue",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_alc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_alcnum",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_alcoholbydistil",
						"type": "bit"
					},
					{
						"name": "ww_basedo",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_co2",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_customertankname",
						"type": "nvarchar"
					},
					{
						"name": "ww_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_deleteline",
						"type": "bit"
					},
					{
						"name": "ww_density",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_distill",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_distillnum",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_etxt",
						"type": "bit"
					},
					{
						"name": "ww_extraanalysis",
						"type": "nvarchar"
					},
					{
						"name": "ww_fi",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_fiissueemailsent",
						"type": "bit"
					},
					{
						"name": "ww_fso2",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_initials",
						"type": "nvarchar"
					},
					{
						"name": "ww_operator",
						"type": "nvarchar"
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_pbatankerlookup",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_ph",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_prebottlinganalysisrecheckid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_run",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_tanker",
						"type": "nvarchar"
					},
					{
						"name": "ww_tankerlookup",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_tankerlookuptext",
						"type": "nvarchar"
					},
					{
						"name": "ww_temp",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_tso2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_tso2mg",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_tso2num",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_prebottlinganalysisrecheck"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_prebottlinganalysissignoff1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "crc5d_additionalchargesinformation",
						"type": "nvarchar"
					},
					{
						"name": "crc5d_chargingcomplete",
						"type": "bit"
					},
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_additionaltransferszlatrad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_alcoholrecheckzlaaa",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_authorisation",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_authorisingsignature",
						"type": "nvarchar"
					},
					{
						"name": "ww_bottleavailableat",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_cellarstafftime",
						"type": "nvarchar"
					},
					{
						"name": "ww_cellarstafftimezrsollc",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_co2dorecheckzlagas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_eststarttime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_etxt",
						"type": "nvarchar"
					},
					{
						"name": "ww_fiissueemailsent",
						"type": "bit"
					},
					{
						"name": "ww_filterabilitycasechargezpfsc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_filterabilitycasechargezpfsc2",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_filterabilityretestzlafi",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_goodtogo",
						"type": "nvarchar"
					},
					{
						"name": "ww_instructionfromwinemaker",
						"type": "nvarchar"
					},
					{
						"name": "ww_operator",
						"type": "nvarchar"
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_pmsaddition",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_prebottlinganalysissignoffid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_run",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_signoff",
						"type": "nvarchar"
					},
					{
						"name": "ww_so2recheckfreeftzlaso2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_soetxt",
						"type": "bit"
					},
					{
						"name": "ww_sogoodtogo",
						"type": "bit"
					},
					{
						"name": "ww_sowinemakertobepresentfortaste",
						"type": "bit"
					},
					{
						"name": "ww_spargeinlinezpssp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_startupalcoholpass",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_startupalcoholreading",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_tanktransferzlatran",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_tempadjustmentzpcwt",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_winemaker",
						"type": "nvarchar"
					},
					{
						"name": "ww_winemakerinstructions",
						"type": "nvarchar"
					},
					{
						"name": "ww_winemakertobepresentfortaste",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_winemakertobepresentfortasteoff",
						"type": "nvarchar"
					},
					{
						"name": "ww_wwsupplieddryicezpsdi",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_prebottlinganalysissignoff"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_prebottlinganalysissignoff11')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "crc5d_additionalchargesinformation",
						"type": "nvarchar"
					},
					{
						"name": "crc5d_chargingcomplete",
						"type": "bit"
					},
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_additionaltransferszlatrad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_alcoholrecheckzlaaa",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_authorisation",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_authorisingsignature",
						"type": "nvarchar"
					},
					{
						"name": "ww_bottleavailableat",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_cellarstafftime",
						"type": "nvarchar"
					},
					{
						"name": "ww_cellarstafftimezrsollc",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_co2dorecheckzlagas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_eststarttime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_etxt",
						"type": "nvarchar"
					},
					{
						"name": "ww_fiissueemailsent",
						"type": "bit"
					},
					{
						"name": "ww_filterabilitycasechargezpfsc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_filterabilitycasechargezpfsc2",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_filterabilityretestzlafi",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_goodtogo",
						"type": "nvarchar"
					},
					{
						"name": "ww_instructionfromwinemaker",
						"type": "nvarchar"
					},
					{
						"name": "ww_operator",
						"type": "nvarchar"
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_pmsaddition",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_prebottlinganalysissignoffid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_run",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_signoff",
						"type": "nvarchar"
					},
					{
						"name": "ww_so2recheckfreeftzlaso2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_soetxt",
						"type": "bit"
					},
					{
						"name": "ww_sogoodtogo",
						"type": "bit"
					},
					{
						"name": "ww_sowinemakertobepresentfortaste",
						"type": "bit"
					},
					{
						"name": "ww_spargeinlinezpssp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_startupalcoholpass",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_startupalcoholreading",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_tanktransferzlatran",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_tempadjustmentzpcwt",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_winemaker",
						"type": "nvarchar"
					},
					{
						"name": "ww_winemakerinstructions",
						"type": "nvarchar"
					},
					{
						"name": "ww_winemakertobepresentfortaste",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_winemakertobepresentfortasteoff",
						"type": "nvarchar"
					},
					{
						"name": "ww_wwsupplieddryicezpsdi",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_prebottlinganalysissignoff"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_prebottlinganalysissignoff12')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "crc5d_additionalchargesinformation",
						"type": "nvarchar"
					},
					{
						"name": "crc5d_chargingcomplete",
						"type": "bit"
					},
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_additionaltransferszlatrad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_alcoholrecheckzlaaa",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_authorisation",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_authorisingsignature",
						"type": "nvarchar"
					},
					{
						"name": "ww_bottleavailableat",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_cellarstafftime",
						"type": "nvarchar"
					},
					{
						"name": "ww_cellarstafftimezrsollc",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_co2dorecheckzlagas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_eststarttime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_etxt",
						"type": "nvarchar"
					},
					{
						"name": "ww_fiissueemailsent",
						"type": "bit"
					},
					{
						"name": "ww_filterabilitycasechargezpfsc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_filterabilitycasechargezpfsc2",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_filterabilityretestzlafi",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_goodtogo",
						"type": "nvarchar"
					},
					{
						"name": "ww_instructionfromwinemaker",
						"type": "nvarchar"
					},
					{
						"name": "ww_operator",
						"type": "nvarchar"
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_pmsaddition",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_prebottlinganalysissignoffid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_run",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_signoff",
						"type": "nvarchar"
					},
					{
						"name": "ww_so2recheckfreeftzlaso2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_soetxt",
						"type": "bit"
					},
					{
						"name": "ww_sogoodtogo",
						"type": "bit"
					},
					{
						"name": "ww_sowinemakertobepresentfortaste",
						"type": "bit"
					},
					{
						"name": "ww_spargeinlinezpssp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_startupalcoholpass",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_startupalcoholreading",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_tanktransferzlatran",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_tempadjustmentzpcwt",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_winemaker",
						"type": "nvarchar"
					},
					{
						"name": "ww_winemakerinstructions",
						"type": "nvarchar"
					},
					{
						"name": "ww_winemakertobepresentfortaste",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_winemakertobepresentfortasteoff",
						"type": "nvarchar"
					},
					{
						"name": "ww_wwsupplieddryicezpsdi",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_prebottlinganalysissignoff"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_qcendofrun')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "bit"
					},
					{
						"name": "ww_bottlecounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_endofrunsamples",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_endofsamples",
						"type": "nvarchar"
					},
					{
						"name": "ww_flowmeter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_lasercounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_magnumwhitetape",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_qcendofrunid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_qcendofrunname",
						"type": "nvarchar"
					},
					{
						"name": "ww_rejectcounter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_run",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_runendtime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_qcendofrun"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_qchourlycheck1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_authorisedsig",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_co2",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_collectexportsamples",
						"type": "nvarchar"
					},
					{
						"name": "ww_comments",
						"type": "nvarchar"
					},
					{
						"name": "ww_deleteline",
						"type": "bit"
					},
					{
						"name": "ww_do",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_exportsamplespicked",
						"type": "bit"
					},
					{
						"name": "ww_flowmeterreading",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_foreignmatter",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_micro",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_qcbottlecode",
						"type": "nvarchar"
					},
					{
						"name": "ww_qchourlycheckid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_qcscrewcapscode",
						"type": "nvarchar"
					},
					{
						"name": "ww_run",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_samplessig",
						"type": "nvarchar"
					},
					{
						"name": "ww_tankinuse",
						"type": "nvarchar"
					},
					{
						"name": "ww_tankjointscheckedforleaks",
						"type": "nvarchar"
					},
					{
						"name": "ww_timeofauthorisedauditcheck",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_timeofcheck",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_visualcolourmatchtankbtl",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_qchourlycheck"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_qcrecheck')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "bit"
					},
					{
						"name": "ww_alcoholinbottle",
						"type": "nvarchar"
					},
					{
						"name": "ww_alcoholpercentage",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_bottlealcoholfirsttank",
						"type": "bit"
					},
					{
						"name": "ww_deleteline",
						"type": "bit"
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_qcrecheckid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_qcrecheckname",
						"type": "nvarchar"
					},
					{
						"name": "ww_refractbtl",
						"type": "nvarchar"
					},
					{
						"name": "ww_run",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_runname",
						"type": "nvarchar"
					},
					{
						"name": "ww_visualcolourmatchtankbtl",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_qcrecheck"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_qcstartup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "bit"
					},
					{
						"name": "ww_alcoholinbottle",
						"type": "nvarchar"
					},
					{
						"name": "ww_alcoholintank",
						"type": "nvarchar"
					},
					{
						"name": "ww_alcoholpercentage",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_blsampleattachedtospecsheet",
						"type": "nvarchar"
					},
					{
						"name": "ww_bottlealcoholfirsttank",
						"type": "bit"
					},
					{
						"name": "ww_bottlecodeandguiderailsset",
						"type": "nvarchar"
					},
					{
						"name": "ww_bottlecoderrunningandlegible",
						"type": "nvarchar"
					},
					{
						"name": "ww_codeheight",
						"type": "nvarchar"
					},
					{
						"name": "ww_countzeroed",
						"type": "nvarchar"
					},
					{
						"name": "ww_cunos",
						"type": "bit"
					},
					{
						"name": "ww_cunosyesno",
						"type": "bit"
					},
					{
						"name": "ww_customertankername",
						"type": "nvarchar"
					},
					{
						"name": "ww_microsneeded",
						"type": "bit"
					},
					{
						"name": "ww_microsneededyesno",
						"type": "bit"
					},
					{
						"name": "ww_noticerequired",
						"type": "nvarchar"
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_qcstartupid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_qcstartupname",
						"type": "nvarchar"
					},
					{
						"name": "ww_refract",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_refractbtl",
						"type": "nvarchar"
					},
					{
						"name": "ww_refracttank",
						"type": "nvarchar"
					},
					{
						"name": "ww_rockstopper",
						"type": "bit"
					},
					{
						"name": "ww_rockstopperyesno",
						"type": "bit"
					},
					{
						"name": "ww_run",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_runname",
						"type": "nvarchar"
					},
					{
						"name": "ww_tanker",
						"type": "nvarchar"
					},
					{
						"name": "ww_visualcolourmatchtankbtl",
						"type": "bit"
					},
					{
						"name": "ww_wecs",
						"type": "bit"
					},
					{
						"name": "ww_wecsyesno",
						"type": "bit"
					},
					{
						"name": "ww_winemakersignatureid",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_qcstartup"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_run')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "bit"
					},
					{
						"name": "ww_clientcode",
						"type": "nvarchar"
					},
					{
						"name": "ww_clientname",
						"type": "nvarchar"
					},
					{
						"name": "ww_clientworkorderreference",
						"type": "nvarchar"
					},
					{
						"name": "ww_completed",
						"type": "nvarchar"
					},
					{
						"name": "ww_lastcopied",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_microsneeded",
						"type": "bit"
					},
					{
						"name": "ww_newupdate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_pendingupdate",
						"type": "bit"
					},
					{
						"name": "ww_productid",
						"type": "nvarchar"
					},
					{
						"name": "ww_rundate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ww_runid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_runnumber",
						"type": "nvarchar"
					},
					{
						"name": "ww_runproductionline",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_stocktoconsumecasevariability",
						"type": "nvarchar"
					},
					{
						"name": "ww_stocktoconsumerun",
						"type": "nvarchar"
					},
					{
						"name": "ww_stocktoconsumestockcode",
						"type": "nvarchar"
					},
					{
						"name": "ww_stocktoconsumestockcodedescription",
						"type": "nvarchar"
					},
					{
						"name": "ww_variety",
						"type": "nvarchar"
					},
					{
						"name": "ww_velcorinrate",
						"type": "nvarchar"
					},
					{
						"name": "ww_vintage",
						"type": "nvarchar"
					},
					{
						"name": "ww_vintagevariety",
						"type": "nvarchar"
					},
					{
						"name": "ww_winehandling",
						"type": "nvarchar"
					},
					{
						"name": "ww_workorderid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_workordertype",
						"type": "nvarchar"
					},
					{
						"name": "ww_workorderupdatedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_run"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_runreportbottlelabelpack')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "bit"
					},
					{
						"name": "crc5d_runcompleted",
						"type": "nvarchar"
					},
					{
						"name": "ww_billofmaterials",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_bomcompleted",
						"type": "bit"
					},
					{
						"name": "ww_cases1",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_cases2",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_cases3",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_cases4",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_cases5",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_casestotal1",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_casestotal2",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_casestotal3",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_casestotal4",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_casestotal5",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_internalnotes",
						"type": "nvarchar"
					},
					{
						"name": "ww_name",
						"type": "nvarchar"
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_palletsbins1",
						"type": "nvarchar"
					},
					{
						"name": "ww_palletsbins2",
						"type": "nvarchar"
					},
					{
						"name": "ww_palletsbins3",
						"type": "nvarchar"
					},
					{
						"name": "ww_palletsbins4",
						"type": "nvarchar"
					},
					{
						"name": "ww_palletsbins5",
						"type": "nvarchar"
					},
					{
						"name": "ww_palletsbinseachcontaining2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_palletsbinseachcontaining3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_palletsbinseachcontaining4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_palletsbinseachcontaining5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_pendingupdate",
						"type": "bit"
					},
					{
						"name": "ww_pluscasesdispatchedoffline",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_productionnotes",
						"type": "nvarchar"
					},
					{
						"name": "ww_runreportbottlelabelpackid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_runreportsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_totalcasesproduced",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_totalcasestowarehouse",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_runreportbottlelabelpack"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_site')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "bit"
					},
					{
						"name": "ww_siteid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_siteidlookup",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_sitename",
						"type": "nvarchar"
					},
					{
						"name": "ww_siterunnumberprefix",
						"type": "varchar"
					},
					{
						"name": "ww_wwsitecode",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_site"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_stockcheckin')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "bit"
					},
					{
						"name": "ww_billofmaterials",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_bottlesbroken",
						"type": "nvarchar"
					},
					{
						"name": "ww_comments",
						"type": "nvarchar"
					},
					{
						"name": "ww_damagedcaps",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_damageslabels",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_deleteline",
						"type": "bit"
					},
					{
						"name": "ww_lpn",
						"type": "nvarchar"
					},
					{
						"name": "ww_name",
						"type": "nvarchar"
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_productionline",
						"type": "nvarchar"
					},
					{
						"name": "ww_returnedtostock",
						"type": "nvarchar"
					},
					{
						"name": "ww_stockcheckinid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_washerdryerused",
						"type": "bit"
					},
					{
						"name": "ww_washerdryerusedname",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_stockcheckin"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_stockcheckinentry')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_billofmaterials",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_deleteline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_itemcode",
						"type": "nvarchar"
					},
					{
						"name": "ww_lpn",
						"type": "nvarchar"
					},
					{
						"name": "ww_name",
						"type": "nvarchar"
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_quantitydecimal",
						"type": "decimal",
						"precision": 11,
						"scale": 5
					},
					{
						"name": "ww_run",
						"type": "nvarchar"
					},
					{
						"name": "ww_stockcheckinentryid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_timeloaded",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_stockcheckinentry"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_supervisorsignoff')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_alldgremovedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_anycapbottlechangessig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappercompressioncorrectsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappercorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappercorrectdispenserclearancesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappercutcapssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappergasflowinbottlemouthsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappergasflowmetersig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappermissingcapdetectorsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertankgassig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertopplateneckguidesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertuckchallengetestsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertuckthreadredrawsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcorrectcorkingbellssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkheadspacepressuresig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corktimingsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_depalbottleboardfilledoutsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_depalsummarysheetcorrectsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_fillercorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_fillercorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_fillerlowfilldetectorsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_filtrationcorrecttospecsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_filtrationcorrectvalvesopenclosedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxallcapstorqueddown",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectcompression",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectdispenserplateclearance",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectscrewcappercompression",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectspringsincapperheads",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxtorquesettings",
						"type": "nvarchar"
					},
					{
						"name": "ww_missinglabelsensorsonsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_name",
						"type": "nvarchar"
					},
					{
						"name": "ww_notes",
						"type": "nvarchar"
					},
					{
						"name": "ww_operator",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_petcorrectspringsincappersig",
						"type": "nvarchar"
					},
					{
						"name": "ww_petlaserpowerturneddownsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_preflightchecksheetcompletedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_pumpflow",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinsercorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinsercorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinserfullcoveragesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinserlowpressurecutoutsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_run",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_supervisorsignoffid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_visibleglassonthelinesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_volumedifference",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_supervisorsignoff"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_supervisorsignoffbom')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "crc5d_checkbottlelasercodelegible",
						"type": "nvarchar"
					},
					{
						"name": "crc5d_correctppe",
						"type": "nvarchar"
					},
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_alldgremoved",
						"type": "bit"
					},
					{
						"name": "ww_alldgremovedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_anycapbottlechanges",
						"type": "bit"
					},
					{
						"name": "ww_anycapbottlechangessig",
						"type": "nvarchar"
					},
					{
						"name": "ww_billofmaterials",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_cappercompressioncorrectsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappercorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappercorrectdispenserclearancesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappercutcapssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappergasflowinbottlemouthsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappergasflowmetersig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappermissingcapdetectorsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertankgassig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertopplateneckguidesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertuckchallengetestsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_cappertuckthreadredrawsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcorrectcorkingbellssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkcorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corkheadspacepressuresig",
						"type": "nvarchar"
					},
					{
						"name": "ww_corktimingsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_depalbottleboardfilledoutsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_depalsummarysheetcorrectsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_fillercorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_fillercorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_fillerlowfilldetectorsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_filtrationcorrecttospecsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_filtrationcorrectvalvesopenclosedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_labelpreflightchecksheetcompletedsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxallcapstorqueddown",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectcompression",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectdispenserplateclearance",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectscrewcappercompression",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxcorrectspringsincapperheads",
						"type": "nvarchar"
					},
					{
						"name": "ww_luxtorquesettings",
						"type": "nvarchar"
					},
					{
						"name": "ww_missinglabelsensorsonsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_name",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_notes",
						"type": "nvarchar"
					},
					{
						"name": "ww_operatorcode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_petcorrectspringsincappersig",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_petlaserpowerturneddownsig",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_preflightchecksheetcompletedsig",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_pumpflow",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinsercorrectchangepartssig",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinsercorrectheightsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinserfullcoveragesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_rinserlowpressurecutoutsig",
						"type": "nvarchar"
					},
					{
						"name": "ww_supervisorsignoffbomid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_visibleglassonthelinesig",
						"type": "nvarchar"
					},
					{
						"name": "ww_volumedifference",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_supervisorsignoffbom"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_supervisorsignoffbomhourlycheck')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_Allknivesbladesandscissorslabelled",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_AllrinserjetsworkingCCP1100",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_Anybrokenglassinthemachines",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_BillofMaterials",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_Bottlelasercode",
						"type": "nvarchar"
					},
					{
						"name": "ww_BottlesincartonGluestripLabelsandPrintco",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_Comments",
						"type": "nvarchar"
					},
					{
						"name": "ww_Correctlabelheightandgaps",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_Depalbottlerecordfilledoutcorrectly",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_Fillerrecordfilledoutcorrectly",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_Labelinkjetcode",
						"type": "nvarchar"
					},
					{
						"name": "ww_Labellerrecordfilledoutcorrectly",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_OperatorCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_PallettypeStackingpatternSlipsheetandwrap",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_PPEwornnoeatingdrinkingchewinggum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_Productionline",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_ScrewcapperclearanceCCP2inspec2530mm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_SupervisorSignoffBOMHourlyCheckId",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_SupervisorSignoffHourlyCheckNae",
						"type": "nvarchar"
					},
					{
						"name": "ww_Timeofcheck",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_supervisorsignoffbomhourlycheck"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_tanker')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "bit"
					},
					{
						"name": "ww_name",
						"type": "nvarchar"
					},
					{
						"name": "ww_site",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_tankerid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ww_volume",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_tanker"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wwsql003_ww_winery')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ww_location",
						"type": "nvarchar"
					},
					{
						"name": "ww_wineryid",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ww_winery"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IOT_TEST_dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "QCEndofRun",
								"type": "DatasetReference"
							},
							"name": "qcendofrun",
							"description": "Import data from QCEndofRun"
						},
						{
							"dataset": {
								"referenceName": "Run",
								"type": "DatasetReference"
							},
							"name": "Run"
						},
						{
							"dataset": {
								"referenceName": "BOM",
								"type": "DatasetReference"
							},
							"name": "Bom"
						},
						{
							"dataset": {
								"referenceName": "ProductionLine",
								"type": "DatasetReference"
							},
							"name": "productionline",
							"description": "Import data from ProductionLine"
						},
						{
							"dataset": {
								"referenceName": "OperatorBottlingDowntime",
								"type": "DatasetReference"
							},
							"name": "operatorbottlingdowntime"
						},
						{
							"dataset": {
								"referenceName": "BottleBatchSummary",
								"type": "DatasetReference"
							},
							"name": "bottlebatchsummary"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ADLS_IOT_TEST_ww_qcendofrun",
								"type": "DatasetReference"
							},
							"name": "wwqcendofrunsink",
							"description": "Export data to ADLS_IOT_TEST_ww_qcendofrun"
						},
						{
							"dataset": {
								"referenceName": "ADLS_IOT_TEST_ww_run",
								"type": "DatasetReference"
							},
							"name": "wwrunsink"
						},
						{
							"dataset": {
								"referenceName": "ADLS_IOT_TEST_ww_billofmaterials",
								"type": "DatasetReference"
							},
							"name": "wwbomsink",
							"description": "Export data to ADLS_ww_billofmaterials"
						},
						{
							"dataset": {
								"referenceName": "ADLS_IOT_TEST_ww_productionline",
								"type": "DatasetReference"
							},
							"name": "wwproductionlinesink"
						},
						{
							"dataset": {
								"referenceName": "ADLS_IOT_TEST_ww_operatorbottlingdowntime",
								"type": "DatasetReference"
							},
							"name": "wwoperatorbottlingdowntimesink",
							"description": "Export data to ADLS_ww_operatorbottlingdowntime"
						},
						{
							"dataset": {
								"referenceName": "ADLS_IOT_TEST_ww_bottlebatchsummary",
								"type": "DatasetReference"
							},
							"name": "wwbottlebatchsummarysink"
						}
					],
					"transformations": [
						{
							"name": "qcendofrunWithPartitionColumn"
						},
						{
							"name": "RunWithPartitionColumns"
						},
						{
							"name": "BOMWithhPartitionColumns"
						},
						{
							"name": "ProductionlineWithPartitionColumn"
						},
						{
							"name": "operatorbottlingdowntimeWithPartitionColumns"
						},
						{
							"name": "bottlebatchsummaryWithPartition"
						}
					],
					"scriptLines": [
						"parameters{",
						"     startTime as string,",
						"     endTime as string",
						"}",
						"source(output(",
						"          {@odata.etag} as string,",
						"          createdby as string,",
						"          modifiedby as string,",
						"          ownerid as string,",
						"          owningbusinessunit as string,",
						"          owninguser as string,",
						"          ww_run as string,",
						"          createdon as string,",
						"          modifiedon as string,",
						"          statecode as string,",
						"          statuscode as string,",
						"          timezoneruleversionnumber as string,",
						"          ww_bottlecounter as string,",
						"          ww_endofrunsamples as string,",
						"          ww_endofsamples as string,",
						"          ww_flowmeter as string,",
						"          ww_lasercounter as string,",
						"          ww_magnumwhitetape as string,",
						"          ww_operatorcode as string,",
						"          ww_productionline as string,",
						"          ww_qcendofrunid as string,",
						"          ww_qcendofrunname as string,",
						"          ww_rejectcounter as string,",
						"          ww_runendtime as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: (concat('<fetch><entity name=\"ww_qcendofrun\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',$startTime,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',$endTime,'\"/></filter></entity></fetch>'))) ~> qcendofrun",
						"source(output(",
						"          {@odata.etag} as string,",
						"          createdby as string,",
						"          modifiedby as string,",
						"          ownerid as string,",
						"          owningbusinessunit as string,",
						"          owninguser as string,",
						"          ww_runproductionline as string,",
						"          createdon as string,",
						"          modifiedon as string,",
						"          statecode as string,",
						"          statuscode as string,",
						"          timezoneruleversionnumber as string,",
						"          ww_clientcode as string,",
						"          ww_clientname as string,",
						"          ww_clientworkorderreference as string,",
						"          ww_completed as string,",
						"          ww_lastcopied as string,",
						"          ww_microsneeded as string,",
						"          ww_pendingupdate as string,",
						"          ww_rundate as string,",
						"          ww_runid as string,",
						"          ww_runnumber as string,",
						"          ww_stocktoconsumecasevariability as string,",
						"          ww_stocktoconsumerun as string,",
						"          ww_stocktoconsumestockcode as string,",
						"          ww_stocktoconsumestockcodedescription as string,",
						"          ww_variety as string,",
						"          ww_vintage as string,",
						"          ww_vintagevariety as string,",
						"          ww_winehandling as string,",
						"          ww_workorderid as string,",
						"          ww_workordertype as string,",
						"          ww_workorderupdatedon as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: (concat('<fetch><entity name=\"ww_run\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',$startTime,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',$endTime,'\"/></filter></entity></fetch>'))) ~> Run",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: (concat('<fetch><entity name=\"ww_billofmaterials\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',$startTime,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',$endTime,'\"/></filter></entity></fetch>'))) ~> Bom",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: (concat('<fetch><entity name=\"ww_productionlinelookup\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',$startTime,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',$endTime,'\"/></filter></entity></fetch>'))) ~> productionline",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: (concat('<fetch><entity name=\"ww_operatorbottlingdowntime\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',$startTime,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',$endTime,'\"/></filter></entity></fetch>'))) ~> operatorbottlingdowntime",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: (concat('<fetch><entity name=\"ww_bottlebatchsummary\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',$startTime,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',$endTime,'\"/></filter></entity></fetch>'))) ~> bottlebatchsummary",
						"qcendofrun derive(hour = toString(hour(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))),",
						"          date = concat(toString(year(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(month(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(dayOfMonth(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))))) ~> qcendofrunWithPartitionColumn",
						"Run derive(hour = toString(hour(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))),",
						"          date = concat(toString(year(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(month(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(dayOfMonth(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))))) ~> RunWithPartitionColumns",
						"Bom derive(hour = toString(hour(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))),",
						"          date = concat(toString(year(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(month(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(dayOfMonth(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))))) ~> BOMWithhPartitionColumns",
						"productionline derive(hour = toString(hour(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))),",
						"          date = concat(toString(year(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(month(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(dayOfMonth(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))))) ~> ProductionlineWithPartitionColumn",
						"operatorbottlingdowntime derive(hour = toString(hour(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))),",
						"          date = concat(toString(year(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(month(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(dayOfMonth(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))))) ~> operatorbottlingdowntimeWithPartitionColumns",
						"bottlebatchsummary derive(hour = toString(hour(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))),",
						"          date = concat(toString(year(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(month(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))), '-', toString(dayOfMonth(toTimestamp($endTime, 'yyyy-MM-dd\\'T\\'HH:mm:ss'))))) ~> bottlebatchsummaryWithPartition",
						"qcendofrunWithPartitionColumn sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          date,",
						"          hour",
						"     )) ~> wwqcendofrunsink",
						"RunWithPartitionColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          date,",
						"          hour",
						"     )) ~> wwrunsink",
						"BOMWithhPartitionColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          date,",
						"          hour",
						"     )) ~> wwbomsink",
						"ProductionlineWithPartitionColumn sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          date,",
						"          hour",
						"     )) ~> wwproductionlinesink",
						"operatorbottlingdowntimeWithPartitionColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          date,",
						"          hour",
						"     )) ~> wwoperatorbottlingdowntimesink",
						"bottlebatchsummaryWithPartition sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          date,",
						"          hour",
						"     )) ~> wwbottlebatchsummarysink"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD Databricks Downtimes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IsNewData",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource",
								"query": {
									"value": "@concat('<fetch><entity name=\"crc5d_newtable\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',pipeline().parameters.triggerStart,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',pipeline().parameters.triggerEnd,'\"/></filter></entity></fetch>')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DowntimesProd",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If Condition Downtimes",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "IsNewData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(activity('IsNewData').output, 'firstRow')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Downtimes_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "CommonDataServiceForAppsSource",
											"query": {
												"value": "@concat('<fetch><entity name=\"crc5d_newtable\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',pipeline().parameters.triggerStart,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',pipeline().parameters.triggerEnd,'\"/></filter></entity></fetch>')",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DowntimesProd",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLS_DowntimePROD",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "bronze-silver-gold_copy1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Downtimes_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/databricks-sp-iot-prod/adb-iot/ETL/azure-data-factory/dataverse-bronze-silver-gold",
										"baseParameters": {
											"DROP_DATAVERSE_DEFAULTS": {
												"value": "@pipeline().parameters.dropDataverseDefaults",
												"type": "Expression"
											},
											"MODIFIEDON_COLUMN": {
												"value": "@pipeline().parameters.modifiedonColumn",
												"type": "Expression"
											},
											"PARTITION_COLUMN": {
												"value": "@pipeline().parameters.partitionColumn",
												"type": "Expression"
											},
											"TABLE_NAME": {
												"value": "@pipeline().parameters.tableName",
												"type": "Expression"
											},
											"SECONDARY_PARTITION": {
												"value": "@pipeline().parameters.partitionBySecondary",
												"type": "Expression"
											},
											"SECONDARY_PARTITION_NAME": {
												"value": "@pipeline().parameters.secondaryPartitionColumnName",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "adb_iot_prod",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "oee-trigger_copy1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "bronze-silver-gold_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/databricks-sp-iot-prod/adb-iot/BI/triggers/oee_interval_trigger"
									},
									"linkedServiceName": {
										"referenceName": "adb_iot_prod",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"triggerStart": {
						"type": "string"
					},
					"triggerEnd": {
						"type": "string"
					},
					"modifiedonColumn": {
						"type": "string",
						"defaultValue": "modifiedon"
					},
					"partitionColumn": {
						"type": "string",
						"defaultValue": "crc5d_newtableid"
					},
					"tableName": {
						"type": "string",
						"defaultValue": "crc5d_newtable"
					},
					"partitionBySecondary": {
						"type": "string",
						"defaultValue": "false"
					},
					"secondaryPartitionColumnName": {
						"type": "string",
						"defaultValue": "false"
					},
					"dropDataverseDefaults": {
						"type": "string",
						"defaultValue": "false"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}