DataVerseToSQL/linkedTemplates/ArmTemplate_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "crc5d_newtableid"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "crc5d_newtable"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_dropDataverseDefaults": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-runstartends-1day_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"test-databricks-runstartends-1day_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"test-databricks-runstartends-1day_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"test-databricks-runstartends-1day_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "crc5d_runstartendid"
		},
		"test-databricks-runstartends-1day_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "crc5d_runstartend"
		},
		"test-databricks-runstartends-1day_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-runstartends-1day_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "ww_billofmaterialsid"
		},
		"test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "ww_billofmaterials"
		},
		"test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-ww_run-1day_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"test-databricks-ww_run-1day_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"test-databricks-ww_run-1day_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"test-databricks-ww_run-1day_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "ww_runid"
		},
		"test-databricks-ww_run-1day_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "ww_run"
		},
		"test-databricks-ww_run-1day_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-ww_run-1day_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/test-databricks-downtimes-1day')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "G2 Dataverse to DatabricksTEST Downtimes",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_secondaryPartitionColumnName')]",
						"dropDataverseDefaults": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_dropDataverseDefaults')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2024-12-03T21:00:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test-databricks-runstartends-1day')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "G2 Dataverse to Databricks RunStartEndsTEST",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('test-databricks-runstartends-1day_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('test-databricks-runstartends-1day_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('test-databricks-runstartends-1day_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('test-databricks-runstartends-1day_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('test-databricks-runstartends-1day_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('test-databricks-runstartends-1day_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('test-databricks-runstartends-1day_properties_pipeline_parameters_secondaryPartitionColumnName')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2024-12-03T21:00:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test-databricks-ww_billofmaterials-1day')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "G2 Dataverse to DatabricksTEST BOMS",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_secondaryPartitionColumnName')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2024-12-04T01:00:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test-databricks-ww_run-1day')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "G2 Dataverse to DatabricksTEST Run",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('test-databricks-ww_run-1day_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('test-databricks-ww_run-1day_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('test-databricks-ww_run-1day_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('test-databricks-ww_run-1day_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('test-databricks-ww_run-1day_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('test-databricks-ww_run-1day_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('test-databricks-ww_run-1day_properties_pipeline_parameters_secondaryPartitionColumnName')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2024-12-03T01:00:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_operatorbottlinghourly1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Hourly Operator Bottling",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_authorisedsig",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_authorisedsig",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_autolevelmanometer",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_autolevelmanometer",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_bardifferential",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_bardifferential",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlecodesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottlecodesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlecoloursig",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottlecoloursig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlelasersticker",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_bottlelasersticker",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlelaserstickersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottlelaserstickersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlenumberasperlasercoder",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_bottlenumberasperlasercoder",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlerubmark",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_bottlerubmark",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottleshapesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottleshapesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlevacuum",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_bottlevacuum",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_bottlevacuumaccordingtorecipe",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_bottlevacuumaccordingtorecipe",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_bottlingfrom",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_bottlingfrom",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlingto",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_bottlingto",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bowlmn2pressure",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_bowlmn2pressure",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_bowlvacuum",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_bowlvacuum",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_bucketsflowedintime",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_bucketsflowedintime",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_bucketsflowedtime",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_bucketsflowedtime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_capdetectoronsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_capdetectoronsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_charmattankc02",
											"type": "String"
										},
										"sink": {
											"name": "ww_charmattankc02",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_checkdocketandphysicallycheckwineisrun",
											"type": "String"
										},
										"sink": {
											"name": "ww_checkdocketandphysicallycheckwineisrun",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_chippednecks",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_chippednecks",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_closuretypechecked",
											"type": "String"
										},
										"sink": {
											"name": "ww_closuretypechecked",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_co2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_co2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_collectexportsamples",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_collectexportsamples",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_corkinsertion",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkinsertion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkerclearance",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkerclearance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkervacuum",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_corkervacuum",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_corkervacuum08to10bar",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_corkervacuum08to10bar",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_counterpressureinlet",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_counterpressureinlet",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_counterpressureoutlet",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_counterpressureoutlet",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_datecurrentbottleopened",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_Datecurrentbottleopened",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_deoxn2pressre",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_deoxn2pressre",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_deoxvacuumpressure",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_deoxvacuumpressure",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_dissolvedc02inbottle",
											"type": "String"
										},
										"sink": {
											"name": "ww_dissolvedc02inbottle",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_do2frombottle",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_do2frombottle",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_do2fromvessel",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_do2fromvessel",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_exportsamplespicked",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_exportsamplespicked",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_fillerbowlpressure",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_fillerbowlpressure",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fillerbowltemperature",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_fillerbowltemperature",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_fillerhead",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_fillerhead",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fillerspeed",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_fillerspeed",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillertemperature40c",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_fillertemperature40c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_fillertipsealsvisualchecksig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillertipsealsvisualchecksig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillheight",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_fillheight",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fillheightchallengetested",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillheightchallengetested",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillheightdetectoronsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillheightdetectoronsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filterdifferential",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_filterdifferential",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_filtrationpressuregauge",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_filtrationpressuregauge",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_finalfilter",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_finalfilter",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_flowmetercheck",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_flowmetercheck",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_flowedfrom",
											"type": "String"
										},
										"sink": {
											"name": "ww_flowedfrom",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_flowedto",
											"type": "String"
										},
										"sink": {
											"name": "ww_flowedto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_foreignbodyvisualcheck",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_foreignbodyvisualcheck",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_foreignmattersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_foreignmattersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_gasblowonbottle",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_gasblowonbottle",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_gascoveronbowl",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_gascoveronbowl",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_gasfeedtocorker",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_gasfeedtocorker",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_gasfeedtocorker1030kpa",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_gasfeedtocorker1030kpa",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "crc5d_gasfirstblow",
											"type": "Decimal"
										},
										"sink": {
											"name": "crc5d_gasfirstblow",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_gasflowratetobowlline2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_gasflowratetobowlline2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_gasflowtocap",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_gasflowtocap",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_gaspressuretobottlingtank",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_gaspressuretobottlingtank",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_glassfragments",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_glassfragments",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_glassfragmentscheck",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_glassfragmentscheck",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_glassfragmentsexplanation",
											"type": "String"
										},
										"sink": {
											"name": "ww_glassfragmentsexplanation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_glassfragmentswithblank",
											"type": "Int32"
										},
										"sink": {
											"name": "crc5d_glassfragmentswithblank",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_headspacemeasurement",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_headspacemeasurement",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_headspacepressure",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_headspacepressure",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_inbottle",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_inbottle",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_intank",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_intank",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_inertgaspressure",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_inertgaspressure",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_kegsflowedintime",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_kegsflowedintime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_knifebladecheck",
											"type": "String"
										},
										"sink": {
											"name": "ww_knifebladecheck",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_lasercodeasperspec",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_lasercodeasperspec",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_lasercodeonbottle",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_lasercodeonbottle",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_lenticularfilter",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_lenticularfilter",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_lenticularfilteroptions",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_LenticularFilteroptions",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_litmuspapertestinproduct",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_litmuspapertestinproduct",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_n2buffervesselpressure",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_n2buffervesselpressure",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_neckcheck",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_neckcheck",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_notes",
											"type": "String"
										},
										"sink": {
											"name": "ww_notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_numberofforeignbodiespresent",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_numberofforeignbodiespresent",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_numberofkegs",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_numberofkegs",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_operatorbottlinghourlyid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_operatorbottlinghourlyid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletnumber",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pittingsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_pittingsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_prefilter",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_prefilter",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_prepcheck2",
											"type": "String"
										},
										"sink": {
											"name": "ww_prepcheck2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_prepcheck3",
											"type": "String"
										},
										"sink": {
											"name": "ww_prepcheck3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productcheckedandmatches",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productcheckedandmatches",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_prepchecksig",
											"type": "String"
										},
										"sink": {
											"name": "ww_prepchecksig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pumpnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_pumpnumber",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pumpnumberbendpanel",
											"type": "String"
										},
										"sink": {
											"name": "ww_pumpnumberbendpanel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_pumpspeed",
											"type": "String"
										},
										"sink": {
											"name": "ww_pumpspeed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										},
										"sink": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rimdetectionlighton",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_rimdetectionlighton",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_rinseheadinspection",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_rinseheadinspection",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rinseheadmedium",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_rinseheadmedium",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rinsejetcoveragesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsejetcoveragesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserbottlegripperclearancesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserbottlegripperclearancesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercleanliness",
											"type": "String"
										},
										"sink": {
											"name": "ww_RinserCleanliness",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercleanlinesssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_RinserCleanlinessSig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsergassupplyco2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_rinsergassupplyco2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rinsergaswatersupply",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_rinsergaswatersupply",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rinsergaswatersupplyline1",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_rinsergaswatersupplyline1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rinsergaswatersupplyline2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_rinsergaswatersupplyline2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rinsern2pressure",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_rinsern2pressure",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rinserpressurefluctuations",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_rinserpressurefluctuations",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rinsertipsvisualchecksig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsertipsvisualchecksig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserwatersupply",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_rinserwatersupply",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rinsewater045mprefilter",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_rinsewater045mprefilter",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rinsewater12mprefilter",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_rinsewater12mprefilter",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rockstopper",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_rockstopper",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rockstopperfilter",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_rockstopperfilter",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_samplessig",
											"type": "String"
										},
										"sink": {
											"name": "ww_samplessig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_screencheckfordoserate",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_screencheckfordoserate",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_selflevelling",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_selflevelling",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "crc5d_shakendorequired",
											"type": "Boolean"
										},
										"sink": {
											"name": "crc5d_shakendorequired",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "crc5d_shakendostartofrun",
											"type": "Decimal"
										},
										"sink": {
											"name": "crc5d_shakendostartofrun",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_sparkling",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_sparkling",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_stockcodesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_stockcodesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tankchangeflowedintimesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_tankchangeflowedintimesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tankgas",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_tankgas",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_tankjointscheckedfornleakssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_tankjointscheckedfornleakssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tankpressure",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_tankpressure",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_tanker",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_tanker",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_temperature",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_temperature",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_timeofauthorisedauditcheck",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_timeofauthorisedauditcheck",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_timeofcheckmicrosampletaken",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_timeofcheckmicrosampletaken",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_tkinjectionmanometer",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_tkinjectionmanometer",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_velcorinalarmssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_velcorinalarmssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_velcorincannisterbatch",
											"type": "String"
										},
										"sink": {
											"name": "ww_VelcorinCannisterBatch",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_velcorincannisterchanged",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_Velcorincannisterchanged",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_velcorincannisterexpiry",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_VelcorinCannisterExpiry",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_velcorinchangebottlelightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_velcorinchangebottlelightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_velcorindosingrate",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_velcorindosingrate",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_velcorntime",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_velcorntime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_venttubecount",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_venttubecount",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_visualfloatiescheckedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_visualfloatiescheckedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_visualleakssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_visualleakssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_warmingtunnelrunningtemperature",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_warmingtunnelrunningtemperature",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_winetemperatureinternalprobe40c",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_winetemperatureinternalprobe40c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_winetempinternalprobe",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_winetempinternalprobe",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_xraychallengetest",
											"type": "String"
										},
										"sink": {
											"name": "ww_xraychallengetest",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "HourlyOperatorBottling1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_operatorbottlinghourly21",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hourly Operator Bottling",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ww_operatorbottlinghourly]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Hourly Operator Bottling",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_operatorbottlinghourly]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_qcendofrun1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "QC End of Run",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_bottlecounter",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_bottlecounter",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlingfromtextlookup",
											"type": "String"
										},
										"sink": {
											"name": "ww_BottlingFromtextlookup",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlingto",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_BottlingTo",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_checktime",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_CheckTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_comments",
											"type": "String"
										},
										"sink": {
											"name": "ww_Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_endofrunsamples",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_endofrunsamples",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_finalbottlecount",
											"type": "String"
										},
										"sink": {
											"name": "ww_FinalBottleCount",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_endofsamples",
											"type": "String"
										},
										"sink": {
											"name": "ww_endofsamples",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_flowmeter",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_flowmeter",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_flowmetercheck",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Flowmetercheck",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_glassfragmentscheck",
											"type": "String"
										},
										"sink": {
											"name": "ww_GlassFragmenstCheck",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_inbottle",
											"type": "Int32"
										},
										"sink": {
											"name": "Ww_Inbottle",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_lasercounter",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_lasercounter",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_magnumwhitetape",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_magnumwhitetape",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_qcendofrunid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_qcendofrunid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_qcendofrunname",
											"type": "String"
										},
										"sink": {
											"name": "ww_qcendofrunname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rejectcounter",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_rejectcounter",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rinseheadmedium",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Rinseheadmedium",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rinsergassupplyccp1",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_RinserGasSupplyCCP1",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_runendtime",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_runendtime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_velcorinproductionmodeoff",
											"type": "String"
										},
										"sink": {
											"name": "ww_VelcorinProductionmodeoff",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_velcorinsystemdrained",
											"type": "String"
										},
										"sink": {
											"name": "ww_VelcorinSystemdrained",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "QCEndofRun1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_qcendofrun1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "QC End of Run",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_qcendofrun]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "QC End of Run",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Failed Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_qcendofrun]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_stockcheckinentry_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stock checkin entry",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Last modifiedon",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource",
								"query": {
									"value": "<fetch>\n  <entity name=\"ww_stockcheckinentry\">\n    <all-attributes />\n    <filter>\n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\n    </filter>\n  </entity>\n</fetch>\n",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"ww_stockcheckinentryid"
									]
								},
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "crc5d_cleanskinstockcode",
											"type": "Int32"
										},
										"sink": {
											"name": "crc5d_cleanskinstockcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "crc5d_cleanskinstockcodereason",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_cleanskinstockcodereason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_itemcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_itemcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_lasercodematchesreason",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_lasercodematchesreason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_lasercodematchesrunnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "crc5d_lasercodematchesrunnumber",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_lpn",
											"type": "String"
										},
										"sink": {
											"name": "ww_lpn",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_quantitydecimal",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_quantitydecimal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										},
										"sink": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "String"
										},
										"sink": {
											"name": "ww_run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sequence",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_sequence",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_stockcheckinentryid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_stockcheckinentryid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_timeloaded",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_timeloaded",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Stockcheckinentry",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_stockcheckinentry",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stock checkin entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_stockcheckinentry]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "daniela.gomez@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Stock checkin entry",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "daniela.gomez@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Last modifiedon",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)) AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_stockcheckinentry];",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "wwsql003_ww_stockcheckinentry",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every 10 minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ww_bottlebatchsummary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_runreportbottlelabelpack",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2023-02-13T23:06:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every 30 Minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ww_cartonusage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_cartonusagedetail",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysisrecheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_tanker",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_site",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_filleroperation",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcendofrun",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qchourlycheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcrecheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcstartup",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_run",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_stockcheckin",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_stockcheckinentry",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_supervisorsignoff",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_supervisorsignoffbom",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_closurebatchsummary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_hourlylabellinglogsheet",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_hourlytorqueandvolume",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labelchange",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labellingissues",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labellingpreflight",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operator",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysisgasadjustments",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlinghourly",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlingdowntime",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlingbreakage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysissignoff",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_billofmaterials",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_bottlebatchrejects",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_palletstacking",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysissulphuradj",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_supervisorsignoffbomhourlycheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_hourlycartonusage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_palletstackinghourly",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_winery",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2025-01-14T19:15:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every Half Hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "BOM",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ProductionLine",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Site",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_auditlog",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2021-03-25T12:31:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Job Costing - Weekly')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "IOT_Run Databricks to sql",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2024-12-06T00:46:00",
						"timeZone": "New Zealand Standard Time",
						"schedule": {
							"weekDays": [
								"Saturday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Prebottlinganalysis')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysis",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2025-01-14T19:49:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": []
		}
	]
}