DataVerseToSQL/linkedTemplates/ArmTemplate_12.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		},
		"prod-databricks-downtimes-30mins_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"prod-databricks-downtimes-30mins_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"prod-databricks-downtimes-30mins_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"prod-databricks-downtimes-30mins_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "crc5d_newtableid"
		},
		"prod-databricks-downtimes-30mins_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "crc5d_newtable"
		},
		"prod-databricks-downtimes-30mins_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"prod-databricks-downtimes-30mins_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"prod-databricks-downtimes-30mins_properties_pipeline_parameters_dropDataverseDefaults": {
			"type": "string",
			"defaultValue": "false"
		},
		"prod-databricks-runstartends-30mins_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"prod-databricks-runstartends-30mins_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"prod-databricks-runstartends-30mins_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"prod-databricks-runstartends-30mins_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "crc5d_runstartendid"
		},
		"prod-databricks-runstartends-30mins_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "crc5d_runstartend"
		},
		"prod-databricks-runstartends-30mins_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"prod-databricks-runstartends-30mins_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"prod-databricks-systemuser-1day_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"prod-databricks-systemuser-1day_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"prod-databricks-systemuser-1day_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"prod-databricks-systemuser-1day_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "systemuserid"
		},
		"prod-databricks-systemuser-1day_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "systemuser"
		},
		"prod-databricks-systemuser-1day_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"prod-databricks-systemuser-1day_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"prod-databricks-systemuser-1day_properties_pipeline_parameters_dropDataverseDefaults": {
			"type": "string",
			"defaultValue": "false"
		},
		"prod-databricks-ww_billofmaterials-1hour_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"prod-databricks-ww_billofmaterials-1hour_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"prod-databricks-ww_billofmaterials-1hour_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"prod-databricks-ww_billofmaterials-1hour_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "ww_billofmaterialsid"
		},
		"prod-databricks-ww_billofmaterials-1hour_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "ww_billofmaterials"
		},
		"prod-databricks-ww_billofmaterials-1hour_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"prod-databricks-ww_billofmaterials-1hour_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"prod-databricks-ww_run-1hour_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"prod-databricks-ww_run-1hour_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"prod-databricks-ww_run-1hour_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"prod-databricks-ww_run-1hour_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "ww_runid"
		},
		"prod-databricks-ww_run-1hour_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "ww_run"
		},
		"prod-databricks-ww_run-1hour_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"prod-databricks-ww_run-1hour_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "crc5d_newtableid"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "crc5d_newtable"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-downtimes-1day_properties_pipeline_parameters_dropDataverseDefaults": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-runstartends-1day_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"test-databricks-runstartends-1day_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"test-databricks-runstartends-1day_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"test-databricks-runstartends-1day_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "crc5d_runstartendid"
		},
		"test-databricks-runstartends-1day_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "crc5d_runstartend"
		},
		"test-databricks-runstartends-1day_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-runstartends-1day_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "ww_billofmaterialsid"
		},
		"test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "ww_billofmaterials"
		},
		"test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-ww_run-1day_properties_pipeline_parameters_triggerStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"test-databricks-ww_run-1day_properties_pipeline_parameters_triggerEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"test-databricks-ww_run-1day_properties_pipeline_parameters_modifiedonColumn": {
			"type": "string",
			"defaultValue": "modifiedon"
		},
		"test-databricks-ww_run-1day_properties_pipeline_parameters_partitionColumn": {
			"type": "string",
			"defaultValue": "ww_runid"
		},
		"test-databricks-ww_run-1day_properties_pipeline_parameters_tableName": {
			"type": "string",
			"defaultValue": "ww_run"
		},
		"test-databricks-ww_run-1day_properties_pipeline_parameters_partitionBySecondary": {
			"type": "string",
			"defaultValue": "false"
		},
		"test-databricks-ww_run-1day_properties_pipeline_parameters_secondaryPartitionColumnName": {
			"type": "string",
			"defaultValue": "false"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ww_runreportbottlelabelpack')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run Report - BottleLabelPack",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Last modifiedon",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource",
								"query": {
									"value": "<fetch>\n  <entity name=\"ww_runreportbottlelabelpack\">\n    <all-attributes />\n    <filter>\n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\n    </filter>\n  </entity>\n</fetch>\n",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"ww_runreportbottlelabelpackid"
									]
								},
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "crc5d_runcompleted",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_runcompleted",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bomcompleted",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_bomcompleted",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_cases1",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases3",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases4",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases5",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_cases5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal1",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal3",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal4",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal5",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_casestotal5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_downtimehours",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_downtimehours",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_internalnotes",
											"type": "String"
										},
										"sink": {
											"name": "ww_internalnotes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins1",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbins1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins2",
											"type": "String"
										},
										"sink": {
											"name": "ww_palletsbins2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins3",
											"type": "String"
										},
										"sink": {
											"name": "ww_palletsbins3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins4",
											"type": "String"
										},
										"sink": {
											"name": "ww_palletsbins4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins5",
											"type": "String"
										},
										"sink": {
											"name": "ww_palletsbins5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining2",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbinseachcontaining2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining3",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbinseachcontaining3",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining4",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbinseachcontaining4",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining5",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_palletsbinseachcontaining5",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pendingupdate",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_pendingupdate",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_pluscasesdispatchedoffline",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_pluscasesdispatchedoffline",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_productionlabourhours",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_productionlabourhours",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionnotes",
											"type": "String"
										},
										"sink": {
											"name": "ww_productionnotes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_runreportbottlelabelpackid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_runreportbottlelabelpackid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_runreportsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_runreportsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_totalcasesproduced",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_totalcasesproduced",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_totalcasestowarehouse",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_totalcasestowarehouse",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RunReportBottleLabelPack",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_runreportbottlelabelpack",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run Report - BottleLabelPack",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_runreportbottlelabelpack]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure BOM",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Run Report - BottleLabelPack",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Last modifiedon",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)) AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_runreportbottlelabelpack];",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "wwsql003_ww_runreportbottlelabelpack",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_site')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "site",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Last modifiedon",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource",
								"query": {
									"value": "<fetch>\n  <entity name=\"ww_site\">\n    <all-attributes />\n    <filter>\n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\n    </filter>\n  </entity>\n</fetch>\n",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"ww_siteid"
									]
								},
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_siteid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_siteid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_siteidlookup",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_siteidlookup",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_sitename",
											"type": "String"
										},
										"sink": {
											"name": "ww_sitename",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_siterunnumberprefix",
											"type": "String"
										},
										"sink": {
											"name": "ww_siterunnumberprefix",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_wwsitecode",
											"type": "String"
										},
										"sink": {
											"name": "ww_wwsitecode",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Site",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_site",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "site",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ww_site]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "site",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Last modifiedon",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)) AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_site];",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "wwsql003_ww_site",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_stockcheckin')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stock checkin",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Last modifiedon",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource",
								"query": {
									"value": "<fetch>\n  <entity name=\"ww_stockcheckin\">\n    <all-attributes />\n    <filter>\n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\n    </filter>\n  </entity>\n</fetch>\n",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"ww_stockcheckinid"
									]
								},
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlesbroken",
											"type": "String"
										},
										"sink": {
											"name": "ww_bottlesbroken",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_comments",
											"type": "String"
										},
										"sink": {
											"name": "ww_comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_damagedcaps",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_damagedcaps",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_damageslabels",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_damageslabels",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_lpn",
											"type": "String"
										},
										"sink": {
											"name": "ww_lpn",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_returnedtostock",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_returnedtostock",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_returnedtostockdecimal",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_ReturnedtostockDecimal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_stockcheckinid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_stockcheckinid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_washerdryerused",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_washerdryerused",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "StockCheckin",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_stockcheckin",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stock checkin",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_stockcheckin]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Stock checkin",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Last modifiedon",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)) AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_stockcheckin];",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "wwsql003_ww_stockcheckin",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_stockcheckinentry')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stock checkin entry",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Last modifiedon",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource",
								"query": {
									"value": "<fetch>\n  <entity name=\"ww_stockcheckinentry\">\n    <all-attributes />\n    <filter>\n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\n    </filter>\n  </entity>\n</fetch>\n",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"ww_stockcheckinentryid"
									]
								},
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_itemcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_itemcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_lpn",
											"type": "String"
										},
										"sink": {
											"name": "ww_lpn",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_quantitydecimal",
											"type": "Decimal"
										},
										"sink": {
											"name": "ww_quantitydecimal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										},
										"sink": {
											"name": "ww_reasonfordeletion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "String"
										},
										"sink": {
											"name": "ww_run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sequence",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_sequence",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_stockcheckinentryid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_stockcheckinentryid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_timeloaded",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_timeloaded",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Stockcheckinentry",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_stockcheckinentry",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stock checkin entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_stockcheckinentry]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Stock checkin entry",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Last modifiedon",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)) AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_stockcheckinentry];",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "wwsql003_ww_stockcheckinentry",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_supervisorsignoff')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Supervisor Signoff",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Last modifiedon",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										},
										"sink": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertankgassig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertankgassig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corktimingsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corktimingsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_notes",
											"type": "String"
										},
										"sink": {
											"name": "ww_notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operator",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pumpflow",
											"type": "String"
										},
										"sink": {
											"name": "ww_pumpflow",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_supervisorsignoffid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_volumedifference",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_volumedifference",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SupervisorSignoff",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_supervisorsignoff",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_supervisorsignoff]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Failed Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Last modifiedon",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {},
							"firstRowOnly": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_supervisorsignoffbom')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Supervisor Signoff BOM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "crc5d_checkbottlelasercodelegible",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_checkbottlelasercodelegible",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_correctppe",
											"type": "String"
										},
										"sink": {
											"name": "crc5d_correctppe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alldgremoved",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_alldgremoved",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_alldgremovedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_anycapbottlechanges",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_anycapbottlechanges",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										},
										"sink": {
											"name": "ww_anycapbottlechangessig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottleregisterchecked",
											"type": "String"
										},
										"sink": {
											"name": "ww_Bottleregisterchecked",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercompressioncorrectsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercorrectdispenserclearancesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappercutcapssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappergasflowinbottlemouthsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappergasflowmetersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_capperknifebladecheck",
											"type": "String"
										},
										"sink": {
											"name": "ww_capperknifebladecheck",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappermissingcapdetectorsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertankgassig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertankgassig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertopplateneckguidesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertuckchallengetestsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_cappertuckthreadredrawsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_caselabellerscissorscheck",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_caselabellerscissorscheck",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_checkbottlelasercodelegibleandcorrect",
											"type": "String"
										},
										"sink": {
											"name": "ww_Checkbottlelasercodelegibleandcorrect",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectcorkingbellssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkcorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corkheadspacepressuresig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corktimingsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_corktimingsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkervacuumpulledinbottles",
											"type": "String"
										},
										"sink": {
											"name": "ww_Corkervacuumpulledinbottles",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_depalbottleboardfilledoutsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_depalsummarysheetcorrectsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_dividersscissorscheck",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_dividersscissorscheck",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillercorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_fillerlowfilldetectorsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationcorrecttospecsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_filtrationcorrectvalvesopenclosedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_isthisrunorganicvegan",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_IsthisrunOrganicVegan",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_knifebladecheck",
											"type": "String"
										},
										"sink": {
											"name": "ww_knifebladecheck",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labelpreflightchecksheetcompletedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_labelpreflightchecksheetcompletedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labellerscissorscheck",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_labellerscissorscheck",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxallcapstorqueddown",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectcompression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectdispenserplateclearance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectscrewcappercompression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxcorrectspringsincapperheads",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										},
										"sink": {
											"name": "ww_luxtorquesettings",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_missinglabelsensorsonsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_notes",
											"type": "String"
										},
										"sink": {
											"name": "ww_notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_operatorcode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										},
										"sink": {
											"name": "ww_petcorrectspringsincappersig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_petlaserpowerturneddownsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_preflightchecksheetcompletedsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pumpflow",
											"type": "String"
										},
										"sink": {
											"name": "ww_pumpflow",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rimdetection",
											"type": "String"
										},
										"sink": {
											"name": "ww_Rimdetection",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsercorrectchangepartssig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinsercorrectheightsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserfullcoveragesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsergassupplyccp1",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_RinserGasSupplyCCP1",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										},
										"sink": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sterilecabin",
											"type": "String"
										},
										"sink": {
											"name": "ww_SterileCabin",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffbomid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_supervisorsignoffbomid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_typeofchange",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Typeofchange",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										},
										"sink": {
											"name": "ww_visibleglassonthelinesig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_volumedifference",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_volumedifference",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SupervisorSignoffBOM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_supervisorsignoffbom",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_supervisorsignoffbom]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_supervisorsignoffbom]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_supervisorsignoffbomhourlycheck')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Supervisor Signoff BOM Hourly Check",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource",
								"query": "<fetch xmlns:generator='MarkMpn.SQL4CDS'>\n  <entity name='ww_supervisorsignoffbomhourlycheck'>\n    <all-attributes />\n    <filter>\n      <condition attribute='ww_billofmaterials' operator='not-null' />\n    </filter>\n  </entity>\n</fetch>"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_allknivesbladesandscissorslabelled",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Allknivesbladesandscissorslabelled",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_allrinserjetsworkingccp1100",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_AllrinserjetsworkingCCP1100",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_anybrokenglassinthemachines",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Anybrokenglassinthemachines",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_BillofMaterials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlelasercode",
											"type": "String"
										},
										"sink": {
											"name": "ww_Bottlelasercode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlesincartongluestriplabelsandprintco",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_BottlesincartonGluestripLabelsandPrintco",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_comments",
											"type": "String"
										},
										"sink": {
											"name": "ww_Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_correctlabelheightandgaps",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Correctlabelheightandgaps",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_deleteline",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_depalbottlerecordfilledoutcorrectly",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Depalbottlerecordfilledoutcorrectly",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillerrecordfilledoutcorrectly",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Fillerrecordfilledoutcorrectly",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_labelinkjetcode",
											"type": "String"
										},
										"sink": {
											"name": "ww_Labelinkjetcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labellerrecordfilledoutcorrectly",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Labellerrecordfilledoutcorrectly",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_OperatorCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pallettypestackingpatternslipsheetandwrap",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_PallettypeStackingpatternSlipsheetandwrap",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_ppewornnoeatingdrinkingchewinggum",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_PPEwornnoeatingdrinkingchewinggum",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_Productionline",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_Reasonfordeletion",
											"type": "String"
										},
										"sink": {
											"name": "ww_Reasonfordeletion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_screwcapperclearanceccp2inspec2530mm",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_ScrewcapperclearanceCCP2inspec2530mm",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffbomhourlycheckid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_SupervisorSignoffBOMHourlyCheckId",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_supervisorsignoffhourlychecknae",
											"type": "String"
										},
										"sink": {
											"name": "ww_SupervisorSignoffHourlyCheckNae",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_timeofcheck",
											"type": "DateTime"
										},
										"sink": {
											"name": "ww_Timeofcheck",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SupervisorSignoffbomhourlycheck",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_supervisorsignoffbomhourlycheck",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM Hourly Check",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_supervisorsignoffbomhourlycheck]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Supervisor Signoff BOM Hourly Check",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "WWSQL_Admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_supervisorsignoffbomhourlycheck]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_tanker')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Tanker",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_inactive",
											"type": "Boolean"
										},
										"sink": {
											"name": "ww_inactive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "ww_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_site",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_site",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_tankerid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_tankerid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_volume",
											"type": "Int32"
										},
										"sink": {
											"name": "ww_volume",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Tanker",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_tanker",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Tanker",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[usp_ww_tanker]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure Tanker",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Tanker",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_tanker]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ww_winery')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Clean",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_clean_ww_winery]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Winery",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clean",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_location",
											"type": "String"
										},
										"sink": {
											"name": "ww_location",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_wineryid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_wineryid",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Winery",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "wwsql003_ww_winery",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Winery",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ww_winery]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure Winery",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Winery",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "wwsql_admins@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod-databricks-downtimes-30mins')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "PROD Databricks Downtimes",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('prod-databricks-downtimes-30mins_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('prod-databricks-downtimes-30mins_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('prod-databricks-downtimes-30mins_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('prod-databricks-downtimes-30mins_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('prod-databricks-downtimes-30mins_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('prod-databricks-downtimes-30mins_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('prod-databricks-downtimes-30mins_properties_pipeline_parameters_secondaryPartitionColumnName')]",
						"dropDataverseDefaults": "[parameters('prod-databricks-downtimes-30mins_properties_pipeline_parameters_dropDataverseDefaults')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 30,
					"startTime": "2024-12-02T18:00:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod-databricks-runstartends-30mins')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "PROD Databricks RunStartEnds",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('prod-databricks-runstartends-30mins_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('prod-databricks-runstartends-30mins_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('prod-databricks-runstartends-30mins_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('prod-databricks-runstartends-30mins_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('prod-databricks-runstartends-30mins_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('prod-databricks-runstartends-30mins_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('prod-databricks-runstartends-30mins_properties_pipeline_parameters_secondaryPartitionColumnName')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 30,
					"startTime": "2024-11-28T01:00:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod-databricks-systemuser-1day')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "PROD Databricks Users",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('prod-databricks-systemuser-1day_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('prod-databricks-systemuser-1day_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('prod-databricks-systemuser-1day_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('prod-databricks-systemuser-1day_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('prod-databricks-systemuser-1day_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('prod-databricks-systemuser-1day_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('prod-databricks-systemuser-1day_properties_pipeline_parameters_secondaryPartitionColumnName')]",
						"dropDataverseDefaults": "[parameters('prod-databricks-systemuser-1day_properties_pipeline_parameters_dropDataverseDefaults')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2024-12-10T21:45:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 1,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod-databricks-ww_billofmaterials-1hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "PROD Databricks ww_billofmaterials",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('prod-databricks-ww_billofmaterials-1hour_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('prod-databricks-ww_billofmaterials-1hour_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('prod-databricks-ww_billofmaterials-1hour_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('prod-databricks-ww_billofmaterials-1hour_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('prod-databricks-ww_billofmaterials-1hour_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('prod-databricks-ww_billofmaterials-1hour_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('prod-databricks-ww_billofmaterials-1hour_properties_pipeline_parameters_secondaryPartitionColumnName')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 1,
					"startTime": "2024-12-04T01:00:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod-databricks-ww_run-1hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "PROD Databricks ww_run",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('prod-databricks-ww_run-1hour_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('prod-databricks-ww_run-1hour_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('prod-databricks-ww_run-1hour_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('prod-databricks-ww_run-1hour_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('prod-databricks-ww_run-1hour_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('prod-databricks-ww_run-1hour_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('prod-databricks-ww_run-1hour_properties_pipeline_parameters_secondaryPartitionColumnName')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 1,
					"startTime": "2024-12-04T01:00:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test-databricks-downtimes-1day')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "G2 Dataverse to DatabricksTEST Downtimes",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_secondaryPartitionColumnName')]",
						"dropDataverseDefaults": "[parameters('test-databricks-downtimes-1day_properties_pipeline_parameters_dropDataverseDefaults')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2024-12-03T21:00:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test-databricks-runstartends-1day')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "G2 Dataverse to Databricks RunStartEndsTEST",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('test-databricks-runstartends-1day_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('test-databricks-runstartends-1day_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('test-databricks-runstartends-1day_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('test-databricks-runstartends-1day_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('test-databricks-runstartends-1day_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('test-databricks-runstartends-1day_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('test-databricks-runstartends-1day_properties_pipeline_parameters_secondaryPartitionColumnName')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2024-12-03T21:00:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test-databricks-ww_billofmaterials-1day')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "G2 Dataverse to DatabricksTEST BOMS",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('test-databricks-ww_billofmaterials-1day_properties_pipeline_parameters_secondaryPartitionColumnName')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2024-12-04T01:00:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test-databricks-ww_run-1day')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "G2 Dataverse to DatabricksTEST Run",
						"type": "PipelineReference"
					},
					"parameters": {
						"triggerStart": "[parameters('test-databricks-ww_run-1day_properties_pipeline_parameters_triggerStart')]",
						"triggerEnd": "[parameters('test-databricks-ww_run-1day_properties_pipeline_parameters_triggerEnd')]",
						"modifiedonColumn": "[parameters('test-databricks-ww_run-1day_properties_pipeline_parameters_modifiedonColumn')]",
						"partitionColumn": "[parameters('test-databricks-ww_run-1day_properties_pipeline_parameters_partitionColumn')]",
						"tableName": "[parameters('test-databricks-ww_run-1day_properties_pipeline_parameters_tableName')]",
						"partitionBySecondary": "[parameters('test-databricks-ww_run-1day_properties_pipeline_parameters_partitionBySecondary')]",
						"secondaryPartitionColumnName": "[parameters('test-databricks-ww_run-1day_properties_pipeline_parameters_secondaryPartitionColumnName')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2024-12-03T01:00:00Z",
					"delay": "00:05:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every 10 minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ww_bottlebatchsummary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_runreportbottlelabelpack",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2023-02-13T23:06:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ww_runreportbottlelabelpack')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every 30 Minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ww_cartonusage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_cartonusagedetail",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysisrecheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_tanker",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_site",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_filleroperation",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcendofrun",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qchourlycheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcrecheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_qcstartup",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_run",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_stockcheckin",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_stockcheckinentry",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_supervisorsignoff",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_supervisorsignoffbom",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_closurebatchsummary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_hourlylabellinglogsheet",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_hourlytorqueandvolume",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labelchange",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labellingissues",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_labellingpreflight",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operator",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysisgasadjustments",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlinghourly",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlingdowntime",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_operatorbottlingbreakage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysissignoff",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_billofmaterials",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_bottlebatchrejects",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_palletstacking",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_prebottlinganalysissulphuradj",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_supervisorsignoffbomhourlycheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_hourlycartonusage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_palletstackinghourly",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ww_winery",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2025-01-14T19:15:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ww_tanker')]",
				"[concat(variables('factoryId'), '/pipelines/ww_site')]",
				"[concat(variables('factoryId'), '/pipelines/ww_stockcheckin')]",
				"[concat(variables('factoryId'), '/pipelines/ww_stockcheckinentry')]",
				"[concat(variables('factoryId'), '/pipelines/ww_supervisorsignoff')]",
				"[concat(variables('factoryId'), '/pipelines/ww_supervisorsignoffbom')]",
				"[concat(variables('factoryId'), '/pipelines/ww_supervisorsignoffbomhourlycheck')]",
				"[concat(variables('factoryId'), '/pipelines/ww_winery')]"
			]
		}
	]
}